[2020-04-24 13:05] alejoe91 commented on #349
Hi Victor,

Yes the CurationsortingExtractor hasn't been updated to to the new way we handle features (with idxs as well).

Would you try to give it a try to implement it the proper way? otherwise just ignoring it for now is fine for me

[2020-04-24 13:40] llobetv commented on #349
I'll give a try,
I remove the precedent comment, It was an error that I add wiht my modifications

[2020-04-28 08:38] Dradeliomecus opened #351 "Cannot import spiketoolkit: No module named 'spikefeatures'"
Hi!

I updated spikeinterface to its later version, and now, when I do `import spiketoolkit as st` or `import spikeinterface.extractors as se`, I get the following error:

[code]

I tried uninstalling spikeinterface and installing it again, but the error persists.

[2020-04-28 08:44] alejoe91 commented on #351
Hi @Dradeliomecus

the dependency was accidentally removed in the last commit (https://github.com/SpikeInterface/spiketoolkit/pull/352).

As the erro suggests, you are missing the `spikefeatures` package.
You can just `pip install spikefeatures` :)

[2020-04-28 08:50] Dradeliomecus commented on #351
Thank you!

It now works :)

[2020-04-28 08:50] #351 closed

[2020-04-28 08:52] alejoe91 commented on #336
Thanks again for looking into this @llobetv

Will close the issue (and I promise we'll improve the docs)!

[2020-04-28 08:52] #336 closed

[2020-04-28 09:23] Dradeliomecus opened #354 "Module 'spiketoolkit.curation' has no attribute 'CurationSortingExtractor'"
I am trying to use the `CurationSortingExtractor`, and used the documentation: https://spikeinterface.readthedocs.io/en/latest/api.html#spiketoolkit.curation.CurationSortingExtractor

However, when using `st.curation.CurationSortingExtractor`, I can an error:

[code]

Has the class been moved and the documentation is not yet up to date, or is it a bug?

[2020-04-28 10:29] llobetv commented on #349
Solve with #350

[2020-04-28 10:29] #349 closed

[2020-04-28 11:05] alejoe91 commented on #354
Hi just re-added it: https://github.com/SpikeInterface/spiketoolkit/pull/353

Can you pull master again?

[2020-04-28 11:08] Dradeliomecus commented on #354
It now works, thank you very much!

[2020-04-28 11:08] #354 closed

[2020-04-28 11:17] #331 closed

[2020-04-28 11:17] #325 closed

[2020-04-28 11:22] Dradeliomecus opened #355 "How to delete spikes in CurationSortingExtractor?"
Hi,

I am trying to remove certain spikes (similar to what I was doing in #339).
The solution of using the `CacheSortingExtractor` worked really well, and now I am trying to do the same but with the `CurationSortingExtractor`.
I successfully removed the spikes, but when doing the `export_to_phy()` method, I have the following error:
[code]

From what I could gather, I think it has to do with the p

[2020-04-28 12:26] alejoe91 commented on #355
Hi @Dradeliomecus

Can you try to run the `export_to_phy` with `recompute_info` set to `True`?
Also can you paste the entire code that you are using (from the recording-sorting definition to the export)?

[2020-04-28 12:37] Dradeliomecus commented on #355
It's computing with `recompute_info = True`, but as our dataset is pretty big, it takes a while. I will let you know if the same error pops up.

Meanwhile, here is the code (split in 3 files):

In `./remove_duplicated_spikes.py`:
[code]

In `curation/remove_duplicates.py`:
[code]

In `curation/utils/sorting_utils.py`:
[code]

[2020-04-28 12:46] alejoe91 commented on #355
As you suggested, I think that the problem is the following: when you set a new spike train for a unit, the features are not reset. Can you look into the [`split_unit`](https://github.com/SpikeInterface/spiketoolkit/blob/ad3b1e2a64beef66547bd3b74852a5e1e712b93d/spiketoolkit/validation/quality_metric_classes/utils/curationsortingextractor.py#L191) method instead? That should take care of it

[2020-04-28 13:01] Dradeliomecus commented on #355
Setting `recompute_info = True` solved the problem.

Using `split_unit` with `recompute_info = False` also worked!
Thank you.

Is it possible to have the method `split_unit()` return a tuple containing the 2 unit_ids of the new units ? That way it would be easy to remove one of them.

[2020-04-28 13:07] alejoe91 commented on #355
I think that should be possible :) @colehurwitz can you take care of this?

[2020-04-28 14:59] colehurwitz commented on #355
Yes, I can do that.

[2020-04-28 15:56] alejoe91 commented on #355
@colehurwitz we should also add a dump mechanism for the curator extractor

[2020-05-01 10:32] llobetv opened #358 "CurationSortingExctractor fail with export to phy"
Hi,

Just to mention that when you try to export_to_phy with  CurationSortingExctractor you get an error due to the parent_sorting argument in the __init__() function.
I just convert it to CacheSortingExtractor and it solve the issue, but their is maybe something cleaner to do.

@Dradeliomecus

Cheer,
Victor

[2020-05-01 10:47] alejoe91 commented on #358
Yep the dumping is not in place yet, but @colehurwitz is making it

[2020-05-04 10:04] llobetv opened #360 "Some praticals issues with dead channels and similarity matrix"
Hi,

I encounter some praticals issues.

Fisrt link to dead channels. If I set a dead channels, it won't be exctract which is nice but when phy show data it will generated some painful behavior. The channel exctract instead of the dead one will change for every channel and in my case switch from right to left every channel (and make waveform representation move a lot every cluster, which make it p

[2020-05-06 12:22] alejoe91 commented on #360
Hi Victor,

Sorry I didn't get exactly what's the problem here. Can you provide an example/a phy plot?
What painful behavior do you observe in phy? The problem with phy is that all templates must have the same shape, so an extra channel must be chosen (usually we pick the closest one to the largest peak).

[2020-05-09 07:01] MingChingChiang commented on #317
Hi,
When I try to export my sorted file to phy, I got the same error message when executing this code:
sorting_MS4 = ss.run_mountainsort4(recording=recording, **default_ms4_params, grouping_property='group', output_folder=OUT_MS4, verbose=True)

My error messages are:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in

[2020-05-09 07:40] MingChingChiang opened #363 "TypeError: set_unit_spike_features() got an unexpected keyword argument 'indexes'"
Hi,
When I try to export my sorted file to phy, I got the same error message when executing this code:
sorting_MS4 = ss.run_mountainsort4(recording=recording, **default_ms4_params, grouping_property='group', output_folder=OUT_MS4, verbose=True)

My error messages are:
Traceback (most recent call last):
File "/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in ru

[2020-05-09 07:44] alejoe91 commented on #363
Hi! Did you update also to the latest version of spikeextractors? The problem seems related to it. I don't think it's because of grouping, as we have specific tests for it

[2020-05-09 09:21] MingChingChiang commented on #363
I see! I will update the spikeextractors, so far I only update the spiketoolkit and spikesorters.

[2020-05-10 06:33] MingChingChiang commented on #363
I've updated the spikeextractors to version 0.8.2 and rerun the export_to_phy.
However, I got another error message:
Fitting PCA of 3 dimensions on 10000 waveforms
Projecting waveforms on PC
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipytho

[2020-05-10 09:23] alejoe91 commented on #363
Hi @MingChingChiang

Thanks for the info! Can you try to install spiketoolkit from sources?
I think that that fix is not in the release, but I'll make a new release of all packages today!

[2020-05-11 01:19] MingChingChiang commented on #363
Sure! I will install the spiketoolkit from sources and run the codes again!
Thanks for helping out!

[2020-05-11 09:30] llobetv commented on #360
Hi Alejoe,

I know the pb, but then the channel will switch form right to left each time I switch channel (which happen often) wich is a bit anoying for intensive analysis (that will begin soon).
ex:

![image](https://user-images.githubusercontent.com/22896067/81546229-5b94e800-937a-11ea-8777-0d5df454d84c.png)
![image](https://user-images.githubusercontent.com/22896067/81546264-664f7d00-937a-11ea-

[2020-05-12 05:43] MingChingChiang commented on #363
Hi @alejoe91
I've used the latest spiketoolkit, spikeextractor, and spikesorters for spike sorting, but I still have the same problem during phy export. (I just reinstall everything 4 hours ago)
The error messages I got were:
Fitting PCA of 3 dimensions on 10000 waveforms
Projecting waveforms on PC
Traceback (most recent call last):
  File "/Users/Ming-Ching/Documents/Python_Project/Spike_Sorting/

[2020-05-12 08:33] alejoe91 commented on #363
Hi @MingChingChiang

Found the same bug. It happens when you have more channels than `max_channels_per_template` and you use the `grouping_property`. A quick fix for now is passing the `max_channels_per_template=None` argument to the `export_to_phy`.
Fixing it properly now :)

[2020-05-12 15:31] alejoe91 commented on #363
Fixed here: https://github.com/SpikeInterface/spiketoolkit/pull/364

Basically when exporting by group the `max_channels_per_template` is ignored

[2020-05-14 06:49] MingChingChiang commented on #363
I've tried this solution, and the sorters and the phy export just worked perfectly!
Thanks a lot!

[2020-05-14 07:59] #363 closed

[2020-05-14 07:59] alejoe91 commented on #358
The dumping is in place now :)

[2020-05-14 07:59] #358 closed

[2020-05-14 08:00] alejoe91 commented on #355
Fixed

[2020-05-14 08:00] #355 closed

[2020-05-14 08:01] alejoe91 commented on #255
@jaib1 this is in place now. You can compute features with: `st.postptocessing.compute_unit_template_features()`

[2020-05-14 08:01] #255 closed

[2020-05-14 13:40] jaib1 commented on #255
awesome, thanks!

[2020-05-15 09:04] alejoe91 commented on #360
@llobetv I have an idea. Instead of appending an extra channel, we can just append an empty template of nans. This should keep the. shape (so phy is happy) and we can easily disable it when computing similarity

[2020-05-15 11:49] llobetv commented on #360
Hi,
The solution you propose would work well I think, and solve all the issue I mention before !

[2020-05-15 11:58] alejoe91 commented on #360
Hi @llobetv

Do you have time to give it a try? I think that the main problem is when you ave multiple groups. Is it your case?

[2020-05-15 12:03] llobetv commented on #360
I can give a try but not before Tuesday,

Yes it is, I actually have 4 groups of 16 channels.

[2020-05-15 12:10] alejoe91 commented on #360
ok! I'll leave it to you then. You will need to modify [this part ](https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/postprocessing/postprocessing_tools.py#L1543-L1561) and the [_compute__template_similarity](https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/postprocessing/postprocessing_tools.py#L1130)

[2020-05-21 14:45] llobetv opened #366 "export_to_phy_duration, exctract amplitude"
Hi !
I encounter some timing issue when I convert my sorting to phy... The duration is really high, more than 1 hour when analysis alone take 10mn.
I have the feeling that the longest step is amplitude calculation, and it seems that it is not parallelize.

What is your feeling about that?
One option could be set exctract_amplitude optional (which I can easily implemented) or add parallelization (n

[2020-05-21 14:49] alejoe91 commented on #366
Hi Victor,

We can definitely implement both. Maybe you can try to implement the `compute_amplitudes=False` in the `export_to_phy` and I'll take care of the parallelization of compute amplitudes.

Sounds good?

[2020-05-21 15:10] llobetv commented on #366
Yep, sounds good for me, I'll handle that tomorrow !

[2020-05-21 22:13] llobetv commented on #366
Done, I don't make deep test but it appear to solve my issue, I'll finish testing tomorrow.

But I got one question, why does exctract amp is so slow?
I check and get_snippets l.559 is the slower, and I try with several  snippet_len and even multiply it by 100 don't change it's time duration... Their is probably an issue their, isn't it?

I use cacheSortingExctractor.

[2020-05-21 22:18] llobetv commented on #366
So I'm not sure if parallelization is needed

[2020-05-22 08:55] alejoe91 commented on #366
https://github.com/SpikeInterface/spiketoolkit/pull/368

[2020-05-22 08:55] #360 closed

[2020-05-22 14:51] alejoe91 commented on #366
So the `get_snippets` is supposed to be the slowest because of the multpiple access and data retrieval from the same file. There is nothing we can actually do about it!

[2020-05-22 21:33] #366 closed

[2020-06-11 16:53] jdacre opened #372 "Memory error during postprocessing.export_to_phy"
Hi,

I am trying to use the code below to use Ironclust to spike sort one of Adam Kampff's neuropixel recordings (6.2GB file size, 384 channels, 8100337 samples long)

[code]
but receive a memory error with running `postprocessing.export_to_phy`:

[code]
I'm using st.__version__ '0.6.3' and se.__version__ '0.8.4'. Any ideas as to why this is happening?

[2020-06-11 17:14] alejoe91 commented on #372
HI @jdacre

I think something went wrong with that first unit from IC! The length of the spike train is almost 2 million, and the duration is less than 5 minutes. `spiketoolkit` tries to save the waveforms to a file. Now, each waveform has 180 time samples (you can decrease thos using the `ms_before`-`ms_after` args) times 384 channels times 2 million ~ 236 Gb.

Since this is happening with the fi

[2020-06-12 09:46] jdacre commented on #372
Hi Alessio,

Thank you very much for those suggestions, chose option 2 and we've gotten past that memory issue, so that was great!
However, it has been running the
`st.postprocessing.export_to_phy(recording, sorting_ic, output_folder=out_path, verbose=True, max_spikes_per_unit=10000)
`
step for ~16 hours so far and has only processed 53/109 waveforms so far, compared to the rest of the spike sorti

[2020-06-12 09:56] alejoe91 commented on #372
Hi,

By default only one job is used, and clearly this is not suitable for Neurpixels data. You can add joblib parallel processing by using the `n_jobs` argument (of course, the more the better).

Also note that the processing time is so large because in order to compute pc features, ALL waveforms need to be extracted (the `max_spikes_per_unit=10000` is ignored in this case). The same goes for amp

[2020-06-12 10:10] jdacre commented on #372
Thanks again alejoe, that should sort us!

[2020-06-13 18:27] jdacre commented on #372
Yes, successfully exported to phy, thank you

[2020-06-13 18:33] alejoe91 commented on #372
Great!

[2020-06-13 18:33] #372 closed

[2020-06-17 15:26] llobetv opened #374 "export_to_phy, template_ind sort"
Hi guys,
It has been a while :)

I have a small issue which is link to template_ind when max_channels_per_template == recording.get_num_channels(), or when I use grouping_property (Then all chan are exctracted and subpart is took based on group label).

In that case templates are extracted in the order of the ch index and not sorted by their amplitude.

But phy seems to use first value of template

[2020-06-17 17:02] alejoe91 commented on #374
Hi Victor,

Sure I think it's fine to sort the templates and template_ind based on descending amplitude. Note that also the locations will need to be sorted and maybe other stuff too (like pca_scores channels - feature_ind). So it's not so trivial :)

Can you give it a try? We can discuss on the PR

Cheers
Alessio

[2020-06-19 14:17] llobetv commented on #374
#375

[2020-06-19 14:17] #374 closed

[2020-06-24 16:07] MingChingChiang opened #376 "Channel ids for sorted units are missing after export_to_phy"
Hi,
I'm trying to export my klusta sorted units to phy.
Although the export is successfully, all the channel ids for each unit become 0.

<img width="1680" alt="Screen Shot 2020-06-24 at 23 53 13" src="https://user-images.githubusercontent.com/63445768/85590354-e99d0780-b676-11ea-8934-d3c392593b9a.png">

I've double checked my sorting by opening the kwik file with phy directly, but each units have

[2020-06-24 16:17] alejoe91 commented on #376
Hi!

This has been recently fixed by this PR: https://github.com/SpikeInterface/spiketoolkit/pull/375

Can you install spiketoolkit from the latest master and check that it's fixed?

[2020-06-25 05:24] MingChingChiang commented on #376
Thanks! @alejoe91

After reinstall the spiketoolkit now I can see channel ids.

<img width="1680" alt="Screen Shot 2020-06-25 at 13 16 26" src="https://user-images.githubusercontent.com/63445768/85658954-864abe00-b6e6-11ea-9938-61776460768e.png">

A minor question is that I removed many bad channels and only kept good channels for sorting.
Is there any way after export to phy I can see the origina

[2020-06-25 07:16] alejoe91 commented on #376
@MingChingChiang glad that it works!

Unfortunately Phy forces the channels to be 0-N, but if you load back the results with SpikeInterface the correct channel Id will be used. Also the maximum channel from each unit can be obtained directly in SI with:

[code]

Closing the issue :)

[2020-06-25 07:16] #376 closed

[2020-07-09 08:40] TRuikes opened #378 "Wrong order of feature output when computing quality metrics"
When:
`unit_features = st.validation.compute_quality_metrics(
...
...
units_ids=good_ids,
...)
`

the output is faulty, ie for 'num_spikes', the  nr of spikes of unit 3 are assigned to unit 4. This does not happen when leaving out the unit_ids keyword.

[2020-07-09 10:02] alejoe91 commented on #378
@TRuikes Thanks for reporting this.

@colehurwitz added the `unit_ids` option some time ago. Cole can you look into this?

[2020-07-09 11:50] TRuikes commented on #378
It also fails without specifying unit ids. The spiketrains are assigned ids properly, when I check the length of a unit by ID in phy gui, it matches.

[code]

[2020-07-09 12:00] TRuikes commented on #378
[code]

output:

[code]

[2020-07-09 12:09] alejoe91 commented on #378
Thanks @TRuikes

Looking into this

[2020-07-09 12:51] alejoe91 commented on #378
@TRuikes can you test if this PR fixes it? https://github.com/SpikeInterface/spiketoolkit/pull/379

The problem was due to the `set` and `intersection` scrambling the unit ids list

[2020-07-09 13:43] TRuikes commented on #378
@alejoe91 #379 works properly

[2020-07-09 13:48] alejoe91 commented on #378
Great! Thanks again for spotting this! :)

[2020-07-09 13:48] alejoe91 commented on #378
https://github.com/SpikeInterface/spiketoolkit/pull/379

[2020-07-09 13:48] #378 closed

[2020-07-19 14:49] abhijithkrishnan93 opened #382 "export_to_phy too slow"
I have a 50s dataset from MCS 60 MEA. The exporting to phy command takes too long to complete. How to speed up this process? I am using spikeinterface version = 0.8.4

[2020-07-19 15:06] alejoe91 commented on #382
Hi, you can use multiple jobs by using the n_jobs parameters (e.g `n_jobs=16`).

Have you filtered the data before? If so, you should cache the recording first (filtering it all) otherwise each waveform is filtered separately. You can do it with:

`rec = se.CacheRecordingExtractor(rec, filt.dat)`

[2020-07-19 15:21] abhijithkrishnan93 commented on #382
Caching the data worked Thank you very much

[2020-07-23 19:29] jonnew commented on #382
Can you expand on the example above?

What are `rec` and `filt.dat` in a larger context?

My recordings are quite huge. So as a test I did

`st.postprocessing.export_to_phy(recording_cmr.get_epoch('test'), sorting_MS4, output_folder='phy',compute_pc_features=False)`

where "test" is a 100 second epoch. This still is taking forever to export, so I fear that the epoch is being ignored.

[2020-07-23 19:38] alejoe91 commented on #382
HI @jonnew

[2020-07-23 20:08] jonnew commented on #382
Thanks for the quick reply.

OK, I think understand. And so for the actual call to the `export_to_phy` function, I should be using the `rec_cache` object, correct? Should I also chache the `MultiSortingExtractor` object produced by the `run_<sorter>` function using `se.CacheSortingExtractor`?

[2020-07-23 20:17] alejoe91 commented on #382
Exactly!

For SortingExtractor objects it's not necessary aa it doesn't affect performance that much. I haven't properly tested it though, but it should be almost as fast as the cached version (which for SortingExtractors saves to npz)

[2020-07-23 20:53] jonnew commented on #382
OK, the code finishes now, which is definitely an improvement. It still took several minutes for a 100 second by 64 electrode data set, which is a bit concerning since my recordings are 8 hours long.

[2020-07-23 20:55] jonnew commented on #382
Although I think a lot of this might be my fault. There are likely a ton of false positives in the detected units because Im just starting to use this and I've set my thresholds low. This likely is making things much slower.

[2020-07-23 21:22] alejoe91 commented on #382
You can add some automatic curation steps!

How many minutes did it take? And how many units? You can also parallelize the waveform extraction, which is still the most time consuming part

[2020-07-23 22:43] jonnew commented on #382
I dont know exactly, but there were a lot of waveforms (100 units some of
them with like 6k waveforms in 100 seconds... so clearly not great :).

I changed my threshold and that helped a lot

I will look into the curation steps.

Thanks!

On Thu, Jul 23, 2020 at 2:22 PM Alessio Buccino <notifications@github.com>
wrote:

--
Jonathan Newman
Postdoctoral Fellow, MIT
http://www.mit.edu/~jpnewman/

[2020-07-27 11:57] mdandola opened #383 "Error when removing bad channels from ephys recordings"
Hi,

 am processing a 32 channels open-ephys binary recording, and when I try to remove bad channels I get this error:

Preprocessing is ran using the following code lines:

And the parameters file (.json) looks like this:

thank you!
best

Mattia

[2020-07-27 12:11] alejoe91 commented on #383
Hi @mdandola

Thanks for the issue. I'll try to replicate it and see what's wrong. Are you using the master branch of spiketoolkit or the pip version?

Cheers
Alessio

[2020-07-27 12:40] mdandola commented on #383
Hi Alessio,
thanks for the quick reply.
We use the pip version

Mattia

[2020-07-27 13:14] alejoe91 commented on #383
Can you try to check if the error is still there by installing spiketoolkit from the master branch?

You can just clone the repo, uninstall spiketoolkit, `pip install .` from inside the spiketoolkit folder

[2020-07-27 15:22] alejoe91 commented on #383
Hi @mdandola

I can't reproduce the error with the latest master. We might have fixed it already :)
I also tried with an open ephys dataset byt it works fine on my side. Let me know if using the master brnch fixes the error on your side too

[2020-07-28 08:45] mdandola commented on #383
Hi Alessio,

unfortunately I can't try it immediately: this is an installation on a department-wide computation server, and the person in charge with root credentials will be away for two weeks. I will try to verify on a local installation, but I will let you know whether the master branch installation solves the original problem in a couple of weeks!
thanks for your help

Mattia

[2020-08-12 08:30] #382 closed

[2020-08-21 20:28] jthermiz opened #385 "resample then spike sort error"
Prior to running spike sorter (mountainsort 4), I resample the data. When I do this I get an error from the spike sorter. There probably aren't many people resampling their data prior to spike sorting, but nonetheless wanted to raise the issue, since an unexpected error is thrown. In the attached example, I'm just resampling at the same rate of the original signal, but even resampling at other fre

[2020-08-24 08:29] alejoe91 commented on #383
Hi @mdandola

Have you tried the latest release?

[2020-08-24 12:11] mdandola commented on #383
Hi Alessio,

yes, using the latest release solved the problem!
thanks for the help

Mattia

[2020-08-24 12:11] #383 closed

[2020-08-24 14:13] alejoe91 commented on #385
HI @jthermiz

I could not reproduce the error using the latest releases of spikeextractors and spiketoolkit.

Can you try `pip install --upgrade spikextractors spiketoolkit`?

Cheers
Alessio

[2020-08-25 03:16] jthermiz commented on #385
Hi @alejoe91

It looks like the update resolved the issue on my end. Thanks!

-John

[2020-08-27 23:41] lfrank opened #386 "Alternative method for artifact rejection"
Would it be possible for someone to add a preprocessing method that zeros out a user specified set of samples? The idea here is that a user might want to be able to write their own artifact rejection code (this something we need to do) and then use the output of that code (a set of frames to be zeroed) to get rid of the artifacts.

[2020-08-27 23:55] #385 closed

[2020-08-28 07:35] alejoe91 commented on #386
HI Loren,

It would be possible for sure, but maybe a better approach would be to have a `CustomPreprocessor` that allows the user to define their own `get_traces` function? That would require some thinking, but it'll be more flexible.

What do you think?

[2020-08-28 08:41] llobetv opened #387 "Avoid writing dat file for phy when Cache or BinDat extractors"
Hi guys,

I just check new commit and one of them will generate some issue for me: #1be66496a735a37198ad81a0a6eda6feb5dd062d

The problem is that I use binary file, but I would like to keep the recording.dat for several reasons. Fist when I got dead channel, I appreciate to get the recording.dat without this channel so I can use channel_map from phy/ directory. Secondly, after I analysed my data I

[2020-08-28 14:24] alejoe91 commented on #387
Hi @llobetv

Sure, maybe we can have an argument `copy_binary=False` by default. If `copy_binary=True`, then the file is copied in the phy folder. Do you have time to look into that?

Cheers
Alessio

[2020-08-28 16:42] lfrank commented on #386
Hi Alessio. Thanks for the quick response. In this case I actually think the ability to just zero out samples would be useful even if there is eventually a CustomPreprocessor. This would be for less sophisticated users who just want to delete artifacts but for whom the current functions don’t quite work. For us, for example, we might have an artifact from a physical event (e.g. the animal banging

[2020-08-28 17:15] alejoe91 commented on #386
Hi Loren, I see. So maybe we can make a `zero_out` preprocessor that takes in a recordingextractor and an array of frame_idxs/mask to zero out. Would that be ok? :)

[2020-08-28 17:16] lfrank commented on #386
That would be ideal if you have time to do it...

thanks much

[2020-08-28 17:17] alejoe91 commented on #386
I'll try to get it done next week!

[2020-08-29 10:53] llobetv commented on #387
Yes I take care of it !

[2020-08-29 11:25] llobetv commented on #387
I got several questions

Fisrt if I add channel_map to recording object then it will copy recording.dat anyway (SubRecordingExtractor)

Second if I use CacheRecoding then recording.dat data is not copy but path to the raw data is /tmp directory. I don't really understand why you don't want to copy recording.dat in that case, where tmp/ directory will be clean after reboot.

Wouldn't it be better t

[2020-08-30 10:22] alejoe91 commented on #387
You are right, we should check if the underlying base object is binary in the first place.

When you use the caching method, you can point to another save_path using: `rec_cache = se.CacheRecordingExtractor(rec, save_path='my-path.dat')`. Alternatively, if the `save_path` is not given, you can later use the `move_to('my-path.dat')` function to move the binary file where you want.

Sorry I don't un

[2020-09-01 20:50] lfrank opened #389 "Get_unit_templates when using NWB file slow (n_jobs not specified) or causes error (n_jobs specified)"
When running get_unit_templates using a recording extractor generated from an NWB file, two problematic behaviors can occur:

1. If the n_jobs parameter is not specified, it takes at least 1 minute / unit for the unit_template to be generated. This may be because random access into an HDF5 dataset seems to be very slow.

2. if n_jobs is set (here set to 7), I get an error due to a failure to load

[2020-09-02 10:35] alejoe91 commented on #389
Hi @lfrank and thanks for the issue.

This is certainly right. As it stands NWB is not very fast. Do you perform some preprocessing steps? if you do, e.g. a filter, then the process will be even slower due to lazy filtering of single waveforms. In that case, I recommend using the caching mechanism (`rec = se.CacheRecordingExtractor(rec_nwb, 'cache-file-name.dat')`), to perform all the filtering, d

[2020-09-02 10:38] samuelgarcia commented on #389
In hdf5, for parallel  **read**I don't think we need an extention.
Do we force mode='r' when opening the NWB file ?

[2020-09-02 10:40] alejoe91 commented on #389
@samuelgarcia the extension is an NWB type extension (ndx)

[2020-09-02 16:03] bendichter commented on #389
@lfrank regarding `n_jobs=7`: @alejoe91 and I think the issue here is that you need to `import ndx_franklab_novela` in order to read from your NWB files. You can do this in the beginning of the routine for a single job, but this would need to be called each time a new job is spun up, and it currently is not when using `n_jobs`. One solution I explored is to add the `load_namespaces=True` flag to t

[2020-09-02 16:12] alejoe91 commented on #389
@lfrank after talking to @bendichter we believe that the problem is the following:

In order for you to load the NWB file with the `'ndx-franklab-novela'` extension you probably need to `import ndx_franklab_novela` before.

When multiple processes are spawned, the `'ndx-franklab-novela'` package is not available anymore, as it is not imported by sub-processes. We'll try to find a solution to this.

[2020-09-02 16:53] lfrank commented on #389
Thank all for you input.

I’ll try the caching mechanism to create the file as a first pass and then test out the package once the multiple process issue is fixed.

[2020-09-03 09:28] MarineChap opened #390 "Global demuxed CAR (preprocessing step for neuropixels)"
Dear,
Thank you for this amazing tool.

We are using it with neuropixels. I see that we already have the possibility to preprocess the data with a common average referencing filter, but for neuropixels it needs to be done by group of channels of similar sample time offsets from each ADC group (because of the time division multiplexing).
Do you know if we can use the group option ([here](https://gi

[2020-09-03 12:03] alejoe91 commented on #390
Hi @MarineChap :)

Yes you can definitely use groups. You would need to extract channel groups belonging ti the same time offsets outside, and then pass the groups as a list of lists (each list containing the channel ids of different groups).
That applies CAR (or CMR) to the different groups separately, which I believe is what you need!

If the demux info is available from spiekGLX files, then it'

[2020-09-03 12:53] MarineChap commented on #390
Hi @alejoe91
Thank you for your response. Super cool.
I am sure the information is somewhere, either as a fix format (like always 1-12-24..etc. go togethers) or wrote in the metadata, but for the moment I am not sure. I can keep you posted when I found the answer.

[2020-09-04 12:13] llobetv commented on #387
Sorry for the delay,
I just say that copy_binary could be used every time as binary data is not needed to open with phy.
And in the case copy_binary is False then used link to rawData if available.

[2020-09-10 09:57] TRuikes opened #391 "Impossible to delete temp file"
When running `st.validation.compute_quality_metrics` with `memmap=True`, I'll get 'Impossible to delete temp file' warning. As a result the Temp folder becomes huge.

[2020-09-10 11:00] alejoe91 commented on #391
Hi @TRuikes

Yeah Windows complains because the memmap files are still open when you try to delete them. You get a `PermissionError`, right? The solution would be to add a proper `__del__` method to the memmap objects that belong to an extractor. I'll give it a try and ask you to try out a PR (for spikeextractors) once that's done. Ok?

[2020-09-10 11:05] alejoe91 commented on #391
@TRuikes

Can you try this spikeextractors PR https://github.com/SpikeInterface/spikeextractors/pull/450 ?

[2020-09-10 11:14] TRuikes commented on #391
Sorry I didn't paste the whole error string. But probably a permission error:
`Impossible to delete temp file: C:\Users\truikes\AppData\Local\Temp\tmppnrzgloz Error [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\truikes\\AppData\\Local\\Temp\\tmppnrzgloz\\amplitudes_0.raw'`

I usually get this if I do not close an openened fill in program

[2020-09-10 14:22] alejoe91 commented on #391
Exactly I think that spikeextractors PR should fix it :)

[2020-09-16 15:43] llobetv commented on #387
Maybe I still weren't clear, the idea was to use copy_binary params to set creation of recording.dat optional, either when recording object don"t come from raw data.

And in case copy_binary is False and that a path to raw data exist, use it as you do today. Otherwise just let the relative path to the raw file empty.

[2020-09-16 16:07] alejoe91 commented on #387
Hi @llobetv

Does phy work without a path to the binary file?

[2020-09-16 16:25] llobetv commented on #387
Yep it does

[2020-09-16 16:30] alejoe91 commented on #387
ok then it's a good idea. By default, though, copy_binary should be True in my opinion

[2020-09-16 16:37] llobetv commented on #387
It seems logical yes, I'll do that! :)

[2020-09-28 22:53] jthermiz opened #393 "Set sampling rate"
Set sampling rate method does not seem to work for an inherited object (eg. object generated from st.curation). Please see below code, which illustrates the problem on a toy example.

`import spikeextractors as se
import spiketoolkit as st

_, sorting = se.example_datasets.toy_example()
fs = sorting.get_sampling_frequency()
sorting_curated = st.curation.threshold_isi_violations(sorting, threshold=

[2020-09-28 23:53] jthermiz commented on #393
I think I have a better handle on this issue. set sampling rate method is fine. It's get sampling rate method that is the trouble maker. Here's a potential fix:

remove get sampling rate method (let it inherit it's parent method automatically)
initialize sampling rate in constructor: `self._sampling_frequency = parent_sorting.get_sampling_frequency()`

[2020-09-29 08:17] alejoe91 commented on #393
Hi @jthermiz

Thanks for bringing this up! I think that your suggestion would work 👍  Can you make a small PR?

Could I ask you why you need to change the sampling frequency? Note that just setting the `sampling_frequency` would not really change the effective sampling rate, but it would actually just shrink or increase the duration. If you really need to downsample the spike trains, we would need

[2020-09-30 05:24] jthermiz commented on #393
Hi @alejoe91

I just made the PR. I hope I did everything right -- this was my first PR!

I'd like to compare 2 sorting generated from recordings from different sample frequencies. Spikecomparison tools only allow comparisons between sortings with the same sample rate, so I have make it seem like the sorting was obtained at a different rate by changing the sample frequency and multiplying updating

[2020-09-30 08:17] alejoe91 commented on #393
Hi @jthermiz

Thanks, the PR looks good!

Yes as you suggest, if your goal is to compare spike sorting output at different sampling rates, it is much better to create a new NumpySortingExtractor and taking care of resampling outside. The `CurationSortingExtractor` is more complicated as its intended to be compatible to any kind of curation.

Let us know if you have other issues! Closing this for n

[2020-09-30 08:17] #393 closed

[2020-10-12 17:46] abhijithkrishnan93 opened #397 "Providing spike timings to sorters"

[2020-10-12 17:48] alejoe91 commented on #397
Hi @abhijithkrishnan93

What do you mean exactly? Spike sorters dont need spike timings, as these are their output.

[2020-10-12 17:53] abhijithkrishnan93 commented on #397
Hi @alejoe91 just updated a comment to make it clear.

[2020-10-12 18:00] abhijithkrishnan93 commented on #397
Thank you, I will check the related function.

[2020-10-16 16:30] alejoe91 commented on #389
Hi @lfrank

Just merged a PR which makes extracting waveforms much faster! Even using a single job!
You can see some benchmarks in the comments: https://github.com/SpikeInterface/spiketoolkit/pull/399
All the benchmarks are on NWB files.

Let me know if that works well for you.

[2020-10-16 16:31] #387 closed

[2020-10-27 18:17] agbondy opened #400 "output to JRClust"
The JRClust GUI still provides one of the best experiences for manual curation of high-yield electrophysiology data. I understand it is not currently possible to export sorted data to JRClust. This would be a valuable feature to include.

[2020-10-27 18:17] agbondy opened #401 "output to JRClust"
The JRClust GUI still provides one of the best experiences for manual curation of high-yield electrophysiology data. I understand it is not currently possible to export sorted data to JRClust. This would be a valuable feature to include.

[2020-10-28 11:34] alejoe91 commented on #401
Hi @agbondy

[2020-10-28 16:55] agbondy commented on #401
JRClust already has the capability to import a kilosort2 sort using its .npy files so if those are generated via SpikeInterface in a similar way to native KS2, then there should be no problem.

[2020-10-28 16:55] #400 closed

[2020-10-28 17:05] alejoe91 commented on #401
Ok, then you can use the `export_to_phy` function!

Can you try this?
[code]
Then you should be able to import the `phy_folder` into the JRclust GUI :)

[2020-11-03 08:47] chrihoni opened #402 "st.postprocessing.export_to_phy() --> permission error (WinError32)"
Currently I am stuck with  an error message related to spikeinterface (0.10.0):
When trying to export my sorted data to phy with "st.postprocessing.export_to_phy()" I get a permission error (WinError32), see error message attached.

I currently use Spyder(Python 3.8) on Windows10 (more system information attached) and the conda distribution. I created a separate environment for spikeinterface and

[2020-11-03 08:53] alejoe91 commented on #402
Hi @chrihoni

There is indeed a bug there!! Should be fixed in this PR: https://github.com/SpikeInterface/spiketoolkit/pull/403

Can you test if the problem is gone using that PR?

Cheers
Alessio

[2020-11-03 09:19] alejoe91 commented on #402
@chrihoni now merged to master :)

[2020-11-03 12:13] chrihoni commented on #402
Thanks!
It seemed that the previous issue was fixed, but I get another permission error afterwards
![Export_to_phy_permissionError_2](https://user-images.githubusercontent.com/73876563/97983896-43a49b00-1dd6-11eb-9071-d2aa2c28b72e.png)
:
PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'C:\\Users\\chrihoni\\AppData\\Local\\Temp\\tmpy0b0

[2020-11-03 12:18] alejoe91 commented on #402
It seems that it's the same issue! Can you make sure you installed spikeextractors from.the master branch? Maybe you need to first pip uninstall spikeextractors

[2020-11-04 14:16] chrihoni commented on #402
I now get the following error, altough I still have enough space on my disk
![image](https://user-images.githubusercontent.com/73876563/98122276-a66a6500-1eb0-11eb-8214-efe7914fa80a.png)

[2020-11-10 07:40] khl02007 opened #405 "Error when waveform extraction is run in spiketoolkit 0.7.1"
Hi Spikeinterface team,

Just wanted to report an error that I get when I run the `spiketoolkit.postprocessing.get_unit_templates` function (see below). Here are the spikeinterface packages I'm using:
[code]
This problem goes away when I downgrade `spikeextractors` to 0.9.1 and `spiketoolkit` to 0.7.0.

[code]

[2020-11-10 13:20] alejoe91 commented on #405
Hi @khl02007

Thanks for the report. We have completely re-written the postprocessing to make it much faster, and might have missed some edge cases.

Could I ask you the `waveforms_parameters` that you used?

Thanks!
Alessio

[2020-11-10 19:33] khl02007 commented on #405
Hi Alessio,

Here is the `waveforms_params` passed to `get_unit_templates`:

`{'grouping_property': 'group', 'ms_before': 0.75, 'ms_after': 0.75, 'dtype': 'i2', 'compute_property_from_recording': False, 'n_jobs': None, 'max_channels_per_waveforms': None, 'verbose': False, 'max_spikes_per_unit': 1000}
`

Thanks for looking into this,

Kyu

[2020-11-12 16:48] joramvanrheede opened #406 "Epoch information disappears from RecordingExtractor after preprocessing steps"
Hi spikeinterface team,

I'm running into an issue of disappearing epoch information after running preprocessing steps.

I have built a recordingextractor out of a number of subrecordings using the MultiRecordingTimeExtractor method. I have added epoch labels myself, and the MultiRecordingTimeExtractor helpfully keeps track of the start_frame and end_frame of each epoch.

However, when I run any p

[2020-11-12 16:49] alejoe91 commented on #406
Hi @joramvanrheede

This is definitely unintentional and we need to fix it! Thank you for spotting it.

@colehurwitz do you have time to look into this?

[2020-11-12 16:56] joramvanrheede commented on #406
Thanks for the quick reply! As I said, it's not a critical issue as it is possible to add the epochs back in, but I thought I would let you know.

Also, I didn't want to stray off the point in the main issue but thank you for all your work on this toolkit - I'm only just beginning to use it but already seeing that it's going to make everything more reproducible and save a lot of work!

[2020-11-12 17:01] alejoe91 commented on #406
Glad to hear that! :)

[2020-11-12 17:02] colehurwitz commented on #406
I should be able to look into this!

[2020-11-13 11:26] #406 closed

[2020-11-13 11:46] alejoe91 commented on #406
@joramvanrheede should be fixed using the master branches of spikeextractors and spiketoolkit

[2020-11-16 20:15] ferchaure opened #409 "preprocessing.whiten and raw mda (just on windows)"
Hi guys, I'm having a strange error, I'm loading a mda recording:

[code]

That work fine as usual, but when I tried to whiten the unfiltered recording:

`rw = st.preprocessing.whiten(recording)
`

I got

`  File "E:\programs\Anaconda3\envs\bcm\lib\site-packages\spikeextractors\extractors\mdaextractors\mdaextractors.py", line 55, in get_traces
    recordings = recordings[channel_ids, :]
TypeError:

[2020-11-16 20:46] alejoe91 commented on #409
Hi @ferchaure!

Mmm interesting...strange that it failed when instantiating the object, and not when retrieving traces. I'll look into it in the next days!

[2020-11-16 21:05] ferchaure commented on #409
Let me know if I can help you with it. I got a warning before that error:

`E:\programs\Anaconda3\envs\bcm\lib\site-packages\spikeextractors\extractors\mdaextractors\mdaio.py:127: RuntimeWarning: overflow encountered in long_scalars
  offset = self._header.header_size + self._header.num_bytes_per_entry * i
[Errno 22] Invalid argument`

[2020-11-16 21:11] alejoe91 commented on #409
Can you paste the entire error?

[2020-11-16 21:28] ferchaure commented on #409
E:\programs\Anaconda3\envs\bcm\lib\site-packages\spikeextractors\extractors\mdaextractors\mdaio.py:127: RuntimeWarning: overflow encountered in long_scalars
  offset = self._header.header_size + self._header.num_bytes_per_entry * i
[Errno 22] Invalid argument
Problem reading chunk from file: F:\sl_data_test\shared\ydg.mda
Traceback (most recent call last):
  File "E:\programs\Anaconda3\envs\bcm\li

[2020-11-17 08:11] #405 closed

[2020-11-18 14:00] joramvanrheede commented on #406
Fantastic, thank you!

[2020-11-18 15:25] joramvanrheede opened #411 "spiketoolkit.preprocessing.remove_bad_channels() duplicates 'group' and 'location' properties of RecordingExtractor"
When using the 'remove_bad_channels()' method, the 'group' and 'location' properties of my RecordingExtractor object seem to get duplicated:

`block_recording.get_channel_property_names(0)
['group', 'group_name', 'location', 'trode', 'trode_group', 'trode_info']`

`block_recording_not_bad     = st.preprocessing.remove_bad_channels(block_recording, bad_channel_ids = bad_channels_list)`

`block_reco

[2020-11-18 15:44] alejoe91 commented on #411
Thanks for reporting this! Definitely not an intended behavior :) I'll look into this!

[2020-11-18 16:26] joramvanrheede commented on #411
Just to add - this also seems to happen for st.preprocessing.common_reference(), so it might be an issue for several of the preprocessing tools?

[2020-11-18 16:35] alejoe91 commented on #411
It might be. I'll think it might be the copy_properties function. @colehurwitz can you also look into it?

[2020-11-19 08:55] alejoe91 commented on #411
@joramvanrheede the problem seems to be only due to the `get_channel_property_names()` function. If you check with `get_shared_channel_property_names()` or even show the `block_recording._properties` dictionary, all the properties look correct. I'll investigate why it behaves differently when using `get_channel_property_names()`

[2020-11-19 09:51] alejoe91 commented on #411
Ok, that was a tricky one! Basically the problem was in the `SubRecordingExtractor`. The remove_bad_channel just instantiates a `SubRecordingExtractor` without the removed channels. When copying properties form the original extractor, however, we made no distinctions between `key_properties` (as `group` and `location`) and other properties. The `key_properties` where then duplicated as normal prop

[2020-11-19 09:57] alejoe91 commented on #409
Hi @ferchaure

I was not able to reproduce the error on mac..maybe it's related to the specific file. Could you send me the file so I can double check?

Does this happen with other mda files?

Cheers
Alessio

[2020-11-19 14:19] ferchaure commented on #409
Hi alessio,

I debugged a bit the error (I'm starting to love pycharm) an the issue starts in mdaio.py particulaty on the method `_read_chunk_1d` in the first line it define `offset = self._header.header_size + self._header.num_bytes_per_entry * i`  when it works the python variables are Int64 ( python default int) and everything is fine, but if `i` is a int32 then the operation output is casted t

[2020-11-20 08:58] alejoe91 commented on #409
HI @ferchaure thanks for debugging this!

I think that the easiest solution would be to cast start frame and end frame to `int16` in the [`cast_start_end_frame`](https://github.com/SpikeInterface/spikeextractors/blob/774d30ca8e98822fa489fca883cc3767ff798460/spikeextractors/extraction_tools.py#L876) function which is used by the [`check_get_traces_args`](https://github.com/SpikeInterface/spikeextra

[2020-11-20 09:36] alejoe91 commented on #409
@ferchaure can you test this PR? https://github.com/SpikeInterface/spikeextractors/pull/502/files#diff-acedec256b397104824caa2c5dee2ea9f0bb08dc0b7541bb2c554dbb48fc9445R889

[2020-11-20 13:44] ferchaure commented on #409
It works! :+1:

[2020-11-20 13:44] #409 closed

[2020-11-20 14:19] #389 closed

[2020-11-23 16:43] wuffi opened #414 "`st.postprocessing.get_unit_waveforms` returns waveforms for only 300 spikes"
The `st.postprocessing.get_unit_waveforms()` method would always give me a matrix with shape `(300, num_channels, 120)` irrespective of parameters.

Minimal example:
[code]
Plotting the waveforms indicates they are correct, but just too few.

I'm using the master branch on Windows 10.

[2020-11-23 16:52] alejoe91 commented on #414
Hi @wuffi

You have to use the `max_spikes_per_unit=None` to get all waveforms. Note that it is a kwarg so you need to use the keyword!

If you have compute waveforms already and you want to recompute them, you also need to use the `recompute_info=True` argument.

[2020-11-23 17:08] wuffi commented on #414
Thanks @alejoe91, it's working.
The decisive argument was `recompute_info=True` - because also the `channel_ids=1` positional argument didn't have any effect.
Thinking about it not it's obvious, but I'm wondering whether it would make sense to make `recompute_info=True` for users like me. It would come at the cost of performance.

[2020-11-25 02:04] lfrank opened #415 "Provide user with list of available quality metrics for use in compute_quality_metrics"
It would be very helpful to have a function that returns a list of the strings corresponding to the available quality metrics so that a user could know how to call compute_quality_metrics() without having to look in the code itself.

A broader suggestion would be to create a dictionary of references to the quality metric functions. In that case the keys of that dictionary would correspond to the s

[2020-11-25 05:58] alejoe91 commented on #415
Hi Loren!

We have it :) `st.validation.get_quality_metrics_list()`

[2020-11-26 23:41] mhhennig commented on #414
@alejoe91, shall we make a default `recompute_info=False`. I ran into this once, and I should know :) This can be very confusing for users who do not know about tihos option.

[2020-11-27 22:35] lfrank commented on #415
Great; thanks. Just FYI, that doesn’t seem to be in the documentation:

[2020-12-04 14:06] alejoe91 commented on #391
@TRuikes can you try again with the latest masters of spikeextractors and spiketoolkit?

[2020-12-04 14:06] alejoe91 commented on #176
@colehurwitz still need this? https://github.com/SpikeInterface/spiketoolkit/pull/417

[2020-12-04 14:07] alejoe91 commented on #414
@mhhennig I don't think so..it's used extensively in the code to return properties and features already computed. We should improve the docs about this

[2020-12-07 17:00] colehurwitz commented on #176
I think this is not needed for now.

[2020-12-08 09:10] Dradeliomecus opened #421 "get_unit_waveforms crashes with n_jobs > 1"
Hi,

I'm using `spikeinterface` to do multiple things, one of which is to extract the waveforms.
I have a lot of waveforms and a lot of CPU cores, and as such, I would like to take advantage of the `n_jobs` parameter, except when it's anything but `1`, it returns an error:

[code]

I've tried with `n_jobs=2` also, but the same error occurs.
So for the time being, I'm using `n_jobs=1`, but it's pre

[2020-12-09 08:56] alejoe91 commented on #421
Hi @Dradeliomecus

We are in the process of updating all packages. The efficiency issue in spiketoolkit has been solved.
In the meanwhile you can try to install all SI packages from the github master.

Cheers
Alessio

[2020-12-09 12:21] Dradeliomecus commented on #421
Ah yes indeed, installing from github solved the problem, thanks!

For several low frequency units (~1 Hz), it's somehow slower as `n_jobs` increases (2.8s with 1, 4.4s with 2 and 7.8s with 10).
However for high frequency units (~80 Hz), it's faster (526s with 1 and 319s with 10).

Thank you!

[2020-12-09 12:21] #421 closed

[2020-12-09 12:29] alejoe91 commented on #421
Yes indeed. The strategy now favors high firing rates. The idea is to load the recording in chunks and extract all waveforms from the chunks. Of course if you only have a few spikes, it becomes less efficient. But in general, let's say for a normal number of spikes, it is now way faster :)

[2020-12-09 12:31] alejoe91 commented on #421
Note that the waveforms extraction is much faster even using one job only. There is some overhead in starting multiple jobs, so I recommend doing that if you have long recordings/many channels

[2020-12-09 13:26] TRuikes commented on #391
Hi @alejoe91, thanks for the reminder, I'll test it soon (next week probably). Congrats on the paper =).

[2020-12-09 13:52] alejoe91 commented on #391
Thanks :)

[2020-12-10 18:42] ferchaure opened #423 "Question about Nearest-neighbors metrics"
Hi Guys, I'm trying to update a processing pipeline based on mountainlab using spikeinterface. And I kind of stuck in the validations metrics. In mountainlab they have **Isolation** and **Noise Overlap Metrics**, and they are probably included in the Nearest-neighbors metrics of spikeinterface. If I understand correctly **Noise Overlap Metrics**  is computed by spikeinterface under the name 'noise

[2020-12-10 19:29] alejoe91 commented on #423
Hola @ferchaure

The `noise_overlap` metric is indeed the Noise overlap from the mountainsort paper.
For isolation, I think you refer to the `isolation_distance`, which is exactly the distance between cluster in the pc space.
The `nn` metrics are similar, but non-parametric: basically they select k nearest neighbors and compute how many belong to the same cluster (`nn_hit_rate`) and how many don't

[2020-12-10 20:01] ferchaure commented on #423
great!

I assumed that before, but in the mountainsort paper the isolation is based on nn as well and is a comparison between pairs of clusters. They report the minor isolation for each cluster and with which cluster. The metrics `nn_hit_rate `and `nn_miss_rate ` are like one class vs all the others and not a pair comparison.

[2020-12-11 00:39] ferchaure opened #424 "compute_unit_pca_scores setting unit_ids"
Hi, this is probably a little bug. I getting this error trying to compute pca scores:

[code]
But only if I set unit_ids.  Probably because waveforms in that code is suppose to be a list with the same length of sorting.get_unit_ids() and it isn't the case if unit_ids is passed as an argument.

[2020-12-11 06:44] khl02007 opened #425 "Noise overlap metric: error when noise_overlap_num_knn > num of possible neighbors"
While trying out the recently merged [pull request](https://github.com/SpikeInterface/spiketoolkit/pull/417#issue-527375425) that implements the noise overlap metric, I found that sometimes `noise_overlap_num_knn` specified by the user is greater than the total number of snippets (from the unit's spikes + randomly sampled noise), which leads to an error as expected (see below). Seems like the righ

[2020-12-11 08:38] #425 closed

[2020-12-11 08:40] alejoe91 commented on #424
Ah! Nice catch @ferchaure :)

Would you have time to make a patch for this? A bit busy these coming days...let me know!

[2020-12-11 10:17] alejoe91 commented on #424
@ferchaure can you test that this PR fixes the problem? https://github.com/SpikeInterface/spiketoolkit/pull/427

[2020-12-11 10:17] alejoe91 commented on #423
Maybe we can ask @magland ?

[2020-12-11 16:53] ferchaure commented on #424
Thanks, It works now.

[2020-12-11 16:53] #424 closed

[2020-12-12 15:22] ferchaure opened #428 "BlankSaturationRecording for memmaps"
Hi guys, I notice that inside BlankSaturationRecording the values obtained by self._recording.get_traces() are edited. And that coulb be a memmap. I try using it with a recording that I loaded using load_extractor_from_pickle() and I got:

I guess that a solution could be: check the type of traces and if it is a memmap and it will be edited then a copy on ram should be made.

[2020-12-12 15:42] alejoe91 commented on #428
Hi @ferchaure

Another possibility would be to just convert traces to array in all cases (in memory) and modify that. Could you make a PR? In any case the initial copy should be out of scope after the return, so the RAM should get released

[2020-12-12 17:38] ferchaure commented on #428
okok I will do the PR, but make a copy could be sub optimal if the trace is note edited.

[2020-12-12 17:54] alejoe91 commented on #428
True! I agree it's better to check if it's a memmap object

[2020-12-13 12:47] Dradeliomecus opened #429 "import fails on ssh"
Hi,

I wrote a code using `spikeextractors` and `spiketoolkit` which works fine, but today I tried running it from another computer, connecting to the computer with the code using `ssh -X`.

Whenever I import `spikeextractors` or `spiketoolkit` connected to this computer using `ssh`, I get an error message and the code immediately aborts:

[code]

[2020-12-13 13:10] Dradeliomecus commented on #429
Here is what happens when I run it as `sudo`:

[code]

I still get an error message, but it now runs.

The `beignet-opencl-icd` (last 2 lines) is something I get also in local, but the X11 connection is because of `ssh`.

[2020-12-13 13:12] alejoe91 commented on #429
Hi @Dradeliomecus

Unfortunately I've never seen that error..
Is it only for SpikeInterface packages? I think it could be related to joblib, which is the package that we use for parallelization.

[2020-12-13 13:15] Dradeliomecus commented on #429
[code]

Yes, it is only for spikeinterface packages, and `joblib` can be imported correctly (altough maybe some code using this library is throwing this error).

[2020-12-13 13:17] alejoe91 commented on #429
Mmm interesting.. @samuelgarcia any idea?

[2020-12-13 16:06] alejoe91 commented on #429
@Dradeliomecus Can you give us more info about the remote computer? Is it a cluster? What's the OS?

[2020-12-13 16:15] Dradeliomecus commented on #429
The remote computer is not a cluster, it's a computer I use at work.
It runs on Ubuntu 20.04.

The computer I use to connect via `ssh` is my home computer which also runs on Ubuntu 20.04.

I have to connect via a tunnel: `ssh -AX -t someIP ssh -AX -t removeComputer`
The X display works for other applications though.

[2020-12-14 09:34] samuelgarcia commented on #429
Hi. This is strange.
this kind of error come when you try to plot something.
`import spiketoolkit` normally don't don't import matplotlib or something like that.

spikesorter could lead to problem like that because of:
 * tridesclous when pyopenecl is installed.
 * openmpi for spykingcircus

But here it fails for somethign else.

[2020-12-15 17:11] Dradeliomecus opened #431 "get_unit_waveforms slower with CurationSortingExtractor"
Hi,

I use `spiketoolkit.postprocessing.get_unit_waveforms()` twice in my code (before changing spike times, and after).

So first, I call it with a `PhySortingExtractor`, but then since I change the spike times, I use a `CurationSortingExtractor`.
In both calls, I have exactly the same parameters.

However, the first call with `PhySortingExtractor` takes 14.1s, and the second call with `CurationS

[2020-12-17 07:30] alejoe91 commented on #431
Hi @Dradeliomecus

I think that the speed difference could be due to the mechanism that the `CurationSortingExtractor` uses to extract spike trains.
Can I ask you how you are using the `CurationSortingExtractor`? If you want to improve the speed, you could, after the curation, cache the sorting extractor:
[code]
This wille extract all spike trains and save them to a binary npz format, which will m

[2020-12-17 11:55] marvinseifert opened #432 "Normalisation messes up spiketimes"
Hi,
I am trying to use spiketoolkit to normalise the recording before doing the spikesorting but something goes wrong <br />
this is what I am doing: <br />

[code]
I use herdingspikes for the sorting. <br/>
[code]

The strange thing is: herdingspikes seems to detect the right number of spikes but assigns wrong timestamps to them: <br />
![image](https://user-images.githubusercontent.com/40001645/

[2020-12-17 11:57] alejoe91 commented on #432
Hi @marvinseifert

Forwarding this to @mhhennig and @colehurwitz, as they are the developers of herding spikes

[2020-12-17 18:02] colehurwitz commented on #432
Thanks for linking @alejoe91 ! I will look into this with @mhhennig

[2020-12-17 21:07] mhhennig commented on #432
Let me check...

[2020-12-18 10:15] Dradeliomecus commented on #431
Hi,

I'm using the `CurationSortingExtractor` to change the spike timings, here is the function for how I do it:

[code]

where `self.sorting` is a `CurationSortingExtractor`.
I'm not sure this is the best way to do that, if you have a better method I'm all ears!

I'm gonna test the `CacheSortingExtractor`, and i'll get back to you about if it makes the waveform extraction faster.

[2020-12-18 20:24] Dradeliomecus commented on #431
Here are the results (there are the same whether I change the spikes timings or not):

[code]

This results were done with my laptop, which is a different computer than the one I used for the previous results.
This was done with the recording cached in RAM memory. With disk reading, it's way slower and harder to compare.

[2020-12-19 22:06] mhhennig commented on #432
I think the big artifact here causes a problem. First of all, pre_scale=True just uses `normalize_by_quantile`, but it scales to 20. This is something we should finally fix: the HS2 detection uses integers (for speed), and the `normalize_by_quantile` by default scales it to 1 (meaning the specified quantile has unit range). This will throw the detection off. In addition, the bandpass (`filter=True

[2020-12-21 14:28] TRuikes commented on #391
@alejoe91 I think the warning is still there. I've just created an environment with python 3.7 and installed spiketoolkit and spikeextractors from their master branches and run this code:

[code]
which gives me the following output:
[code]

this warning does not arise when calling the function compute only 'firing_rate'

also, is this method supposed to delete the complete temporary folder?

[2020-12-22 07:36] alejoe91 commented on #391
Hi @TRuikes
Thanks for testing. I'll dig more into it.
The should only delete the tmp files (not the tmp folder associated to the sorting extractor) once they are out of scope.
Moreover, the destructor should delete the tmp folder as well.
Apparently the `all_waveforms` object is still in use when we try to delete the file.

See here: https://github.com/SpikeInterface/spikeextractors/blob/master/s

[2020-12-22 10:57] TRuikes commented on #391
yes, to be sure I printed out the version in the script above.

Since it is not happening when only computing firing rate, but is when doing for instance l-ratio, I thought it could be something PCA related (on the waveforms).

[2020-12-22 11:01] alejoe91 commented on #391
Does it happen when you compute snr? Snr computes waveforms but not PCA, so we can see if it's a problem of waveforms min general or pca computation.

[2020-12-22 11:07] TRuikes commented on #391
its also happening with snr indeed

[2020-12-22 11:08] alejoe91 commented on #391
Can you try to see where exactly it's throwing the warning? Maybe by adding some print statements in the code part that I sent you

[2020-12-22 12:46] TRuikes commented on #391
I tried a few things, but it's not superclear what function is trying to close the file. Adding this to `del_memmap_file`:
[code]
yielded just before the crash:

[code]

[2020-12-22 12:53] alejoe91 commented on #391
Ok, we'll need to look more into it. I tried to fix it a few weeks ago, but it's unclear which process is using the file. In the meanwhile, if you files are not huge, you can use `memmap=False as argument and that would compute everything in memory

[2020-12-22 12:59] TRuikes commented on #391
the files are pretty big indeed so this function is really usefull. We can manually delete our tmp folder occasionally for now.

[2020-12-22 13:07] alejoe91 commented on #391
ok! Just to be clear, the error doesn't stop the code from running, but it doesn't delete the temp files, is that right?

[2020-12-22 13:09] TRuikes commented on #391
yes!

[2020-12-22 13:10] alejoe91 commented on #391
Great! We'll try to fix it in the meanwhile then. If you also find a solution, don't hesitate to open a PR to discuss it!

[2020-12-22 13:10] #428 closed

[2020-12-22 13:13] TRuikes commented on #391
will do

[2020-12-26 22:00] Dradeliomecus opened #433 "Function duplicate_unit in CurationSortingExtractor"
Hi,

I'm working with `spikeinterface`, and I'm using the `CurationSortingExtractor` on my data.

I would like to do 2 different things on a same unit, and at the end compare the two.
The easier method would be to duplicate the unit and do my things on both to compare them in the end.

But I didn't see a `duplicate_unit` method in the `CurationSortingExtractor` class.
Is it somewhere else?
If not,

[2020-12-30 11:33] alejoe91 commented on #433
Hi @Dradeliomecus

Since you are planning to run some tests, I recommend exporting/caching the sorting extractor 2 times and run the comparison afterwards. For example, you could do:

[code]

and then work on the same unit in the two extractors. I don't think that duplicating a unit would be a use case for the `CurationSortingExtractor` in normal settings

[2020-12-30 13:26] Dradeliomecus commented on #433
My thought process was the following:

In my recordings, there are different neurons types which have different characteristics, so the curation algorithm should be a little bit different.
So I characterize each unit to know pre-curation what neuron type it is potentially.
But sometimes, it can potentially be 2 or 3 different types, and the unit needs to undergo all curations before finally being

[2021-01-06 18:40] Levi55555 opened #436 "Dimension issue in spiketoolkit"
Hi I have tried to run a python script on our KS data, but I got the following error:

balazsi@BL-ThinkPad:/media/balazsi/Levi-HDD/TTK recordings/ARat_2017_09_11_128ch_probe_PD_170911_132447$ python3 Spikeinterface.py
Traceback (most recent call last):
  File "Spikeinterface.py", line 18, in <module>
    metrics_df = st.validation.compute_quality_metrics(sorting, recording, metric_names=available_

[2021-01-06 18:44] alejoe91 commented on #436
Hi @Levi55555 can you share the script?

[2021-01-06 18:45] Levi55555 commented on #436
import spikeextractors as se
from spikeextractors import KiloSortSortingExtractor, KiloSortRecordingExtractor
from spikeextractors.extractors.phyextractors import PhyRecordingExtractor, PhySortingExtractor
import spiketoolkit as st

# instantiate SI extractors
#recording = se.KiloSortRecordingExtractor('ARat')
recording = KiloSortRecordingExtractor('ARat_2017_09_11_128ch_probe_PD_170911_132447')
s

[2021-01-06 18:45] Levi55555 commented on #436
oh sorry for the format...

[2021-01-06 18:49] alejoe91 commented on #436
What is the output of pip list?

[2021-01-06 19:00] Levi55555 commented on #436
these could be insteresting:

setuptools (51.1.1)
six (1.15.0)
smmap (3.0.4)
spikecomparison (0.3.1)
spikeextractors (0.9.3)
spikefeatures (0.1.1)
spikemetrics (0.2.2)
spikesorters (0.4.3)
spiketoolkit (0.7.2)
system-service (0.3)
systemd-python (234)
tensorboard (1.14.0)
tensorflow (1.14.0)

[2021-01-06 19:29] alejoe91 commented on #436
So this was fixed in the master branch, so you need to first pip uninstall spikeextractors and then python setup.py install from inside the spikeextractors repo. Have you done that?

[2021-01-06 20:30] Levi55555 commented on #436
Yes, you are right, it has solved the problem, but now i got this:

/home/balazsi/.local/lib/python3.6/site-packages/spikemetrics/utils.py:411: RuntimeWarning: invalid value encountered in true_divide
  com = np.array([np.sum((channel_locations[spike_feat_ind][:, :, 0] * pc_power), 1) / np.sum(pc_power, 1),
/home/balazsi/.local/lib/python3.6/site-packages/spikemetrics/utils.py:412: RuntimeWarning:

[2021-01-06 20:34] alejoe91 commented on #436
How many units do you have?

[2021-01-10 11:23] Levi55555 commented on #436
The number of all units is 475.

[2021-01-11 09:49] marvinseifert commented on #432
Hi Matthias, thanks for your answer. I was just playing around with it an thought the normalization would be the same in herdingspikes and spiketoolkit. Thanks for letting me know, that this is not the case. I will just use the normalization p['pre_scale'] = True, in herdingspikes, that works fine.

[2021-01-11 09:49] #432 closed

[2021-01-13 18:17] hamdanspam opened #437 "get_unit_waveforms and get_unit_templates do not work with Kilosort sorting/recording extractors"
I have been trying to visualize waveforms using `st.postprocessing.get_unit_waveforms` on Colab using Kilosort Sorting/Recording extractors.

The data have not been sorted with Phy, but it seems to me that that should not matter. Let me know if I should do that, though.

The issue is that I can call `st.postprocessing.get_unit_waveforms`, but when I plot them, they appear to be more or less noise,

[2021-01-13 18:18] hamdanspam opened #438 "get_unit_waveforms and get_unit_templates do not work with kilosort recording and sorting"
I have been trying to visualize waveforms using `st.postprocessing.get_unit_waveforms` on Colab using Kilosort Sorting/Recording extractors.

The data have not been sorted with Phy, but it seems to me that that should not matter. Let me know if I should do that, though.

The issue is that I can call `st.postprocessing.get_unit_waveforms`, but when I plot them, they appear to be more or less noise,

[2021-01-13 20:02] alejoe91 commented on #437
Can you try to compute the waveforms and templates on all channels? Using `channel_ids=None`. I think that this is also causing the plotting to fail.

Another thing, is the recording filtered? If not, then probably this could be the problem, since waveforms are extracted from the raw (unfiltered) data. You can add a bandpass filter as this:

[code]

Note that in this case it will take more time to

[2021-01-14 20:41] hamdanspam commented on #437
[code]

For the graph, I get this:
![image](https://user-images.githubusercontent.com/15875720/104645111-7c2ce480-5663-11eb-9ba4-61dabf6531f0.png)

So it seems that filtering does not remove the divide by zero error. I noticed that the first few waveforms for a particular channel are actual signal, but after a certain point, they are all zeros again.

Templates appear to be all zeros too. You ment

[2021-01-14 20:50] alejoe91 commented on #437
Not sure..I have to see the data. Do the recordings look good? Have you tried to open the kilosort output in phy?

[2021-01-14 21:13] hamdanspam commented on #437
I have not opened these data in phy because it's large and in the cloud, but I agree that that is a good first step. I will confirm that the recordings look good.

[2021-01-15 00:35] hamdanspam commented on #438
This seems to be an accidental replicate.

[2021-01-15 00:35] #438 closed

[2021-01-15 04:43] hamdanspam commented on #437
The recording has not been sorted in phy, however.

[2021-01-15 06:49] alejoe91 commented on #437
The output of kilosort can be opened directly in phy. ( You should have a params.py and a bunch of .npy files). Since waveforms becomes all zeros after some time, I suspect there could be something wrong with the recording..if waveforms are mainly zero, also templates will be

[2021-01-15 09:42] Dradeliomecus opened #439 "export_to_phy bug with asymetrical window"
Hi,

I've used the `export_to_phy` method using as parameters `me_before=1.0, ms_after=3.0`, and when opening the output folder with phy, the result is a 4ms window, but the spike is perfectly centered at 2.0ms (whereas it should be at 1.0ms).

Here is the line used:
[code]

EDIT: While debugging, for faster export, I used the following line, and it now exports a 6ms window with the waveform cente

[2021-01-15 17:24] hamdanspam commented on #437
@alejoe91 figured out that the issue came from the fact that my recording was shortened but the spike sorting applied to the whole recording, leading to some zeroed values. The recording may not have started from the actual beginning either, leading to misaligned values. This duration mismatch will be checked against in the future.

[2021-01-15 17:24] #437 closed

[2021-01-19 07:58] MarineChap commented on #390
hi @alejoe91

I don't know if you are still interested by the demuxed CAR but Allen Institute did an open-source C++ version of it.

https://github.com/AllenInstitute/ecephys_spike_sorting/blob/master/ecephys_spike_sorting/modules/median_subtraction/SpikeBandMedianSubtraction/Source/Main.cpp

I did not take a deep look in the code yet but from what I can see the demuxed group are in fact guess fro

[2021-01-19 14:13] teristam commented on #431
I just want to add that `get_unit_waveforms` is exceedingly slow for long recording. It even takes more time than the actual spike sorting.

[2021-01-19 15:25] alejoe91 commented on #431
Have you tried the latest versions? Now you can run it on multiple jobs and it should be way faster than before.

[2021-01-19 16:42] alejoe91 commented on #390
HI @MarineChap

Thanks for the update here! Me neither unfortunately, but we can look into it next month. Maybe @jsiegle can also chime in :)

[2021-01-19 16:50] MarineChap commented on #390
Ah Ah It is the one who redirected me on this implementation ;)

[2021-01-19 16:52] alejoe91 commented on #390
Thanks @alejoe91 then :)

[2021-01-20 10:44] Levi55555 commented on #436
Hi!
Here you can find the KS data folder if it helps:
https://ttkmtahu-my.sharepoint.com/personal/meszena_domokos_ttk_mta_hu/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fmeszena%5Fdomokos%5Fttk%5Fmta%5Fhu%2FDocuments%2FPublic%5Fmegosztasi%2Fdata%2FARat%5F2017%5F09%5F11%5F128ch%5Fprobe%5FPD%5F170911%5F132447&originalPath=aHR0cHM6Ly90dGttdGFodS1teS5zaGFyZXBvaW50LmNvbS86ZjovZy9wZXJzb25hbC9tZXN6ZW5hX2Rv

[2021-01-20 13:54] alejoe91 commented on #436
Thanks @Levi55555

It seems I can't access the data. Maybe send me an email and we can figure out a good way to share the data.

Cheers
Alessio

[2021-01-21 21:50] teristam opened #441 "TypeError in st.curation.threshold_isolation_distances"
When I am trying to use `threshold_isolation_distances`, I receive the following error

And the traceback is :

[code]
I double check and make sure I am using the latest version of spiketookit from pip. The version is 0.7.2

Any idea how to resolve it? Thanks!

[2021-01-21 22:07] teristam opened #442 "Curation removes unit properties from the original sorting"
Now it seems that after curation (e.g. using `threshold_firing_rates`) computed unit properties e.g. max_channel etc.  from the original sorter are lost, and need to be re-computed again. But shouldn't these properties be inherited from the original sorter?

I am on spiketoolkit version 0.7.2

[2021-01-21 22:12] alejoe91 commented on #441
Can you try to install the master version? Otherwise you need spikemetrics==0.2.2

[2021-01-21 22:21] teristam commented on #441
Thank you! It is working with spikemetrics==0.2.2.

[2021-01-21 22:21] #441 closed

[2021-01-21 22:28] alejoe91 commented on #442
Hi @teristam

Can you try with master? I think I fixed it :)

[2021-01-21 22:29] teristam commented on #442
Thanks! Sorry for asking these kind of questions. Really don't know how outdated the pip version is from the master...

[2021-01-21 22:33] teristam commented on #442
btw, do you have an estimate when will these changes be pushed to the pip version? I am developing the sorting pipeline to be used by many members of my group. It will be great if they don't need to install from master every time....

[2021-01-21 22:41] alejoe91 commented on #442
A couple of months! You can check the Releases page and the last commit date :) I suggest always using the master version and pull every couple of weeks

[2021-01-21 22:46] alejoe91 commented on #442
I would say we make a new release for the single packages every couple of months, so you can base it on master and freeze it to 0.7.3 once released

[2021-01-21 22:53] teristam commented on #442
Hi, I just install the master, but I seem to still have the same problem.

[code]

Output:

[code]

Have I missed anything? When I run the master, it encountered an error with spikemetrics 0.2.2, so I have updated it to 0.2.3.

[2021-01-21 23:07] alejoe91 commented on #442
Ok then I'll look into it! Should be an easy fix ;) I'll let you know when it's done

[2021-01-27 15:13] Dradeliomecus opened #444 "get_unit_waveforms parameter update"
Hi,

There is a bug, where if I extract the waveforms twice with different parameters, the parameters from the first function call will be applied:

[code]

The output isn't an array of shape `(4000, 64, 60)` as expected but `(2000, 1, 150)`.
If I change the first function call (e.g. from 2000 to 1500), then the shape of the last line becomes `(1500, 1, 150)`.

Why is it not applying the correct p

[2021-01-27 15:16] alejoe91 commented on #444
Hi,

This is because waveforms are cached. To recompute them, just add the `recompute_info=True` argument :)

[2021-01-27 15:18] Dradeliomecus commented on #444
Ah I see, thank you! :)
You're the best!

But shouldn't that be `true` by default?

[2021-01-27 15:18] #444 closed

[2021-01-27 15:20] alejoe91 commented on #444
Thanks! And no worries!

I think it's better to have it False, because otherwise if you have multiple calls to get_unit_waveforms it would be very te consuming!

[2021-01-27 20:36] teristam opened #445 "compute_unit_pca_score assume unit_ids is a list"
Hi,

In `compute_unit_pca_score`, it seems to assume that `unit_ids` is always a list, so it make extensive of `idx_waveform = unit_ids.index(unit_id)`, but from the code, it can actually also be a `np.ndarray` , due to the check `    elif not isinstance(unit_ids, (list, np.ndarray)):`. Similar problems may also exist in other functions.

Some 3rd party extractor, e.g. those from spikeforest2, ret

[2021-01-27 21:00] colehurwitz commented on #444
I do think this is a potential source of errors though. If a user is changing the waveform parameters (such as max_channels_per_waveforms), I don't think that recompute_info should be False such that they end up with something different than what they asked for. Not sure how to solve this though other than to make recompute_info True by default, however, that does cause time concerns.

[2021-01-27 21:05] colehurwitz commented on #445
I think converting unit_ids to a list in the `compute_unit_pca_score ` function is the best solution currently. Although it is not great that third party extractors return different objects than our extractors. We should check with spikeforest2 about that.

[2021-01-28 21:46] #445 closed

[2021-01-28 21:48] colehurwitz commented on #444
@samuelgarcia @alejoe91

Do you guys think this should be discussed further? I think what @Dradeliomecus mentioned above is actually a bug and should be addressed somehow.

[2021-01-29 07:19] samuelgarcia commented on #444
I think this is something we have to take in account in the next refactoring.
Since we will have an object to extract waveform, if we change the parameters then the cache should be destroy or unlink automatically.

[2021-02-02 04:16] lfrank opened #447 "Mask function request with first version of mask.py"
We (and others) need a flexible way to get rid or artifacts, and the easiest way to do that would seem to be a masking function. I've sketched out a version below but it is not tested, and at a minimum someone would need to make sure that I guessed correctly on traces being n_timestamps X n_channels and not the other way around.

[code]

[2021-02-02 09:36] alejoe91 commented on #447
Hi @lfrank

Thanks for the sketch. So in this case the mask would only apply to the time dimension?
I think that when returning traces you need to select the right mask portion:

[code]

If you make a PR we can discuss on that :)

[2021-02-02 13:10] samuelgarcia commented on #447
OK. Maybe you could add also some check about the mask size and dtype.

[2021-02-02 18:07] joramvanrheede opened #448 "spiketoolkit.preprocessing.remove_artifacts.RemoveArtifactsRecording traces can't be used"
After I have used st.preprocessing.remove_artifacts() on a recordingextractor, I am unable to use the get_traces() method on the new 'RemoveArtifactsRecording' extractor or use spikewidgets.plot_timeseries() to visualise my artifact-free traces.

In both cases I get with the following error:

I assume it has somethig to do with the fact that the RemoveArtifactsRecording extractor uses a memmap rat

[2021-02-02 19:27] alejoe91 commented on #448
Hi @joramvanrheede

We had the same problem with another preprocessor and ended up calling a `copy()` of the traces before applying the changes. Will make a PR tomorrow, unless you want to give it a try?

[2021-02-02 23:02] joramvanrheede commented on #448
Hi Alessio,

Thanks for the quick reply - I'm happy to give it a try tomorrow afternoon!

Joram

[2021-02-03 18:57] alejoe91 commented on #448
https://github.com/SpikeInterface/spiketoolkit/pull/449

[2021-02-03 18:57] #448 closed

[2021-02-04 07:07] alejoe91 commented on #442
@colehurwitz do you have time to look into this? The CurationSortingExtractor base class does copy props and feats, so I don't know why this is happening

[2021-02-04 07:08] alejoe91 commented on #439
Not sure, but maybe phy assumes waveforms are centered? @rossant can you comment on that?

[2021-02-04 12:35] joramvanrheede opened #451 "Replacing artifacts with interpolation"
I'm currently dealing with a data set that involves electrical stimulation, and the artifacts are HUGE. They also seriously affect the quality of the spike sorting.

Currently remove_artifacts() sets parts of the traces affected by artifacts to 0. Therefore, running it on the raw signal (which often fluctuates some distance away from 0) produces a trace that has a lot of sudden deviations to 0 tha

[2021-02-04 12:53] alejoe91 commented on #451
Hi @joramvanrheede

I think it's a good idea, even though I'm not sure what the best interpolation would be.
I think that the best but not trivial option would be to fit some kind of AR model to the data and predict the missing values using that.

But sure give it a go with a PR and we can discuss on that! You could also modify the `remove_artifact` by adding an argument (e.g. `mode='zeros' / 'int

[2021-02-04 17:08] joramvanrheede commented on #451
Thanks Alessio - I will go with your suggestion of adding a 'mode' argument to remove_artifact for now - that does seem more sensible, will report back once I've got something working

[2021-02-04 18:20] colehurwitz commented on #442
Yes, I will check this out

[2021-02-04 23:04] colehurwitz commented on #442
Hmm, I could not reproduce the error. I created this script:

[code]

Output
[code]

Versions:

spikeextractors: '0.9.3'
spiketoolkit: '0.7.2'
spikemetrics: '0.2.3'

[2021-02-04 23:05] colehurwitz commented on #442
Maybe this is a Mountainsort4 extractor issue? Although I am not sure why that would be the case.

[2021-02-10 17:20] joramvanrheede commented on #451
Hi @alejoe91

I've currently got something working using scipy.interpolate.interp1d.

Using spaced out samples from 1ms before and after the artifact window, I fit a cubic spline and then I replace the artifact samples by the values for that fit at the sample points. It seems to achieve a relatively smooth continuation of the trace.

(I use spaced out samples because if using only the last 2-3 sam

[2021-02-10 18:14] alejoe91 commented on #451
Hi @joramvanrheede

What if in the 1ms before or after the window there's a spike? I guess a simple check on the amplitude of the sampels wrt to the std of a 1s snippet of the traces could work to avoid that.

Yes please make a PR :) Can you paste some images of the fitted data there?

Cheers
Alessio

PS: Cheers from Julian too ;)

[2021-02-11 14:13] joramvanrheede commented on #451
Fair point - 1ms is probably still a bit risky I will experiment with basing the fit on a median data point from 0-1ms, 1-2ms ms and 2-3ms before. Using the medians should be fairly robust to spikes, and having the fit reference points spaced out over a slightly longer interval should hopefully avoid extreme curves.

Will post some pictures later.

Cheers,

Joram

PS - yes, I only realised that yo

[2021-02-17 17:56] joramvanrheede commented on #451
Hi Alessio, I've just created a pull request - the proposed new version of remove_artifacts has a 'mode' argument that defaults to 'zeros' (old behaviour), but can now also include 'linear' (for linear interpolation) and 'cubic' for cubic spline interpolation. There is an additional input argument 'fit sample spacing' that determines the spacing of sample points for the cubic spline before and aft

[2021-02-17 18:01] joramvanrheede commented on #451
I've tried to account for your concern about high frequency fluctuations by 1) allowing the user to define the spacing of the fit sample points (larger spacing = more robust cubic fit), and 2) by taking the median of 5 samples around each sample point for the fit, so that very local extreme values have less influence; it seems to do a decent job.

[2021-02-19 11:58] Dradeliomecus opened #454 "export_to_phy fails"
[Edit, what I previously said was wrong]

Hi,

I'm used to running `export_to_phy` using a `BinDatRecording`, which deletes my channels positions.
So I tried loading the `prb` file using `ecording = recording.load_probe_file(params0['prb'])`, but when I do that, `phy` cannot read the output folder:

[code]

Here is the line used to produce this error:
[code]

[2021-02-19 12:39] Dradeliomecus opened #455 "Add filter_flag to export_to_phy"
Hi,

I'm running `export_to_phy` with a non-filtered recording, and I always get the warning.

I noticed in the source code that there is an `empty_flag` for this function, but not a `filter_flag`.
Could it be added?

Thanks!

[2021-02-19 12:47] alejoe91 commented on #454
Hi,

The first issue is fixed here (https://github.com/SpikeInterface/spiketoolkit/commit/61f9231cbdc9521a46acca6428ce25e1bab5288c - accidentally pushed to master).

I can't replicate the second issue unfortunately. Can you paste some minimal code using the toy_example that fails?

[2021-02-19 12:47] alejoe91 commented on #455
Hi,

Where is the `empty_flag` you mention? Sure it could be added. Can you make a PR?

[2021-02-19 12:48] Dradeliomecus commented on #454
I edited my post, turns out it didn't come from `compute_pc_features` but from the loaded prb file (sorry :/)

[2021-02-19 12:51] Dradeliomecus commented on #455
Here is the `empty_flag` (the filter recording is just below):
https://github.com/SpikeInterface/spiketoolkit/blob/61f9231cbdc9521a46acca6428ce25e1bab5288c/spiketoolkit/postprocessing/postprocessing_tools.py#L1291

I'm gonna try to make a PR (I've never done it before, but I should be able to figure it out with Google).

[2021-02-19 13:04] Dradeliomecus commented on #455
The PR should be done (#456).

[2021-02-19 13:13] alejoe91 commented on #454
no worries! Can we close it?

[2021-02-19 13:18] Dradeliomecus commented on #454
I've updated my `spikeinterface` packages, and I'm trying multiple things to see if I can reproduce the error (and if yes, where it really comes from).

If I can't reproduce it, I'll close the issue!

[2021-02-19 13:28] Dradeliomecus commented on #454
Actually the previous statement I made was true.
Switching from:
[code]

To:
[code]

Produced an error.
The first line worked, and with the second line, using `phy template-gui params.py` produced the following error:
[code]

[2021-02-19 13:33] alejoe91 commented on #454
Unfortunately I can't reproduce the error using the example dataset...

[2021-02-19 13:57] Dradeliomecus commented on #454
My code preceding the `export_to_phy` is pretty heavy ...

How can I debug to see where things go wrong?

[2021-02-19 14:59] alejoe91 commented on #454
it seems that somehow the amplitudes have the wrong shapes..or maybe I'm missing something... can you try to replicate the issue using `rec, sort = se.example_datasets.toy_example()`? Maybe it's a matter of multiple recalculations of amplitudes..

[2021-02-19 15:30] Dradeliomecus commented on #454
This worked:

[code]

[2021-02-19 15:34] alejoe91 commented on #454
running that on my side and I got no problem in opening phy..maybe it's a different phy version?

[2021-02-19 15:41] Dradeliomecus commented on #454
I'm using the latest version of  `phy`.

I also tried to set `recompute_info=True` (since I'm changing the number of spikes in some units), but I still have the same error message when opening `phy`.

[2021-02-19 15:57] alejoe91 commented on #454
Thes ones:
[code]
??

[2021-02-19 15:59] Dradeliomecus commented on #454
[code]

I successfully can open the folder created with the test dataset, but not the one made with my complex algorithm ...

[2021-02-22 08:43] Dradeliomecus commented on #454
My `sorting` object is a `NumpySortingExtractor` where I inject the units with their spike train one by one.

Could this be causing this issue?

[2021-02-22 08:56] alejoe91 commented on #454
Can you try to inject the units all at once? How do you inject them one by one?

[2021-02-22 09:20] Dradeliomecus commented on #454
I am using (in a loop):
[code]

[2021-02-22 12:46] Dradeliomecus commented on #454
I opened `amplitudes.npy` and `spike_times.npy`, and their shape are respectively `(6300, 1)` and `(59539, 1)`.

Is this normal?

[2021-02-22 12:49] alejoe91 commented on #454
No, they should be the same! That's a good hint. I'll take a look

[2021-02-22 13:06] alejoe91 commented on #454
Can you try this: https://github.com/SpikeInterface/spiketoolkit/pull/457 ?

[2021-02-22 13:19] Dradeliomecus commented on #454
It didn't fix the issue.

I tried this on a different dataset, and now the shape of both npy are `(9900, 1)` and `(1032173, 1)`.

On the first data set, I had 21 units. On this one, I have 33.
6300 / 21 = 9900 / 33 = 300.

Is there a cap at 300 with the `NumpySortingExtractor`?

[2021-02-22 13:32] alejoe91 commented on #454
No, there shouldn't. By default 300 waveforms are extracted, but it should not be the case in the `export_to_phy`. The problem here is that you probably already compute the amplitudes before (by default on 300 spikes) and they are not recomputed. The patch I pushed should check if there is a mismatch between the available and requested amplitudes and recompute them in case there is.

Can you try t

[2021-02-22 13:35] Dradeliomecus commented on #454
I deleted the phy folder, then did:
[code]

Then reran my code twice, and the same problem is there ...

[2021-02-22 13:38] alejoe91 commented on #454
What do you get when you do: `sorting.get_shared_unit_spike_feature_names()`? (where `sorting` would be your sorting extractor)

Maybe you have amplitudes computed for some of the units and that doesn't trigger recomputation..for now, I'd force `reocmpute_info=True` to be sure. Then I'd probably need to take a looka t your data + your complex code to build the sorting extractor.

[2021-02-22 13:41] Dradeliomecus commented on #454
`recompute_info` is set to `True` (this is why I find it so weird).

Maybe I can try to pickle my `recording` and `sorting` objects and send it to you?

I'll send you the result of `sorting.get_shared_unit_spike_feature_names()` once my code finished running.

[2021-02-22 13:43] Dradeliomecus commented on #454
[code]

Phy still fails to open (even after the latest pull 10 minutes ago).

[2021-02-22 14:04] alejoe91 commented on #454
Yeah this is indeed a problem. Since the waveforms and amplitues should be computed on all spikes, the `_idxs` features, which tell you which spikes have been used to compute features, should not be there..

The error is happening around these lines in my opinion: https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/postprocessing/postprocessing_tools.py#L1584-L1653

Maybe you c

[2021-02-22 14:20] Dradeliomecus commented on #454
I just ran the same code, but adding `max_spikes_per_unit=None, max_spikes_for_amplitudes=None` to the `export_to_phy` method.

Now, it takes a **lot** longer to export (from 4s to 1050s)

Now `phy` opens correctly!
I guess these variables should be `None` by default?

Also, is it normal that it takes this long on an ssd? (I set `compute_pc_features` to `False` in the hope of saving some time).

[2021-02-22 14:21] Dradeliomecus commented on #454
By the way, setting `max_spikes_per_unit=None, max_spikes_for_amplitudes=None` also solves a previous issue of mine (#439).

[2021-02-22 14:23] alejoe91 commented on #454
Ahhh! I guess that's it! I do set the `max_spikes_per_unit=None`, but not the `max_spikes_for_amplitudes=None`

Good catch! It is normal it takes so long. To comput amplitudes for all spikes, it needs to access the raw data many many times..If you have `compute_amplitudes=True`, you can also compute pc features as the most time consuming part is retrieving waveforms, whihc is done in both cases

[2021-02-22 14:30] alejoe91 commented on #454
Can you try with the latest commit of the PR, without setting `max_spikes_per_unit` and `max_spikes_for_amplitudes`?

[2021-02-22 14:55] Dradeliomecus commented on #454
Yep it works!

Thank you :)

[2021-02-22 14:55] Dradeliomecus commented on #439
Fixed with #457 (see issue #454)

[2021-02-22 14:55] #439 closed

[2021-02-24 14:16] #454 closed

[2021-02-24 15:03] Dradeliomecus opened #458 "CurationSortingExtractor resets tmp folder"
Hi!

If I make a `SortingExtractor` where I set the `tmp_folder`, and then create a `CurationSortingExtractor` from this previous sorting, then it will reset the `tmp_folder` to `/tmp`.
I need to manually get the previous `tmp_folder` and set it again once the cast is done.

I believe this is a bug?

Best,
Aurélien

[2021-02-24 15:24] alejoe91 commented on #458
It's like this by construction, but I agree that for the CurationSortingExtractor the `tmp_folder` could be copied over from the parent sorting.

@colehurwitz would you agree?

@Dradeliomecus could you make a PR about this? You just need to set the tmp folder in the `CurationSortingExtractor` init

[2021-02-24 15:50] Dradeliomecus commented on #458
It's done: #459

[2021-02-24 18:15] #458 closed

[2021-02-24 18:15] #455 closed

[2021-03-05 10:41] Dradeliomecus opened #461 "save_pc_features all_waveforms takes a lot of disk space"
Hi,

While using `export_to_phy`, I found that if `save_pc_features` is set to `True`, then it saves a file `all_waveforms.raw` containing the same information as all the `waveforms_x.raw`.
This duplicates all the waveforms temporarily saved on disk, which in my case writes an additional `62 GB` (for a total of 124 GB), which takes a lot of space and takes a lot of time to write (unless a NVMe SSD

[2021-03-05 12:26] alejoe91 commented on #461
Hi @Dradeliomecus

This is true but it's needed to compute PCA. Do you have a better solution in mind?

[2021-03-05 12:28] samuelgarcia commented on #461
We could estimate the pcd projetion (pca.fit) on a subset.
Then we could pca.transform(wf) on the fly without cahce to disk.

[2021-03-05 12:39] Dradeliomecus commented on #461
I agree,
If the data is this big, the fit can be done on a subset of spikes ; there is no need to use all of the spikes.

[2021-03-05 12:40] alejoe91 commented on #461
@Dradeliomecus can you try to make a PR for it?

[2021-03-05 12:58] Dradeliomecus commented on #461
I can try.
I'll take be a little while to make it and test it, but hopefully I can make it today :)

[2021-03-09 09:38] #461 closed

[2021-03-10 14:15] luiztauffer opened #463 "Need to fix return_scaled in some parts of the code"

[2021-03-10 17:02] #463 closed

[2021-03-11 17:07] MarineChap commented on #390
Hi @alejoe91

After analyze by Hanna Den Bakker (Kloosterman Lab),  we would be in fact more interested by a local CAR instead of the demuxed CAR. Is it only a global car in the preprocessing step right ?

In attached a short comparison of the different preprocessing methods and the result obtained.
[Documentation_CAR.pdf](https://github.com/SpikeInterface/spiketoolkit/files/6124703/Documentation_

[2021-03-11 17:09] alejoe91 commented on #390
Interesting! Not yet in place, would you like to give it a try? :)

[2021-03-11 19:04] samuelgarcia commented on #390
Hi.
The main problem will be te retrieve information on how channels are sampled togother or not.
This is hihly device dependant.

[2021-03-12 19:48] chMariyana opened #466 "Attribute error when calling compute_quality_metrics()"
Hi team,

I am using KiloSortRecordingExractor and KiloSortSortingExtractor to compute the quality metrics with spiketoolkit.validation.
SpikeInterface, spikeextractors, spikesorters, spiketoolkit and spikemetrics repos are all cloned and installed for the latest versions.
The following error is thrown when calling compute_quality_metrics():

[code]
Thank you!

[2021-03-12 19:59] alejoe91 commented on #466
Can you pip --upgrade all the packages? Just made a new release :)

[2021-03-12 21:11] AlanoudAlsubhi opened #467 "PermissionError: [WinError 32]"
Hi,

Currently I am following the [SpikeInterface tutorial ](https://www.youtube.com/watch?v=fvKG_-xQ4D8&t=2796s) and using Klusta.

In order for me to use Phy do I install it to the same environment for it work?
I followed the [Installation instruction](https://github.com/cortex-lab/phy#installation-instructions) to install Phy but  I am getting this error "PermissionError: [WinError 32] The proc

[2021-03-12 21:47] chMariyana commented on #466
Perfect, all metrics are computed. Thanks for the quick response :)

[2021-03-12 21:47] #466 closed

[2021-03-12 21:48] alejoe91 commented on #466
Bye, if you want to compute all metrics you don't have to list them as that is the default :)

[2021-03-14 09:01] MarineChap commented on #390
Hello,
That was the question for the demuxed CAR but not for the local CAR, no ?

By the way, implementation question, I was thinking :
- put the local CAR in the common reference class with a reference keyword local
- Add two parameters : radius and channel number -- As it is parameters really specific for the this implementation, where they should be defined next to group, ref_channels ... ect?

[2021-03-14 09:06] alejoe91 commented on #390
Hi @MarineChap I agree with you, the local CAR is universal.

As for your question, why do you need the channel number? Wouldn't each channel be re-referenced based on the radius?

Also can I ask you a question on the document you  shared? What does your automated validation consist of?

Thanks!

[2021-03-14 09:13] MarineChap commented on #390
Okay I need to find a better name for this channel number parameters. When doing the local CAR, it will be the average of N nearest number of channels outside of the radius. I was thinking to put as parameters; the radius and this N number of of channels.

The automated validation is not much more what you already have. . Originally we wanted to just applied your spiketoolkit validation workflow b

[2021-03-14 09:16] alejoe91 commented on #390
Got it! Maybe `num_local_channels` can be a good name and you could explain what the mechanism is in the do string :)

What was the problem with the validation pipeline? Can I ask you what quality metrics and what thresholds you use? Did you have problems with the `st.curation.threshold` functions?

[2021-03-14 09:28] MarineChap commented on #390
I am not clear on what the problem was exactly. You helped Kasia on it at some points.
They were also the problems with reloading the data from phy when some channels has been removed. I think we fixed together this one. Don't worry I will open issues if needed.

[2021-03-14 09:30] #447 closed

[2021-03-14 09:31] #436 closed

[2021-03-14 09:32] #415 closed

[2021-03-14 09:32] #414 closed

[2021-03-14 09:33] #386 closed

[2021-03-14 09:34] #451 closed

[2021-03-14 09:34] #176 closed

[2021-03-15 09:18] MarineChap commented on #390
Hello,
Do you have something in your API to directly find out the nearest electrodes from a channel id ? Thanks

[2021-03-15 09:37] alejoe91 commented on #390
Hi @MarineChap

We have code here and there (e.g. [here](https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/postprocessing/postprocessing_tools.py#L1974-L1977)), but not in a centralized location. Can you make a `utilis.py` in the base `spiketoolkit` folder and make a:

[code]

function? `channel_ids` can be a list, so it can return the a list of closest channels to each of th

[2021-03-15 10:29] MarineChap commented on #390
I am hesitating if we need to have a group option for this method.
If we are filtering only in a group, do we need to take the closest channels only in this group or we are taking the closest channel and next step, we are removing the channels not present in it ?

[2021-03-15 10:33] alejoe91 commented on #390
The filter will be applied on all channels unless a `SubRecordingExtractor` is explicitly created using a subset of channels. So I think it's safe :)

[2021-03-17 16:04] gmaggi opened #469 "allow to set TMP directory for phy_export ?"
Hello,

Apparently, during the phy_export operation, several (~200) files are created in the /tmp folder.
Those files are named waveforms_*.raw. It turns out that those fill up the /tmp folder and yields a crash in the job execution.

Is there a way to choose another location to store these waveforms_*.raw?
Also, could you tell me please what is the function of these waveforms_*.raw?

Thanks,
Giul

[2021-03-18 11:31] gmaggi opened #471 "bad_channel_ids gives a Matrix dimensions must agree.Error using /"
Hello,

There is a dataset that runs well if `bad_channel_ids = []`, nevertheless,`bad_channel_ids = [191]` throws the following (this is the last part of kilosort2.log):
...
Finished splitting. Found 55 splits, checked 252/252 clusters, nccg 80
Found 0 splits, checked 1/252 clusters, nccg 0
Found 0 splits, checked 1/252 clusters, nccg 0
Found 4 splits, checked 101/256 clusters, nccg 30
Found 4 sp

[2021-03-18 11:52] alejoe91 commented on #471
Hi @gmaggi

Strange that kilosort runs fine almost until the end.. It might be a problem with the way `remove_bad_channels` and `common_reference` interact with each other. Can you try to run KS removing bad_channels, but not applying CAR? At least we can see if that is the case

[2021-03-18 12:36] MFVDias commented on #469
Hi Giuliano,

I ran into the same problem and started using the `set_tmp_folder` method to set a temporary folder on an external SSD.
[code]

I create the temporary folder in advance with:

[code]

[2021-03-18 14:45] gmaggi commented on #471
Hi @alejoe91 ,

I got some feedback from my colleague. It turns out that if the `common_reference` method is not executed, preprocessing works fine with  `bad_channel_ids= [...]`

Feel free to close this tissue.
Thanks,
Giuliano.

[2021-03-18 14:48] alejoe91 commented on #467
Hi @AlanoudAlsubhi

Unfortunately this is a windows relate dissue that we still have to solve. If your recording is not too large and you have enough RAM, you can use the `memmap=False` argument

[2021-03-18 15:27] MarineChap commented on #471
@gmaggi  Hey not sure why you would want this to be closed ? Hanna needs it to work together.
@alejoe91 you think there is no way to fix this problem ?

Thanks

[2021-03-18 15:46] gmaggi commented on #471
Sorry for my early closing request. Maybe @alejoe91 has further inputs.

[2021-03-19 08:00] alejoe91 commented on #471
Can you summarize again the problem? I got a bit confused by this message

[2021-03-19 08:17] gmaggi commented on #471
Hi @alejoe91

The problem (Matrix dimensions must agree.Error using /) is when using preprocessing tools:

- **Case it works fine:**

1. outBadChannels = st.preprocessing.remove_bad_channels(recoding, bad_channel_ids=[191], defaults)

2. outBandPass = st.preprocessing.bandpass_filter(outBadChannels, freq_min=300, freq_max=60000, defaults)

- **Case it gives troubles:**

As before, plus:

3. st.pre

[2021-03-19 08:33] alejoe91 commented on #471
I see. Did you try to disable Kilosort's CAR? I don't see why this would fail..maybe the global CAR messes up the signals a bit? If Kilosort runs, then the recordings should be "correct"

[2021-03-19 09:00] MarineChap commented on #471
Hello @alejoe91
I just checked with Hanna but we are always disabling the Kilosort CAR option in our lab.
Do you think we should also open an issue on the kilosort repo ?

[2021-03-19 09:06] alejoe91 commented on #471
Can you check the signals that you are ingesting into kilosort? Also if you don't use the bad_channels does it work?

[2021-03-19 09:34] MarineChap commented on #471
What do you want us to check on the signals exactly ?
and yes without bad_channels it works. that's really the combination of CAR and bad_channels.

This afternoon we will look if we see any majors differences between the output of:
- CAR followed by bad_channels removal
- bad_channels removal followed by CAR
- CAR alone

Keep you posted.

[2021-03-19 13:35] MarineChap commented on #471
Comparison done by Hanna:

[code]
Seems all good. Do you see something else to check ?

[2021-03-22 10:16] #390 closed

[2021-03-22 10:17] alejoe91 commented on #471
Not really honestly. Once kilosort is run, it works on the binary file created, so KS "doesn't know" that there is a missing channel!

[2021-03-22 10:18] alejoe91 commented on #442
I think this is fixed! https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/validation/quality_metric_classes/utils/curationsortingextractor.py#L28-L31

[2021-03-22 10:18] #442 closed

[2021-03-22 10:57] MarineChap commented on #471
yeap I am also puzzled by this.  I just tested with Kilosort3 instead of Kilosort2 and it is working.

[2021-03-30 13:39] MarineChap commented on #390
@alejoe91  Sorry to bother you but... when are you planning to release this package following my PR? We are waiting for an official release to install it in our cluster.
Thanks
Have a good day

[2021-03-30 13:58] alejoe91 commented on #390
@MarineChap sorry I forgot!!!

Pushed a new version now (0.7.5), should be up on PyPi in a few minutes.

[2021-03-31 14:08] MarineChap commented on #390
Super. Thanks !

[2021-04-06 07:21] MarineChap opened #476 "Local CAR - Neuropixels radius values"
Hello,
Some remaining bugs to fix :
- crashed with the verbose option (tuple transformed in str)
- crashed when there is no cell contained in the annulus (exclude/include radius to close from each other)

I will do a PR fixing it.

However, I still have a question about the unity of the electrode distances for the neuropixels. Where in catgt you would put 2,8 um as radius, I don't know what would

[2021-04-06 07:30] alejoe91 commented on #476
Hi @MarineChap

Thanks for pushing a fix. Regarding the distances, those I'm not sure what a good value would be. Where did you get the 2, 8um from? Sorry, what is catgt? The physical distance between electrodes in neuropixels is around 20um..so I would use at least 40-100um

[2021-04-06 08:17] MarineChap commented on #476
Hello @alejoe91,
CatGT is the tool developed by Bill Karsh for  neuropixels pre-processing including a local car. But indeed, now that I am looking better in the doc I think 2,8 is the number of electrodes sites and not the distance in um as my colleagues told me.
Thanks. We will do some tests to see what it is the best values.

[2021-04-07 16:02] shirquinn opened #477 "sorting data that contain epileptic spikes"
Hi guys
Thanks a lot for your amazing work
while recording with a 32ch neuronexus liner electrode from the cortex of epileptic mice(anesthetized), I get a sorted output of only multiunits, with no single units, with different sorters. (no such problem with the WT mice).
These mice have a low total power and within the epileptic activity the spikes are highly synchronized and seen in most channels

[2021-04-07 17:17] alejoe91 commented on #477
Hi @shirquinn

Have you tried using common median reference? As the epileptic signal seems to appear on almost all channels it might improve the situation.

If you have a method to detect these events, you can construct a mask and apply it to the recording using the `st.preprocessing.mask()` function or the `st.preprocessing.remove_artifacts()` one.

Looking at the signal, I don't think that clipp

[2021-04-08 07:50] MarineChap commented on #476
@alejoe91  Sorry to bother you with that but just checking in case of local radius chosen too close, what would you expect as behavior :
- raise an error when creating the CommonReferenceRecording object (same place as other asserts)
- raise an error in get_traces
- Don't raise an error - just don't remove any reference value from the channel concerned

Thanks

[2021-04-08 09:27] alejoe91 commented on #476
Hi @MarineChap

No worries at all! I would raise an error when creating the object

[2021-04-09 06:53] alejoe91 commented on #213
@sin-mike take a look at https://probeinterface.readthedocs.io/en/main/ :)

[2021-04-09 06:53] #213 closed

[2021-04-12 16:51] MarineChap commented on #471
Hello, with the last release of spiketoolkit (0.7.5), this bug disappeared.  So we can close this issue!
(I cannot do myself apparently as I am not the person who opened it or maintainers)

[2021-04-12 16:58] alejoe91 commented on #471
Closing then :)

[2021-04-12 16:58] #471 closed

[2021-04-12 20:12] gprabaha opened #479 "Error in Template Waveform Extraction"
I am trying to extract the individual and the average (template) waveform for each unit, which I am extracting using MountainSort. To do that I use the following commands:

    templates = st.postprocessing.get_unit_templates(recording, sorting, max_spikes_per_unit=200,
                                                    save_as_property=True, verbose=False)
    max_chan = st.postprocessing.get_un

[2021-04-13 07:43] alejoe91 commented on #479
Hi!

Is `recording` filtered? I think that the offsets might be due to the recording not being filtered when you extract the template. Can you try to filter it with `st.preprocessing.bandpass_filter` and run it again?

[2021-04-13 08:19] #476 closed

[2021-04-13 10:18] Dradeliomecus opened #480 "export_to_phy template creation very slow"
Hi,

I am debugging why the `export_to_phy` method is so slow for me, and found that out of the 3,200 s, 1,422 s are spent in the `get_unit_templates` method.
This is because the default mode for the template creation is to take the `median` rather than the `mean`, and there is no parameter in `export_to_phy` to change it.

I did some benchmark, and `mode="median"` takes 1,422 s for me, whereas `m

[2021-04-13 10:25] samuelgarcia commented on #480
Other possibility would be to make the median on a subsets of spikes.

[2021-04-13 12:58] Dradeliomecus commented on #480
Also pretty big deal:
During `export_to_phy`, the step `compute_amplitudes` takes 1,422 s, 1,402 of which are spent computing the template (using the median).
I think it would be much better to compute the template once and pass it on to `get_unit_amplitudes`, rather than computing the templates twice which is very time consuming!

Here is the line I'm talking about:
**https://github.com/SpikeInte

[2021-04-13 13:15] samuelgarcia commented on #480
@Dradeliomecus
note that we are in a process of a big refactoring that should make all this faster.
Have look here : https://github.com/SpikeInterface/spikeinterface/pulls

At the moment all partial function are woriking in this new branch.

[2021-04-13 13:31] Dradeliomecus commented on #480
Ah nice!

I see that `compute_amplitudes` and `compute_pc_features` aren't implemented yet, so I'll just wait for this version to be live and then I'll see if this problem persists! :)

[2021-04-13 13:51] gprabaha commented on #479
Thanks for the suggestion! `recording` was not filtered, so now I am using `recording_f` instead, which is Butterworth filtered. Below is the updated post-processing function:

    def postprocess_recording(recording_f, sorting, file_name, output_path_parent, output_dir_name):

      output_dir = output_path_parent + output_dir_name + file_name + "/"
      if not os.path.exists(output_dir):

[2021-04-13 14:11] samuelgarcia commented on #480
compute_pc_features is done with in
spiekinertface.toolkit.postprocessing.principal_component.py
maybe not already merge in the repo branch.

[2021-04-13 14:51] alejoe91 commented on #479
Hi!

So of course for postprocessing you need to use filtered data, because the postprocessing functions use whatever recording you give as input and to get spikes you need filtered data.

Internally mountainsort4 and other sorters filter the data by default, so it's your choice whether to use SI for filtering as well or to rely on the different sorters. Personally, I would filter everything in SI

[2021-04-13 15:41] gprabaha commented on #479
Hi!
I am calculating the templates of each unit using all the spikes identified, setting `max_spikes_per_unit=None`. But for storing, it seemed better to keep the default 300 samples of waveforms retrieved from `st.postprocessing.get_unit_waveforms`. I also wanted to store the SEM of the waveform, but if I have to calculate that, then I have to extract all the waveforms and then calculate SEM of t

[2021-04-13 16:29] alejoe91 commented on #479
SpikeInterface caches the waveforms so when you call the get templates it's not recomputing them by default. To force recomputation, you can add the `recompute_info=True` argument to the `get_unit_templates` function

[2021-04-13 16:31] alejoe91 commented on #479
For the SEM question, this is not implemented in SI yet, but you could compute it 'manually'  and then store it as a property with the `set_unit_property` function

[2021-04-14 16:17] AlanoudAlsubhi opened #481 "spiketoolkit.preprocessing.remove_artifacts()"
Hi,
I am trying to use the tool spiketoolkit.preprocessing.remove_artifacts(), however, I get this error message when I try to set the mode.
TypeError: remove_artifacts() got an unexpected keyword argument 'mode'

I am also wondering, can I set the removed artifacts to None? like I don't want the data points to be replaced by zeros, I just want to indicate that the data points don't have a numeric

[2021-04-14 17:22] alejoe91 commented on #481
Hi, can you upgrade spiketoolkit to 0.7.5?

Unfortunately you can only substitute the values, not set them to nan (since this will affect a lot of downstream processing)

Cheers
Alessio

[2021-04-20 00:05] ferchaure commented on #423
I will try to code that missing metris between clusters. Will the structure of spiketoolkit and spikemetrics change in the new version of spikeinterface?

I will desist if @magland think that that metris weren't very useful in real cases.

[2021-04-20 01:52] #479 closed

[2021-04-20 07:16] samuelgarcia commented on #423
@ferchaure : yes metrics are entirelly refactor in the new version.

Have a look to this : https://github.com/SpikeInterface/spikeinterface/tree/big_refactoring/spikeinterface/toolkit/qualitymetrics

I would stringly encourage you to make PR on this new branch.
The new branch will be switch in the master next Friday.

The new "qualitymetrics" is not totaly finish but but should be easier to read a

[2021-06-01 16:49] lfrank opened #486 "NWB-related error with read from nwb recording extractor"
We have a recording extractor that we've written to an NWB file, and when we try to use it to compute metrics, we get the error below.

Note that I've modified my local version of the nwb extractor to include load_namespaces=True, and I was planning to submit a pull request once we tested it.

any thoughts on this?

_RemoteTraceback                          Traceback (most recent call last)
_Remot

[2021-06-02 18:54] lfrank opened #487 "NWB speed issues"
Hi all. I did a comparison of computing cluster metrics using a recording extractor created from an NWB file vs. a CachedRecordingExtractor. This was 100 seconds of tetrode data with ~13000 waveforms.

NWB extractor: 719 seconds
Cached extractor: 38 seconds

This is likely due to the fact that the h5py library is very inefficient for extracting out small snippets of data from an HDF5 file, but tha

[2021-06-03 07:53] samuelgarcia commented on #487
Hi Loren,
in the old API normaly you can play with the chunk_size when extracting waveforms, @alejoe91 can you confirm ?
Can you share the code ?

In the new API (spikeinterface from source), for sure,  waveform_extarctor engine get traces in memory with custumisable chunk size, so the difference between the 2 reader shold be lower.
Norammly the new API for waveform extarctor is faster than the ol

[2021-06-03 14:20] lfrank commented on #487
Hi Samuel. Thanks for that information; the new version sounds like what I was hoping for, and I can look into the chunk sizes in the interim, although I didn’t see that when I glanced at the code.

Separately, I should mention that writing the Nwbextractor using the old code is much, much slower than writing, for example, a numpy extractor (1100 seconds vs. 11 seconds for a 10 minute chunk of dat

[2021-06-03 16:04] samuelgarcia commented on #487
The new NWB reader done by Alessio is almost finish here : https://github.com/SpikeInterface/spikeinterface/pull/160
I will merge it very soon.
Tell me if it is faster when merged.
I must admit that I don't use NWB, so I can't tell about speed issues.
I prefer a lot to work with simple binaries file.

[2021-06-03 16:06] samuelgarcia commented on #487
Note that in the new API you can also do `recording2 = recording.save(folder='/new_dataset')` : this write recording to binary format in a folder. This is quite fast. And then play with recording2.

[2021-06-04 08:58] alejoe91 commented on #487
@lfrank note that the write to NWB function will no longer be in SI, but it's implemented in nwb-conversion-tools

[2021-06-04 18:33] rly commented on #486
I am now able to reproduce the error, and I am working on a fix. It is a bug on the PyNWB/HDMF side for generating API classes (e.g., when a file with the ndx-franklab-novela extension is read but ndx-franklab-novela is not imported).

[2021-06-05 07:55] rly commented on #486
HDMF 2.5.7 (just released) should fix this error. However, if the file contains an `ndx_franklab_novela.NwbImageSeries`, and that object lacks a 'data' dataset, there may be a different error.

Please retry this and let me know how it goes.

[2021-06-10 12:36] luiztauffer opened #488 "export_to_phy: [Errno 24] Too many open files"
When trying to export results to phy:
[code]
I get this:
[code]

[2021-06-17 04:18] lfrank opened #490 "extra print statement in compute metrics"
somewhere in the code called when one computes spike metrics there is an extra print statement that outputs
'end_frame' set to ...
many times

[2021-07-27 12:29] gmaggi commented on #469
Hi @mfvd ,
Thank you for the tip, and sorry for my delayed feedback.
The workaround works well!

Thanks,
Giuliano.

[2021-07-27 12:29] #469 closed