[2018-10-11 22:40] magland opened #4 "TODO: document how to install spyking circus and ironclust"
in order to make the spike sorter wrappers work

[2018-10-13 14:00] alejoe91 opened #5 "Different group channels should be sorted separately"
Probes organized in groups (e.g. 4 tetrodes) should be sorted group-wise. This needs to be done internally and the sorting output should be reassembled after sorting

[2018-10-15 09:58] alejoe91 opened #6 "mountainsort4 is broken"
in `ml_ms4alg/mountainsort4.py` line 39

- update getChannelInfo --> getChannelProperty

[2018-10-19 17:30] alejoe91 commented on #4
spyking_circus is done

[2018-10-19 17:30] alejoe91 opened #10 "comparison tools"

[2018-10-19 17:30] alejoe91 opened #11 "evaluation metrics for non ground-truth data"

[2018-10-20 10:17] alejoe91 opened #12 "export to phy for GUI"
I think this belongs to spiketoolkit rather than spikeinterface, because many things need to be computed in order to launch the phy GUI.

I think the easiest thing would be using the template-GUI that KiloSort and SpykingCircus use because:
- files are well documented (https://phy-contrib.readthedocs.io/en/latest/template-gui/)
- it doesn't require from us to write a new plugin for phy (e.g. KwikG

[2018-10-21 20:52] jamesjun commented on #4
Here is the ironclust installation instruction:

0. Prerequisites: Matlab toolbox (parallel processing toolbox and CUDA is optional)
1. git clone https://github.com/jamesjun/ironclust
2. set "IRONCLUST_SRC='~/src/ironclust" in .bashrc (alternatively pass ironclust path when calling ironclust sort function)

[2018-10-21 20:56] jamesjun commented on #4
@alejoe91, Where can I find documentation for the spyking-circus within spiketoolkit? I have encountered the following error while running the example ipynb:

[code]

[2018-10-22 12:07] magland commented on #12
Seems reasonable to me.

[2018-10-22 14:12] jamesjun commented on #12
That's a great idea. There are many who is using phy for manual interface. It used to be significantly slow for high-channel count probes but I am not sure if the have made improvements.

[2018-10-22 16:31] jamesjun opened #13 "Installing spyking-circus"
If conda is not installed
`wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh`
`bash Miniconda-latest-Linux-x86_64.sh`

`conda install -c mpi4py openmpi`
`conda install -c conda-forge -c spyking-circus spyking-circus`

[2018-10-22 16:31] #13 closed

[2018-10-23 09:55] colehurwitz31 commented on #12
+1

[2018-11-01 14:31] alejoe91 commented on #12
Won't close this because I need to fix the template scaling in the GUI..but for the rest it works :)

995df7f56a9ca94522f3f65c3100b8576194f88b

[2018-11-01 14:32] #10 closed

[2018-11-05 12:14] colehurwitz31 opened #16 "Bug in Spyking-circus notebook"
When I run the spike sorting function for spyking circus, I get this error:

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-8-76c76043ef33> in <module>
     14         electrode_dimensions=[1,2],
     15         whitening_max_elts=1000,  # I believe it relates to subsampling and

[2018-11-05 12:32] colehurwitz31 opened #17 "Bug in klusta notebook"
When I tried to run the klusta spike sorting function, I got this error:

'group' property is not available and it will not be saved.
WARNING: this is a temporary warning. You should use getChannelIds() to iterate through the channels. This warning will be removed in future versions of SpikeInterface.
WARNING: this is a temporary warning. You should use getChannelIds() to iterate through the chann

[2018-11-05 12:36] colehurwitz31 commented on #17
I got it working by copying the config_default.prm from the spiketoolkit local repository to that path. Still probably needs to be fixed.

[2018-11-05 15:27] alejoe91 opened #18 "Add sorters files to manifest"

[2018-11-05 16:06] colehurwitz31 commented on #16
I still run into this issue when running it on the toy dataset after removing electrode_dimensions:

| Step "filtering" failed for reason Command '['mpirun', '-x', 'LD_LIBRARY_PATH', '-x', 'PATH', '-np', '24', 'spyking-circus-subtask', 'filtering', '/afs/inf.ed.ac.uk/user/s17/s1727843/spiketoolkit/examples/spyking_circus/recording.npy', '24', '0', 'False']' returned non-zero exit status 1.!

| Ste

[2018-11-05 19:04] alejoe91 commented on #16
it's probably an mpi-related problem..can you try: `conda install -c mpi4py openmpi`. Should work ;)

[2018-11-07 12:05] colehurwitz31 opened #19 "Bug in exportToPhy"
Ran into this error when running exportToPhy in the mountainsort example notebook. I used the local install of spiketoolkit this time.
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-14-9251dc7c500b> in <module>
----> 1 st.exportToPhy(recording, sorting, output_folder='mountainsor

[2018-11-07 12:53] colehurwitz31 commented on #18
I am not sure exactly what adding sorter files to the manifest means, but when I installed spiketoolkit locally, I still had to manually copy spike sorting config parameter files to the .egg folder.

[2018-11-12 15:48] alejoe91 commented on #19
Hi @colehurwitz31, just seen this. It was a stupit error: I had `self._waveforms` instead of `self.getUnitWaveform()`, so if waveforms were not computed before it was an empty list...should be fixed with latest commit

[2018-11-12 16:23] #19 closed

[2018-11-12 16:23] #18 closed

[2018-11-13 10:34] samuelgarcia opened #21 "tridesclous"
Hi @alejoe91.
I did not knewn that you are also involved in spike sorting.

This project is somethign that I wanted to do from a long time.
Congratulation for this.
I can join effort if you want.

I am the author of tridesclous.
Would you be intereested to have an interface with tridesclous here ?
I can do it if you want.

[2018-11-13 11:48] samuelgarcia commented on #21
Great.
Thank for the quick anwser.

I will have few time the 4 next weeks.
But I will try a PR for tridesclous in spikeintreface and spiketoolkit.

yes TDc have a really great UI but it is verylink to the TDC methods itself (template matching).
Moreover offer 2 distinct UI one for curating the catalogue (catalogueWindow) not spikes and one for checking the spike sorting (PeelerWindow).
Few spike s

[2018-11-13 12:36] alejoe91 commented on #21
will definitely try :)

[2018-11-14 17:59] alejoe91 opened #22 "multisorting comparison assignment"
in branch devdev:

The MultiSortingComparison takes a list of sorting_extractors and does a multi-sorter matching.
The first implementation had some problems regarding the assignment of units to best agreement scores.
The `AgreementSortingExtractor` should return spiketrains wiht only matched TP spikes and it takes a `min_agreement` argument which selects units with at least matched between `min_a

[2018-11-16 15:58] alejoe91 opened #23 "create car and cmr filter recordings"
- lazy filters to apply cmr / car to a recording extractor

- should also allow for splitting (e.g. group 1 cmr with first 16 channels / group 2 cmr with second 16) for - example for bilateral implants

[2018-11-18 17:04] alejoe91 opened #24 "change dependencies of spikeinterface to spikeextractors"

[2018-11-26 21:57] #24 closed

[2018-12-05 09:42] #23 closed

[2018-12-05 09:42] alejoe91 commented on #5
this is solved with the new `by_property` argument.
can be run in parallelr with `parallel=True`

[2018-12-05 09:42] #5 closed

[2018-12-05 09:43] alejoe91 opened #28 "speed up waveform extraction"
use multiprocessing or other strategies

[2018-12-05 15:04] alejoe91 opened #29 "use Pathlib for path managements"
os.path and just using strings give lots of errors on windows. We should use Pathlib, which is cross platform

[2019-01-11 06:46] #29 closed

[2019-01-11 06:48] alejoe91 commented on #28
The slowness of wf extraction was due to the lazy filter. A possible solution that could be integrated is to filter the entire recording at once, save it as bindat locally and reload it using the bindatextractor, which memmaps the data.

[2019-01-11 06:48] #28 closed

[2019-01-21 10:43] alejoe91 commented on #16
Hi @ivan-pi, the problem is usually the mpi installation...

There are some known issues with openmpi (https://groups.google.com/forum/#!searchin/spyking-circus-users/mpirun$20error%7Csort:date/spyking-circus-users/sYYU_xJLAp4/_oDM2JmCAAAJ)

Can you check the mpi version? `mpirun --version`

Cheers
Alessio

[2019-01-21 11:05] alejoe91 commented on #16
@ivan-pi can you also try a:
`pip install pyqt5` ?

[2019-01-23 18:04] alejoe91 opened #32 "preprocessing bandpass filter parallelization"
currently the filter uses 1 cpu. It would be nice to add multiprocessing to speed it up

[2019-01-28 11:34] colehurwitz31 opened #33 "Validation metrics for spike sorting"
This would cover some validation metrics for spike sorting without ground truth.

[2019-01-28 11:37] colehurwitz31 opened #34 "Consensus Graph Method"
Development of comparison methods for multiple sorted datasets using graph algorithms

[2019-01-28 11:38] colehurwitz31 opened #35 "Make sure exportToPhy working well"
Alessio, you said that you wanted to make sure our exporttoPhy is working well.

[2019-01-31 12:36] colehurwitz31 opened #36 "Outdated examples"
Some of the examples no longer work because they are outdated.

[2019-02-01 10:17] alejoe91 commented on #36
a4ea1f50bf8d1f85b0fc8f70ce1287c9182a91db

[2019-02-01 10:17] #36 closed

[2019-02-01 10:18] alejoe91 commented on #35
a4ea1f50bf8d1f85b0fc8f70ce1287c9182a91db

exportToPhy works, but there is still the issue on the template amplitude...

[2019-02-01 10:19] alejoe91 commented on #34
https://github.com/SpikeInterface/spiketoolkit/issues/22

basically same issue: closing https://github.com/SpikeInterface/spiketoolkit/issues/22

[2019-02-01 10:19] #22 closed

[2019-02-01 10:19] #11 closed

[2019-02-01 10:19] alejoe91 commented on #33
same as https://github.com/SpikeInterface/spiketoolkit/issues/11

[2019-02-01 10:20] alejoe91 commented on #35
closing https://github.com/SpikeInterface/spiketoolkit/issues/12

[2019-02-01 10:20] #12 closed

[2019-02-01 10:21] #16 closed

[2019-02-01 16:45] alejoe91 commented on #32
https://github.com/SpikeInterface/spiketoolkit/commit/14d3ab5ad18b4d553d16597a76aff3bb5a4c69f7

[2019-02-01 16:45] #32 closed

[2019-02-06 09:06] samuelgarcia opened #39 "Implementation of a new sorter"
Hi all.
I am about to implement tridesclous here.
Here some feeling about the code structure and the dificulties I could have.

[2019-02-06 09:06] samuelgarcia commented on #39
First I think that sorter should be implemented with python classes instead of function.

[2019-02-06 09:08] samuelgarcia commented on #39
Name of function (or classes) should not be the same name as the module itself (klusta - klusta).
We could have some conflict problem very soon with such a choice.

[2019-02-06 09:10] samuelgarcia commented on #39
A global list of all sorter should be written somewhere.
In the current state we must modify sorter/__init__.py and sorter/tools.py (sortingThread).

A list of classes should be more convinient in many places.

[2019-02-06 09:12] samuelgarcia commented on #39
For now I don't really understand how a sorter will get the geometry of the probe (aka PRB file).
Is it a necessary kargs ? Or a recommanded kargs ?

[2019-02-06 09:20] samuelgarcia commented on #39
Import module should not be done in the function itself.

Maybe this approach should be easier in each module:
[code]
And so the the ```HAVE_KLUSTA``` could be usefulll as a class attr to include the sorter (or not) in a full list.

[2019-02-06 09:52] alejoe91 commented on #39
Hi @samuelgarcia!

Thanks for the suggestions/comments.

- ***First I think that sorter should be implemented with python classes instead of function.***
We opted for functions instead of classes because spike sorting sounded more like an input-output function. However, I see he benefits of using a class (e.g. storing params etc.), but it would also probably be less direct in the execution of spik

[2019-02-06 10:22] samuelgarcia commented on #39
Thank for that quick answers.
Of course I can help to implement theses thing if you like the suggestions.

[2019-02-06 10:33] samuelgarcia commented on #39
The main reason of classe is that we could have some usefull attributes like:
  * installed = True/False
  * default_params = {...}
  * default_params_by_dataset = {...}
and at least one method:
  * run_sorter(**kargs)

And so we could have 2 functions like:
  * get_all_sorter_classes
  * get_all_installed_sorter_classes

classes do not exclude a function shortcut like this
[code]

[2019-02-06 12:20] alejoe91 commented on #39
Hi @samuelgarcia

The helper function sounds good and if we give the proper naming it should not break any of the examples.

Can you create a branch so we can implement those updates?

Thanks for the help!
Alessio

[2019-02-06 13:16] samuelgarcia commented on #39
I will but first I will try to implement tridesclous :)

[2019-02-11 20:08] samuelgarcia opened #41 "How to deal with several environement."
An issue we will face very soon is the following : some sorter are not compatible in the same environement.
For instance, recently phy was still using the QT4 package.
Tridesclous is based on PyQt5 for the GUI. The actual conda system (but not pip) prevent from installing both Qt4 and Qt5.
So this means that tridesclous and phy can't live in the same environement.
It is not a major problem in gene

[2019-02-11 20:19] colehurwitz31 commented on #41
That seems like it could be a nice solution! I think moving towards a class based sorting system with features like this would be a good step in the right direction.

We are also looking into wrapping spike sorting algorithms in singularity containers which could solve some of the dependency issues.

[2019-02-11 20:23] samuelgarcia commented on #41
containers system sounds good but spiketoolkit would be linux only, no ?

[2019-02-11 20:26] colehurwitz31 commented on #41
That’s true that singularity would only be a solution for Linux based systems. Our plan is to make a separate repo for singularity wrapped sorters.

For spiketoolkit, you are right that we need another solution. I think that decoupling instantiation and running of spike sorters would be a nice solution as you mentioned.

Would the next step be looking into making each sorter an object then?

[2019-02-11 20:28] samuelgarcia commented on #41
As soon as tridesclous is finish I can take in charge of moving towards classes.

[2019-02-11 20:36] colehurwitz31 commented on #41
Great! Thanks so much for all the good feedback and support. :) I can also help move to classes if you would like to discuss the process this week

[2019-02-12 15:01] alejoe91 commented on #41
@samuelgarcia the dev branch of `phy` uses PyQt5!

I was actually able to install all sorters in the same environment :)

But I support in general the use of classes for spike sorters

[2019-02-12 20:11] samuelgarcia commented on #41
Yes I kown this but dev branch is not as easy as the pip install phy.

[2019-02-13 09:15] samuelgarcia opened #42 "spiketoolkit, spikeextractors and spikewidgets should be merged in one unique code base"
The more I explore this project, the more my feeling about **"spiketoolkit, spikeextractors and spikewidgets should be merged in one unique code base"** is growing.

I was not part in previous discussion, so I don't have the global roadmap picture. Maybe you already discussed this in the past. I am sorry if this issue add extra noise in the global advanced of the project.

What I guess from code r

[2019-02-13 11:31] colehurwitz31 commented on #42
Hi Sam,

We have discussed this before and you bring up some excellent points. I can give you some insight into our design decision, but I think we will be able to clarify and brainstorm even better when we meet over Skype next week.

We decided to have each module be separated for number of reasons:

1) Spikeextractors was designed to be our most robust and stable module. It was the first one we

[2019-02-14 11:34] colehurwitz31 opened #43 "Testing each sorter requires installing each one"
@samuelgarcia @alejoe91

So the reason the build isn't passing now is that the test you included for trideclous (while nice to have) requires that travis install trideclous. I could make travis install that package before testing, but then we might run into issues testing multiple sorters which different dependencies.

Do you have an idea about how to test each sorter with travis?

[2019-02-14 12:05] samuelgarcia commented on #43
For now the best is to left Travis in red.
I started working with class since one hour. I will make a proposal today via a PR.

The new class will make possible to make test or not depending SorterClass.installed or not.

What do you think ?

Matlab sorter will never be tested in travis for instance.

About tridesclous, this run test on circle-ci. It is possible to install via a simple pip isntall

[2019-02-14 12:08] colehurwitz31 commented on #43
Yes, that does sound like a good idea. I am looking forward to your PR.

[2019-02-14 12:15] samuelgarcia commented on #39
@alejoe91 @colehurwitz31

I started working on the class approach.

I have a question.

Some (but not all) sorter have a **by_property**, **parallel** kargs which internally call **_spikeSortByProperty** and **_parallelSpikeSorting** I don't anderstand totally  by reading the code the goal of this.
Is it something that could be shared by all sorter (aka available at bas class level) or is it a par

[2019-02-14 12:21] samuelgarcia commented on #39
For parralel I get it, it should be available for all= with more option ('thread' or 'multiprocessing' or ...)

For "by_property" is it the way you deal "channel_groups" ?
In the prb file a channel_group is several channel that have to be sroter independently from others (aka diffrerente probe).
I will try to put also in class but will need help for this.

[2019-02-14 12:47] colehurwitz31 commented on #39
Hi Sam,

I did not implement any of the spikesorters, however, I think @alejoe91 could give some more insight into the purpose of _spikeSortByProperty than I can. I looked at the documentation and I couldn't figure out what it does. I do think it was designed to deal with channel groups or something similar.

I agree about the parallel changes you are recommending.

Cole

[2019-02-14 14:29] samuelgarcia commented on #39
Ok thanks.

Is there a documentation yet somewhere ?

[2019-02-14 14:35] alejoe91 commented on #39
Hi @samuelgarcia

Yes the idea is that you can sort separately based on a poperty, such as  `group`. We use it for tetrodes.
Basically the _spikeSortByProperty splits the recording in subrecordingextractors, runs spikesorting on each of them, and then reassembles the output with a multisortingextractor.

I agree that we should allow to choose between threading and multiprocessing implementation.
I

[2019-02-14 14:40] samuelgarcia commented on #39
OK. So it was my guess.

Globally, the channel groups (ak splitting tetrodes) should be cristal clear in the API and totally explicit.
Grouping then with propeties should be an helper and not the entry point of grouping.

I will try to propose something in the class API for this grouping that do not break this behavior but make it more flexible and explicit.

For instance tridesclous totally (and

[2019-02-14 14:55] alejoe91 commented on #39
If the by_property argument is not used, klusta, spyking-circus, and I guess trideclous will deal with the different groups because that information will be used when writing the probe files.

For example, using klusta, when the saveProbeFile funcion is called then it will contain the grouping info, used then by the algorithm.

[2019-02-14 14:58] samuelgarcia commented on #39
I am not sur to get the workflow : how klusta does known that there are several groups.
If it is already in the PRB file, why this extra "by_property" ?

Have you seen the PR ?

[2019-02-14 15:07] samuelgarcia commented on #39
One thing I did not anderstand when implementing tridesclous is :
when there are sevral channel groups, how the sorter known on whicj channel group to make the computation ? On all by default ?

I need to add this in the tridesclous wrapper.

Here also, I have the strong feeling that all SortingExtractor should be MultiSortingExtractor with n=1 when there only channel group so this would avoid ugl

[2019-02-14 15:10] alejoe91 commented on #39
So the basic use case would require the user to load the probe file before running spike sorting:

[code]
The last line rewrites the probe file in klusta format (adding the adjacency). The by_property allows also to process groups completely separately, as many people do for tetrodes, for example. I think this implementation allows the user to choose either method. The splitting by property also b

[2019-02-14 15:19] samuelgarcia commented on #39
Ok. I will do.

In tdc, channel group are in any case computed independently.

In TDC and SC waveforms are only extracted only for the belonging channel.

[2019-02-14 15:31] alejoe91 commented on #39
I see. Actually we had in mind that the waveforms should not be loaded by default from the spikesorters, as this could result in filling the memory and they might not be required for some applications. Hence, we have the postprocessing module which computes waveforms, templates, pca scores, etc.
This also goes in the direction of standardizing the analysis and validation methods. The postprocessin

[2019-02-14 15:41] alejoe91 commented on #33
We could use some of this code, or the entire package:

https://github.com/spike-sorting-validation/spikesortingvalidation

Maybe we should reach out to Pierre?

@colehurwitz31 @magland @samuelgarcia @mhhennig

[2019-02-14 15:56] samuelgarcia commented on #33
I started with Pierre Yger this repo 2 years agao.
But this repo is totally empty !! It was just a very begining (1 hour of work).
This is why I am here.
I will remove that old repo as soon as spikeinterface will be mature enough.
Note I prefer evry thing here except the name of the package (I prefer the old one  :)

Pierre plan to be in the meeting.

[2019-02-20 16:13] alejoe91 commented on #42
We could create a SpikeInterface with a custom installation that when calling the setup.py clones and installs the repos. I'm not sure this can be done automatically with the setup.py though.

Alternatively we can add a requirements.txt that installs through pip:

e.g
pip install -e git+https://github.com/SpikeInterface/spikeextractors.git@master#egg=spikeextractors
pip install -e git+https://gith

[2019-02-20 16:14] colehurwitz31 opened #46 "Existence of unphysical notch in CC"
This is useful for seeing missed spikes due to collisions; Need to to choose a notch width. This could be computed faster than the entireset of CCs.

[2019-02-20 16:14] alejoe91 commented on #21
d612090ee6cda4b1b59a786dcfc4d7016a91a0b6

I believe this is done :)

[2019-02-20 16:14] #21 closed

[2019-02-20 16:16] colehurwitz31 opened #47 "Peak SNR"
"Peak amplitude of mean template, divided by RMS noise level, after filtering. This is the max over time and electrode number. Noise level (σ) may be robustly estimated using median absolute deviation (MAD) computed from filtered data, scaled to a Gaussian equivalent σ.

This requires a standard definition of filter parameters purely for the computation of this quality metric. (excluding spatial w

[2019-02-20 16:16] alejoe91 opened #48 "unit SNR"
- code can be ported from the postprocessing module

- it can be added as a property for the sorted unit

[2019-02-20 16:16] colehurwitz31 commented on #46
* Metric taken from - Proposal for web-based spike sorting validation - Alex Barnett, Jeremy Magland, and James Jun

[2019-02-20 16:19] alejoe91 commented on #48
duplicate

[2019-02-20 16:19] #48 closed

[2019-02-20 16:20] alejoe91 opened #49 "Noise overlap metric"
implemente in:
J. E. Chung, J. F. Magland, A. H. Barnett, V. M. Tolosa, A. C. Tooker, K. Y. Lee, K. G. Shah, S. H.
Felix, L. M. Frank, and L. F. Greengard. A fully automated approach to spike sorting. NEURON,
95(6):1381–1394, 2017.

[2019-02-20 16:21] alejoe91 opened #50 "Isolation"
implemented in:
J. E. Chung, J. F. Magland, A. H. Barnett, V. M. Tolosa, A. C. Tooker, K. Y. Lee, K. G. Shah, S. H.
Felix, L. M. Frank, and L. F. Greengard. A fully automated approach to spike sorting. NEURON,
95(6):1381–1394, 2017.

[2019-02-20 16:22] alejoe91 opened #51 "1D projections (eg, amplitude histograms)"
implement in:
M. Pachitariu, N. Steinmetz, S. Kadir, M. Carandini, and K. D. Harris. Kilosort: realtime spikesorting for extracellular electrophysiology with hundreds of channels, 2016. Advances in Neural
Information Processing Systems; bioRxiv 061481.

[2019-02-20 16:22] alejoe91 commented on #39
@samuelgarcia
Can I close this?

[2019-02-20 16:23] colehurwitz opened #52 "Refractory Violations and Ratio"
The ratio between the frequency of spikes present within 0- to 2-ms interspike interval (ISI) and those at 0- to 20-ms interval is defined as the ISI ratio. It can be used as a measure of possible contamination of an isolated single unit by spikes of another unit.

- Metric taken from: Large-scale, high-density (up to 512 channels) recording of local circuits in behaving animals - Antal Berényi, e

[2019-02-20 16:27] colehurwitz31 commented on #42
I agree that having a module called, SpikeInterface, that automatically installs all three would be amazing if there is a feature like that.

Then, if you want to use that module by itself, we could have:

[code]

[2019-02-20 16:32] alejoe91 opened #53 "various distance metrics in fetaure space"
we could use for features:
- pca projections
- lda projections (computed using sorted data)

possible distance metrics
- average silouhette
- average mahlanobis/eucledian distance

[2019-02-20 19:16] alejoe91 commented on #42
Hi Cole,
I think that the first case would require to create a new package with physical copies of the 3 packages.

I was thinking more to something like a pic install SpikeInterface that automatically installs the 3 packages.
Then you can just use it as normal.

[2019-02-20 19:25] samuelgarcia commented on #39
Yes.

I will evently reformulate some proposal in splitted issue or PR.

[2019-02-20 19:27] #39 closed

[2019-02-20 19:32] samuelgarcia commented on #42
[code]
is quite verbose

Making this with an empty package but just a \_\_init\_\_.py is quite easy to make.
[code]

I don't think it is in top 5 priiority but we can keep the issue open.

[2019-02-21 12:08] samuelgarcia opened #54 "Add HS2 in sorter list"
@colehurwitz31 @mhhennig : would it be lot of work to implement HS2 in sorter list ?

[2019-02-21 12:18] colehurwitz31 commented on #54
There are a couple challenges that we need to solve to implement HS2 within SpikeInterface.

- Our read functions need to be replaced with recordingextractors (this is doable)
- We have a Probe object for each acquisition system that requires a specific channel position file associated with it. We need this for our localization. We have to somehow work the Probe object and the channel positions in

[2019-02-22 09:29] samuelgarcia opened #55 "Some sorters have a high verbosity event with debug=False"
In the new class approach. there is debug=False/True.

The goal is mainly to act on the verobose to debug or not.
This is not taken in account by many sorter that display lot a message.
For instance klusta or MS4 are verbose too much for my taste.

If we want, to run many sorter on many dataset,the inner verbosity of each run should be off to keep an eye on the main thing.

No ?

[2019-02-22 09:30] samuelgarcia commented on #55
Further more, if we want to publish notebbok to compare results of sorters, the run of each sorter should off.

[2019-02-22 09:40] samuelgarcia opened #56 "Change mountainsort4 class implementation"
#44 introduce class for sorter.

In this implementation of MS4 is a hack that play with the index of recording.
There is no persistency on disk.
This could be changed with bypassing the ```ml_ms4alg.mountainsort4``` and rewrite it inside this module so we could change the temp file.

[2019-02-22 11:18] colehurwitz opened #57 "Check if any units disappeared over time"
Disappearance of a unit over time indicates a failure to handle drift - we could create a tool to check for this.

[2019-03-01 09:16] alejoe91 commented on #43
tests are passing :) closing this one

[2019-03-01 09:16] #43 closed

[2019-03-01 09:17] alejoe91 commented on #33
we have issues for different metrics. closing

[2019-03-01 09:17] #33 closed

[2019-03-01 09:26] alejoe91 commented on #4
All installation info are there.

[2019-03-01 09:26] #4 closed

[2019-03-01 10:12] samuelgarcia opened #58 "Add yass in sorter list"
Add yass in sorter list.
yass is written in python and there is 2 API:
  * command line level
  * python level
It should be super easy to implement.

[2019-03-01 10:35] alejoe91 commented on #58
@samuelgarcia I have some code, but I fould yass to be poorly documented.

Have you tried it before? maybe we can reach out tp the paninski lab and ask if someone is interestred in implementing it?

[2019-03-01 10:37] samuelgarcia commented on #58
In the doc [here](https://yass.readthedocs.io/en/latest/getting_started.html)

run yass as a script seems trivial:
[code]

Maybe we could start with this.

[2019-03-01 13:17] alejoe91 commented on #58
ok sounds good to me :)
There is also kilosort2 https://github.com/MouseLand/Kilosort2/ that was released today!

[2019-03-01 13:39] alejoe91 opened #60 "Add kilosort2"
Kilosort released a new version

https://github.com/MouseLand/Kilosort2

[2019-03-01 14:09] samuelgarcia commented on #58
new class ?

[2019-03-07 14:39] alejoe91 opened #62 "add curation arg on Mountainsort4"
if True --> preform curation
if False --> do not perform curation

[2019-03-08 16:53] alejoe91 commented on #60
02de056414f5ba40efd9c9ea9c7a8f25a0db12ed

[2019-03-08 16:53] #60 closed

[2019-03-09 00:55] colehurwitz opened #63 "Effect of updating spike sorters on spiketoolkit"
If a developer was to update a spike sorter, changing either the parameters or the underlying implementation, would it break our class implementation of that sorter?

@alejoe91 @samuelgarcia

[2019-03-12 10:59] alejoe91 commented on #54
a5cbb014685062ff6de63b72f2c4302807f6d490

[2019-03-12 10:59] #54 closed

[2019-03-12 21:09] samuelgarcia opened #65 "Add test_heardingspikes.py in unitest (st/sorters/tests)"
Add test_heardingspikes.py in unitest (st/sorters/tests)

[2019-03-13 14:43] martinosorb commented on #42
What was decided about this? If I can give my two cents, when I first worked on this a few days ago I was quite surprised I had to install three different repos just to get started... I would suggest this:

[code]

[2019-03-13 16:05] colehurwitz31 commented on #42
That does look very nice @martinosorb . As mentioned above, we originally separated the repos because it allowed for modular development and also let the user import and use spikeextractors separately (some may only use the spikeextractors).

However, if we can maintain the modular development of three repos, but implement your suggestion, I would be very happy with that. I really like the code sn

[2019-03-13 16:13] martinosorb opened #68 "Flat dictionaries for HS and tridesclous"
As mentioned in the call, we should "expose" the parameters to the user. An option that I would suggest is to use a hybrid approach. Parameters that we consider important (i.e. the ones that the user almost always will want to change) are in `self.params`. The other parameters are in one or more dictionaries which are themselves in `self.params`:

[code]
In this way, the user can use `set_params`

[2019-03-13 16:37] colehurwitz31 commented on #42
Maybe we can look into this:

**git slave**
Git slave can be useful if your workflow need to perform same git operations on multiple project related repositories.

Gitslave creates a group of related repositories—a superproject repository and a number of slave repositories—all of which are concurrently developed on and on which all git operations should normally operate; so when you branch, each r

[2019-03-14 08:01] alejoe91 commented on #42
I would still keep the repos separate as they are designed to deal with different things.
If in the end we are going to deploy a GUI to set up a pipeline this will be all under the hood :)

@colehurwitz31 git slave could be investigated more. We have used submodules before and it's hard to deal with it.

[2019-03-14 09:55] magland commented on #42
I would prefer that SpikeExtractors, in particular, remain a separate package. It is a clean, lightweight, self-contained entity.

[2019-03-15 19:18] alejoe91 commented on #35
https://github.com/SpikeInterface/spiketoolkit/commit/99df9cfa9d667b3ac20ea334e081deaad7e82953

finally fixed this. now works like a charm: st.postprocessing.exportToPhy(recording, sorting)

[2019-03-15 19:18] #35 closed

[2019-03-15 20:11] samuelgarcia opened #69 "Proposal about spiketoolkit.comparison"
Today I have discovered and explore a bit the comparison submodule.
I mainly play with the sorting comparison at the moement.
This is very cool and cover many needs.
Thank you.

Here some feedback about the code itself:
  * There is a lake of documentation
  * there is a lake of unitests
  * variable do not have obvious naming for a newcomer (TP, FP, gtst, sst).  - BTW what is CL ? -

The class ap

[2019-03-16 09:34] alejoe91 commented on #69
Hi @samuelgarcia

I think splitting the function that need tests in separate functions, maybe in a sorting_tools file is a great idea. I agree we should write extensive tests on them, e.g. comparison between the same set of spike trains etc.

Documentation should also be added.
BTW, CL is classification error - gtsts: ground truth spike train - sst: sorted spike trains. This is taken from literatu

[2019-03-16 10:08] alejoe91 commented on #68
@martinosorb

I think this could be a good idea. 'other_pars' would also be a flat dictionary right?

[2019-03-16 10:09] alejoe91 commented on #56
This is fixed

[2019-03-16 10:09] #56 closed

[2019-03-16 10:10] alejoe91 commented on #69
Also I think that plotConfusionMatrix should be ported to spikewidgets

[2019-03-16 12:52] colehurwitz31 commented on #69
Yes, I agree with your comments Samuel! Thanks for looking at each of our modules with a critical eye, it is very helpful.

I think adding **pandas** as a dependency is fine also. We really want to keep dependencies out of the spikeextractors module, but we are more flexible on spiketoolkit.

[2019-03-18 12:08] samuelgarcia commented on #69
Thank you for feedback.
I will try to start the refactoring when I will have some time.

[2019-03-18 12:27] samuelgarcia opened #71 "Enhancement in sorter/launcher and avoid copy in sorter"
Many sorter have by internally the RawBinary as input.
In spiekextractor, it is the BinDatRecordingExtractor with frames_first=True.

This is more or less the universal format.
The main drawback, is that it do not have any metadata (dtype, nb_channel, smaple_rate,...)

Many sorter use this : tridesclous, spyking-circus, kilosort, kilosrt2, klusta, yass.

In the actual way all sorter are implemente

[2019-03-18 13:45] samuelgarcia opened #72 "Bug in Klusta"
In actual Klusta, there is a
[code]
which is

[code]
which no transpose so (nb_channel, nb_sample) but in teh doc here
https://klusta.readthedocs.io/en/latest/sorting/

They claim that klusta file must be (nb_channel, nb_sample) which is standard raw binary.
My guess is that kilosort also have the same problem because it was done in the same lab so the input file should the same same (nb_channel,

[2019-03-18 15:04] alejoe91 commented on #72
Hi @samuelgarcia

I don't think it's a bug. You can see here that without Transpose=True it saves (n_samples, n_channels):
https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/bindatrecordingextractor/bindatrecordingextractor.py#L52-L53

Also we have tested klusta and kilosort and they work correctly. I also opened data saved to kilosort format in the new kiloso

[2019-03-18 15:09] samuelgarcia commented on #72
Oups. Sorry. I miss this

When transpose=False in fact it **do** transpose!!!
It is quite counter intuitive.

And this is very dangerous behavior, I definitly vote for time_axis=0 or time_axis=1 with a time_axis=0 by default.

[2019-03-18 15:10] samuelgarcia commented on #72
And so the new implementaion is totally wrong.

https://github.com/SpikeInterface/spikeextractors/pull/105

[2019-03-18 16:33] martinosorb commented on #68
Potentially could be nested, that would make it simpler to then pass those arguments. But I can make it flat if you prefer.

@mhhennig @colehurwitz31 can we agree on what parameters should be considered "important" and "often tuned by the user" in HS? Definitely `alpha, bandwidth, n_jobs` on the clustering side (and I suggest setting a default bin_seeding=True perhaps?) and `threshold` for the det

[2019-03-18 17:09] mhhennig commented on #68
For detection, I agree `threshold` matters most. There is also:

`maa`: minimum spike area (cumulative), to exclude 1 frame baseline deviations
`maxsl`: maximum width of negative deflection
`minsl`: interval to compute `maa` over
`ahpthr`: value the repolarisation has to exceed to be counted as spike
`inner_radius`: spatial radius used to compute centre of mass
`neighbor_radius`: maximum spatial s

[2019-03-20 10:15] colehurwitz31 opened #76 "Function naming --> Camel case or underscores?"
We have a mixture of function naming conventions in spiketoolkit:

computeUnitSNR
vs.
bandpass_filter

I think we need to pick one and stick to it. What are your thoughts on which we should pick?
@alejoe91 @samuelgarcia

[2019-03-20 10:18] alejoe91 commented on #76
7. Methods
Method names should be all lower case
Words in an method name should be separated by an underscore
Non-public method should begin with a single underscore
If a method name needs to be mangled, two underscores may begin its name

https://visualgit.readthedocs.io/en/latest/pages/naming_convention.html

I htink we should stick tho this. This means refractoring all spikeextractors too

[2019-03-20 10:26] alejoe91 commented on #76
9. Functions
Function names should be all lower case
Words in a function name should be separated by an underscore

[2019-03-20 10:26] colehurwitz31 commented on #76
I see. Yeah, it looks like that is the convention. I don't mind either way if we are consistent.

[2019-03-20 10:29] colehurwitz31 commented on #76
Although it will be a big change for spikeextractors... I think we need to be consistent so I don't mind changing it..

[2019-03-20 10:29] colehurwitz31 commented on #76
Or should we do camel case because then we do way less refactoring?

[2019-03-20 10:53] colehurwitz31 commented on #76
What if we kept the camel case in the spikeextractors and made all functions in spiketoolkit underscores. That would be pretty consistent and would also be a visual differentiation between spikeextractor methods and spiketoolkit methods.. Thoughts? @alejoe91

[2019-03-20 11:41] samuelgarcia opened #77 "Bias in compute_performance in sortingcomparison"
I have spend a bit of times refactoring SortingSomparison so now I anderstand better how performance metrics are done even there some obscurs zone.

Here my main feeling: there is bias in how performances are computed.
This due to **_do_counting()**.
The count dict is **"summary"** of all by units countings (FP, FN, ...)
But this count dict is done by using a **sum**. this means that all spike fro

[2019-03-20 14:16] alejoe91 commented on #77
@samuelgarcia

Very good point! We should take the average instead

[2019-03-20 15:12] samuelgarcia commented on #76
Personnaly, I really prefer the under score for function and method.
Camel case are used for class name in python.

We could be banish from the python community for that :)
Guido itself could excommunicate all of us if we keep camel case!!!
Not talking about pep8 and linting soldiers from the python community looking into code.

[2019-03-20 20:30] samuelgarcia opened #78 "Fix spykingcircus test on travis (and locally)."

[2019-03-20 20:30] samuelgarcia commented on #41
I think we can close this for the moment.
Container will not be implemented soon here.

[2019-03-20 20:30] #41 closed

[2019-03-20 20:32] samuelgarcia commented on #47
I have done something like this on Spampinato ground truth dataset 252 channels.

See https://github.com/SpikeInterface/spikeresults/pull/1

[2019-03-20 20:33] samuelgarcia commented on #55
Klusta verbosity is very annoying.
Maybe we can do something directly on the klusta repo.

[2019-03-20 20:35] samuelgarcia commented on #55
HS2 is quite verbose too.
@colehurwitz31 @mhhennig : could you turn off console output when self.debug=False ?

Note that self.debug can be change to self.verbose in BaseSorter if you prefer.

[2019-03-20 20:36] samuelgarcia commented on #58
Started in #67.

[2019-03-20 20:36] alejoe91 commented on #55
I think we can just catch the stdout from the popen function. Let's discuss tomorrow

[2019-03-20 20:39] samuelgarcia commented on #63
I don't get your question.
Do you mean : if a sorter have a API change does it break our classes ?

[2019-03-20 20:40] samuelgarcia commented on #65
Done in #73 but have some travis problem now.

[2019-03-20 21:17] colehurwitz31 commented on #63
We already discussed this, but we should require a sorter pip version number. I was referring to if a sorter changed its underlying implementation or added new features, it would break our class. It also means that older versions of the sorter may not work with our wrappers.

[2019-03-21 14:57] #72 closed

[2019-03-21 14:57] alejoe91 opened #79 "handle parameters in a standardized way"
Each module should provide an interface of _default_params and _qtgraph_params

[2019-03-22 11:44] colehurwitz31 commented on #79
Can you explain _default_params vs _qtgraph_params again? Why do we have two param structures and how would we use them?

[2019-03-29 11:10] magland commented on #76
Hi all. Are we going to make the change to lower_case_with_underscore() functions? If so, can we do it now? Otherwise, let's not ever do it. I am okay with both routes. But if we switch to lower_case() we will need to make a big sync effort of all the code we have that uses spike extractors, etc.

[2019-03-29 11:13] magland commented on #76
Thinking more about it... maybe we could freeze camelCase() for spikeextractors 0.3. Then for >=0.4 we plan to move to lower_case(). Then in our projects we can specify the 0.3 dependency.

[2019-03-29 11:16] colehurwitz31 commented on #76
I can do it today if we all want to go that route. I would just switch everything in spikeextractors first and then move to spiketoolkit and spikewidgets next. @samuelgarcia @alejoe91 @magland

[2019-03-29 11:19] magland commented on #76
I'm okay with it @colehurwitz31, as long as you release as >=0.4 for SpikeExtractors.
And maybe we could use >=0.4 for spiketoolkit for consistency. (I notice that spiketoolkit has not been released to pypi for several months)

[2019-03-29 11:23] colehurwitz31 commented on #76
Ok, I will release the refactored spikeextractors as 0.4.0. I think we were waiting for sortercomparison to do another release, but we are still waiting until that is fully documented and checked.

[2019-03-29 14:07] colehurwitz31 commented on #79
I don't think PyQtGraph supports list/numpy array types for Parameters. Should we still try to do the list of dictionaries for the gui_params @samuelgarcia

[2019-03-29 14:32] samuelgarcia commented on #79
No pyqtgraph build UI on top on theses parameters and only simple type can be editable.
You cannot give an array nor a list because the widget would be too difficult.
Do you have an example in sorter where you need an array as parameters ?

[2019-03-29 14:34] samuelgarcia commented on #79
I think that should be accessible with a method (get_default_params) that would be constructed from the _qtgraph_params internally. This would avoid to make it twice and errors.

[2019-03-29 14:36] colehurwitz31 commented on #79
For the BinDatRecordingExtractor, it expects a list of recording_channels. So I wanted to give params for this.

[2019-03-29 14:48] samuelgarcia commented on #79
We can this but we need to inject a new "type" in pyqtgraph and implement the QWidget on top on this.

What do you have in mind ? A list of checkbox ? A double list with keep no_keep where item can be drag and drop ?
We need some work for that.

[2019-03-29 14:58] colehurwitz31 commented on #79
I was thinking we implement of the list of dictionaries still, but instead of using the PyQtGraph parameter, we just implement our own Parameter class and make it simpler and more compatible with different types.

I am not sure how to support lists to be honest since recording_channels might have 100s of fields to fill in! What do you think? We need to have gui_params for the extractors, preproces

[2019-03-29 15:28] samuelgarcia commented on #79
If this is the only place where a list is necessary I would do this:
modify recording_channels input to accept a list (the normal case) or a str.

In case of str then I would do a ```recording_channels = map(int, recording_channels.plit(' '))```. (or more complicated for more check)

So the recording_channels at GUI level would be a textline where the user would just put manually the list of chann

[2019-03-29 15:33] colehurwitz31 commented on #79
Oh, that makes sense. So in the gui_params, we would put the type of recording_channels to be a string. Then we can tokenize and turn that string into a list before creating the BinDatRecordingExtractor.

[2019-03-29 15:44] colehurwitz31 commented on #79
Also, how can we handle something like a np.dtype? Currently, the BinDatRecordingExtractor requires a dtype to be passed in.

[2019-03-29 16:32] colehurwitz31 commented on #79
So I have done most of the extractors, but BinDatRecordingExtractor and TrideclousSortingExtractor are tricky because they both have lists... I can put those in as strings for now.

[2019-04-03 07:05] samuelgarcia commented on #69
Close by #73

[2019-04-03 07:06] #69 closed

[2019-04-03 07:06] #65 closed

[2019-04-03 09:28] samuelgarcia commented on #71
Started in #82

[2019-04-04 19:50] samuelgarcia opened #84 "Klusta and KS must have a int16 as input for recording"
In actual implementation (and in older too) Klusta and KS need to have as input "int16" file.
So we have in theses classes a
```se.writeBinaryDatFormat(recording, output_folder / file_name, dtype='int16')```
but some recording have an internal dtype of "float32".
This is problem because in ```writeBinaryDatFormat``` the cast is a simple astype(dtype) and we will conversion error.

@colehurwitz31 @

[2019-04-08 14:47] colehurwitz31 opened #85 "Complete Documentation of Spiketoolkit"
We should try to have documentation of all the functions and types in spiketoolkit as we do in spikeextractors.

[2019-04-08 14:56] samuelgarcia commented on #85
Do you mean docstring everywhere or start a sphinx doc  + a readtheedoc ?
I have tried in zone a put ptach to add some doc (sorters, comparison).
I have not check all other submodule yet.

[2019-04-08 15:00] colehurwitz31 commented on #85
I think we need to start with docstrings everywhere then we can move to readthedocs. spikeextractors is in pretty good shape, but we probably need to fix the tools.py documention.

I was just trying to add gui_params to the preprocessing module and there is no documentation of parameters and some of the parameter names should really be replaced.

[2019-04-08 15:02] colehurwitz31 commented on #85
Also, I don't know if you say, but I think it might be best to keep the generate structure of PyQtGraph params (list of dictionaries), but to move away from using it. I made a pull request in spikeextractors discussing this.

[2019-04-20 09:41] #76 closed

[2019-04-21 11:37] nahawtho opened #90 "'WhitenRecording' object has no attribute 'getChannelIds'"
I am trying to use sorting_MS4 = st.sorters.run_mountainsort4(recording=RX, detect_sign=-1, adjacency_radius=-1, output_folder='tmp_MS4').

I am running into problematic relics in the code, like I know getChannelIds is now get_channel_ids() (naming problem). Despite renaming the members to get_channel_ids() get_channel_properties() in ml_ms4alg/mountainsort4.py and so fourth, I cannot narrow in on

[2019-04-21 11:57] alejoe91 commented on #90
Hi Nico!

Thanks for the support. As we went through a round of refractoring for spikeextractors and spiketoolkit and ms4 uses the API internally, we went around by adding a patch for ms4.

Can you try to install it from this repo?

https://github.com/alejoe91/ml_ms4alg

Cheers
Alessio

[2019-04-21 11:58] colehurwitz31 commented on #90
Hi Nico,

Thanks for letting us know. We are aware of this issue and will hopefully be fixing it soon. The problem is that ml_ms4alg has its own internal spikeextractors that is no longer compatible with spikeextractors.

Maybe @magland can update mountain sort with Alessio's patch so that it can be run with spikeinterface's API: https://github.com/alejoe91/ml_ms4alg

Best,

Cole

[2019-04-22 02:34] nahawtho commented on #90
This appears to be working. The developer installation helped! Thanks

[2019-04-22 10:12] colehurwitz31 commented on #90
I think we should leave this open until the original ml_ms4alg is fixed otherwise people will keep running into this issue.

[2019-04-22 19:31] colehurwitz opened #91 "GUI Params - Sorters (help needed)"
I was hoping to get some help on determining the important parameters for each sorting algorithm so that I can put them in a GUI params list of parameter dictionaries.

I know the important params for herding spikes, but not the other algorithms.

[2019-04-23 08:04] samuelgarcia commented on #91
Hi Cole.
I guess that you can put all "_default_params" for all sorter.
Note that for tridesclous, I still need to flatten the list (and also for HS, I think).
No ?

[2019-04-23 10:27] colehurwitz31 commented on #91
I could try to include all default_params, but I wanted to minimise the number of params in the GUI and try not to have complicated types (yet).

I am planning on having a separate gui_params for each sorter that is in the format of PyQtGraph (list of dictionaries).

[2019-04-23 12:25] colehurwitz31 opened #92 "Remove curation folder"
Since we currently have no curation tools, I think we should remove the curation folder from the master branch for now. We can always keep it in a feature branch.

[2019-04-24 08:08] nahawtho opened #93 "whitening"
neither st.whiten(sorting) nor sw.lazyfilters.whiten(RXf) (from the  spikewidgets/examples/ground_truth_comparison/ground_truth_comparison.ipynb example) nor WhitenRecording(sorting) from the function definition in st appear to be working. Is there some newer version of writing this function, or am I missing something. Thanks!

[2019-04-24 08:09] nahawtho commented on #93
whiten(recording)* is what i meant

[2019-04-24 11:20] colehurwitz31 commented on #93
Thanks for pointing this out! We forgot to update this notebook for new changes with the interface. The newest commit should fix these issues (you will have to reinstall spikewidgets).

Spikewidgets is a little underdeveloped compared to spikeextractors/spiketoolkit and we are still trying to figure out the best direction for it.

[2019-04-24 17:04] alejoe91 commented on #92
I agree ;)

[2019-04-24 17:42] #92 closed

[2019-04-24 18:08] alejoe91 commented on #85
https://github.com/SpikeInterface/spiketoolkit/pull/94

[2019-04-26 09:53] alejoe91 commented on #47
this is implemented in the quality metrics

[2019-04-26 09:53] #47 closed

[2019-04-28 09:11] alejoe91 commented on #93
can we close this? @nahawtho is it working now with the latest spikewidgets?

[2019-04-30 08:34] samuelgarcia commented on #77
I will make a big change today  in compute_performence(SortingComparison).
Actually the do_counting make a "pooled sum" of all TP/FP/...
This bias the result.
We need finer perf metrics.

I propose:
  * to add **SortingComparison.get_performance(self, method="...")**
    where **method** could be :
        * 'by_spiketrain' : return a pd.DataFrame by spiketrain of performance.
        * 'pooled_wi

[2019-04-30 08:37] #84 closed

[2019-05-01 05:33] nahawtho commented on #93
Yes, appears to be working. Thank you!

[2019-05-01 05:33] #93 closed

[2019-05-02 18:38] alejoe91 commented on #85
working on it
https://github.com/SpikeInterface/spiketoolkit/pulls

[2019-05-02 18:39] alejoe91 commented on #42
@samuelgarcia I'll close this. I think we all agree now to have 3 repos :)

[2019-05-02 18:39] #42 closed

[2019-05-02 18:40] alejoe91 commented on #68
@samuelgarcia any update on this?

[2019-05-02 18:42] alejoe91 commented on #71
this has been merged. Closing!

[2019-05-02 18:42] #71 closed

[2019-05-02 19:02] samuelgarcia commented on #42
I am still not convinced to have 3 repos but I don't care :)

[2019-05-02 19:02] samuelgarcia commented on #68
I will do this very soon.
Once the PR on  performance will be done.

[2019-05-02 19:04] samuelgarcia commented on #68
About HS, you should add the possibility to apply a filter or not in  the flat dict.
In actual implementaion there is not filtering step.
For some dataset it will give silly results.

[2019-05-04 16:29] #77 closed

[2019-05-04 16:36] alejoe91 commented on #62
https://github.com/SpikeInterface/spiketoolkit/pull/98

[2019-05-04 16:36] #62 closed

[2019-05-04 16:36] alejoe91 commented on #34
https://github.com/SpikeInterface/spiketoolkit/pull/98

[2019-05-04 16:36] #34 closed

[2019-05-04 16:36] #85 closed

[2019-05-06 10:10] colehurwitz31 opened #99 "Change name --> postprocessing.py --> postprocessing_tools.py"
I want to change the name of this file since it contains a bunch of useful postprocessing tools.

[2019-05-06 11:40] alejoe91 commented on #99
I think we should leave postprocessing as name. It's the same as preprocessing. Otherwise we should change that too. You could add the threshold function to the postprocessing.py so they can all be accessed from st.postprocessing

[2019-05-06 15:05] samuelgarcia opened #101 "Release end of May"
We need first release some external package:
  * moutainsort
  * tridesclous
  * heardingspike

And then release spikeextractor and spiketoolkit at the same time for Jeremy.

[2019-05-06 15:14] colehurwitz31 commented on #101
We are aiming for end of may for these releases, right?

[2019-05-06 15:15] samuelgarcia commented on #101
Yep.
I will do a release of tridesclous very soon. I swear it!!

[2019-05-06 15:16] colehurwitz31 commented on #101
Herdingspikes as well!

[2019-05-06 15:16] samuelgarcia commented on #101
You must swear it.

[2019-05-06 17:43] #99 closed

[2019-05-06 18:59] samuelgarcia commented on #68
I think we must do this before the release.

[2019-05-08 17:33] alejoe91 commented on #90
this is fixed with the latest ml_ms4alg release (tag 0.3.0 https://github.com/magland/ml_ms4alg/tree/0.3.0)

[2019-05-08 17:33] #90 closed

[2019-05-08 17:34] alejoe91 opened #106 "make read the docs for the repo"

[2019-05-08 17:45] colehurwitz opened #107 "Parallelize various aspects of spiketoolkit"
I think we can parallelize a bunch of aspects of spiketoolkit including but not limited to:

1. Validation metrics (each unit separately)
2. postprocessing_tools
3. any for loop through unit ids

[2019-05-09 07:35] samuelgarcia commented on #106
Good luck. Making sphinx running on rftd without errors is tedious the first time.
If you do so, don't forget to add write acces to all of us.

[2019-05-09 09:17] samuelgarcia opened #108 "Joblib should not be use when n_job=-1"
Maybe I have miss something.
In my mind, using joblib was optional and not imposed.
In current implement, **do_matching** always use the joblib.Parralell.
I think this is a mistake because joblib have problem when object are not pickelable.
It happens very oftens.

[code]

jiblib is very cool be the use should be totally optional and a standard loop should be used instead. there are many situation

[2019-05-09 09:20] samuelgarcia commented on #108
Another thing joblib do not work well with closure (function inisde a function).
So Ipropose to also move **match_spikes()** outside the **do_matching()**

[2019-05-09 09:33] alejoe91 commented on #106
:+1:

[2019-05-09 10:28] colehurwitz31 commented on #108
I think n_jobs=-1 is supposed to imply that all the cores are being used?

[2019-05-09 11:10] samuelgarcia commented on #108
I did not explore joblib sources but I have this:
```AttributeError: Can't pickle local object 'do_matching.<locals>.match_spikes'```
meanning taht even with n_jobs=-1 there some pickle at some level.

I think this is saffer to keep loops explicitly.

[2019-05-09 11:12] samuelgarcia commented on #108
See change in # 109

[2019-05-09 12:23] samuelgarcia opened #110 "Bug in HS"
With a fresh install of HS from github I have this error :+1:
[code]

[2019-05-09 12:25] samuelgarcia commented on #110
Oups sorry.
I need to compile it again.

[2019-05-09 12:25] #110 closed

[2019-05-09 18:10] #108 closed

[2019-05-09 20:29] mhhennig opened #113 "validation metrics do not agree"
I compared the results of a `sortingcomparison`, and they are inconsistent.

Example from the table returned by `sc.get_performance('by_spiketrain')`:

unit | tp_rate |	fn_rate | cl_rate | fp_rate_st1 | fp_rate_st2 | accuracy | sensitivity| precision | miss_rate | false_discovery_rate
-|-|-|-|-|-|-|-|-|-|-
0|0.516944|3.67605|0.516944|388.742|94.9095|0.13156|12.3288|0.132802|87.6712|99.8672

Result

[2019-05-09 20:31] alejoe91 commented on #113
I haven't checked the single functions lately. I think Jeremy wrote those in the first place. I think we should remove them and land on the get_performance call :)

I would trust the get_performance ones, but it's good to double check

[2019-05-09 20:47] mhhennig commented on #113
Ok, agree, that's good.
Does `sc.get_best_unit_match1(unit)` still do the right thing, i.e. return the one that has been established as the best match?

[2019-05-09 20:54] alejoe91 commented on #113
Yes the matching should be the same

[2019-05-10 07:18] samuelgarcia commented on #113
I agree with @alejoe91

If @magland wrote ```get_false_negative_fractio``` and ```get_false_positive_fraction``` , I am afraid that they are used in the spikeforest website.
I think theses metrics are bias because the fraction is done on len(units2) and should done on len(units1) like in get_performance().

I think that get_performance should also have a mode to return "raw_count" in a DataFrame w

[2019-05-10 14:29] alejoe91 commented on #113
I'm ok with this

[2019-05-14 07:44] alejoe91 opened #118 "deal with 3D geometry recordings"

[2019-05-14 07:53] samuelgarcia commented on #118
I BaseSorter with a class attribute like **deal_with_3d_probe_geometry**

[2019-05-14 13:05] samuelgarcia commented on #113
I will patch get_false_negative_fractio and get_false_positive_fraction and use internally get_performance.

This will avoid duplicate code that are not agree.

In the same PR I plan:
  * to go for scale [0-1]
  * export the dataframe of raw_count
  * count how many nott match units

OK ?

[2019-05-14 13:07] samuelgarcia commented on #113
I am reading again the entire code of SortingComparison.

What get_labels2 is for ? There is also something wrong in it.

[2019-05-14 13:43] alejoe91 commented on #113
yeah it should be `self._sorting2.get_unit_ids()` and `self._labels_st2[unit_id]`.

It returns the spikes labels for a unit (TP, FP, FN, CL)

[2019-05-14 14:05] samuelgarcia commented on #113
OK.
It is not so easy.

The way it is written is diffrent the way get_performance is written.

In **get_agreement_fraction**, **get_false_positive_fraction**, **get_false_negative_fraction** not assumtiun is done about what is the groung truth wheras get_performance are written with GT in mind.

I think, by design they is a total ambiguity about SortingCOmparison is for and actually it deal with 3

[2019-05-15 07:52] samuelgarcia commented on #113
I am back and I insist: SortingComparison need refactroing!!

The same class serve 2 purposes (comparison witg GT and agreement between 2 sorters).
It is a mess because depending who writte the code and why the global logic differ a bit.
Some argument:
  * **get_performance** have no sens in context  agreement between sorters
  * **get_agreement_fraction**, ... have no sens for GT benchmark
  * ma

[2019-05-15 08:06] alejoe91 commented on #113
3rd option: keep the same class with `mode` but add another function:

- `compare_sorter_to_ground_truth`

So in the end we will have 3 comparison functions:

- `compare_two_sorters`: compares to sorter outputs (no GT)  - runs SortingComparison mode **agreement** internally
- `compare_multiple_sorters`: compares multiple sorter ouputs - runs MultiSortingComparison (always mode **agreement**) inter

[2019-05-15 08:11] colehurwitz31 commented on #113
I prefer solution two as well. I think that is the most clear coalition and would avoid any potential user errors

[2019-05-15 08:11] samuelgarcia commented on #113
Total agreement for having 3 functions that would the API.
Internally I think that keeping only one function with make the code a bit dirty with a lot of
[code]

Having a design by class here is more cristal clear for a futur dev digging the code.
I wait other proposel.

[2019-05-15 08:11] samuelgarcia commented on #113
Lets wait Mtthias and maybe Jeremy ?

[2019-05-15 08:13] colehurwitz31 commented on #113
I think having two functions would be best as Samuel mentioned. Having one function with a bunch of flags is messy and hard to debug. Also, the chance of errors by using the class directly would increase.

Having three functions makes sense though

[2019-05-15 09:00] alejoe91 commented on #113
So something like a `SortingComparison` (compares spike sorting output) and a `GroundTruthComparison` classes?

[2019-05-15 09:09] samuelgarcia commented on #113
OK with this.

[2019-05-15 09:16] samuelgarcia commented on #113
I start this afternoon.
I will need help for SortingComparison.get_agreement_fraction I think must change the den,ominator, any idea ?

[2019-05-15 09:46] alejoe91 commented on #113
I think we can get rid of the get_agreement_fraction. The get performance by spike train already returns all the counting info.

In the sorter-sorter comparison we can label all the unmatched spikes for matched spike trains as `FP`, but we do not label as `FP` the unmatched units' spikes. Also we should not have false negatives in the sorter-sorter comparison. Maybe we can call the `FP`, unmatched

[2019-05-15 11:19] samuelgarcia commented on #113
(2*tp) / (nb1 + nb2) is OK.
We could also have : tp / union(unit1, unit2) equivalent to tp / (nb1 + nb2 - tp)

I propose to make the skeleton of this new refactoring.
Make GroundTruthComparison totally.
An leave SortingComparison open to further discussion.

See you soon on a PR.

[2019-05-15 11:32] alejoe91 commented on #113
sounds good @samuelgarcia  :)

[2019-05-15 12:00] samuelgarcia commented on #113
I have strated teh skeleton for that.

at the moment I only copy methods and paste them in BaseComparison or GroundTruthComparison

[2019-05-15 12:06] samuelgarcia commented on #113
#121

[2019-05-15 12:25] samuelgarcia commented on #113
I am stupid
get_agreement_fraction is in fact compute_agreement_score wich already do
tp / union(unit1, unit2) equivalent to tp / (nb1 + nb2 - tp)

So no mistake here.

[2019-05-15 14:46] samuelgarcia commented on #113
In this new refactoring are we OK that
**FP (%ST2): {fp_rate_st2} %** is now useless and can be remove because ST2 is not the GT ?

[2019-05-15 15:48] alejoe91 commented on #113
Yes :)

[2019-05-16 12:31] martinosorb commented on #68
For herdingspikes, we now have the main parameters available on the first level of the dict, and less important ones in nested dicts inside the main one. This is what we had agreed on at some point. Is it ok as it is, or should we discuss further? I had a chat with Cole and Matthias and they're not convinced.

[2019-05-16 12:38] alejoe91 commented on #68
I think it would be better to add the `other_params` internally like it's done in tridesclous.

I agree with @samuelgarcia that `filter` should be an option, and the spiketoolkit.preprocessing.bandpass filter can be used

[2019-05-16 21:37] samuelgarcia opened #123 "Align semantic and formula to wikipedia"
We have some performance label:
_perf_keys = ['tp_rate', 'fn_rate', 'cl_rate','fp_rate',  'accuracy', 'sensitivity', 'precision',
              'miss_rate', 'false_discovery_rate']

This wikipedia https://en.wikipedia.org/wiki/Sensitivity_and_specificity is sligtly different.
What is the story of formula in spiketool.comparison ?

[2019-05-16 21:41] samuelgarcia commented on #123
And here https://en.wikipedia.org/wiki/Confusion_matrix

[2019-05-16 21:42] samuelgarcia commented on #123
I think we should align to wikipedia semantic and formula so the doc could just could be a link to theses page. No ?

[2019-05-16 21:48] alejoe91 commented on #123
I don't remember when tp_rate fp_rate etc were added to the picture. In the original paper in which I used them (https://www.researchgate.net/publication/328392258_Independent_Component_Analysis_for_Fully_Automated_Multi-Electrode_Array_Spike_Sorting) I only used accuracy, sensitivity, precision and misclassification rate.

I think it makes sense to keep those and add false disc rate. Anything els

[2019-05-16 21:51] alejoe91 commented on #123
In fact in our formulation tp_rate and accuracy should coincide perfectly from the formula

[2019-05-16 21:53] alejoe91 commented on #123
No maybe that's not true :)

In my opinion we can keep:
- accuracy
- specificity
- precision
- false discovery rate
- miss rate
- misclassification rate

[2019-05-16 23:02] colehurwitz31 commented on #123
What’s wrong with tp_rate?

[2019-05-16 23:04] alejoe91 commented on #123
Tp_rate is the same as sensitivity

[2019-05-22 12:14] samuelgarcia opened #124 "Question/feedback how SNR is compute"
@alejoe91 @colehurwitz31 @mhhennig
I reading the code on how the the SNR is computed in qualitymetrics.

Some questions/feedback:
  * I don't see any filtering step, how can estimate the SNR on the full band ?
  * the std is not robust at all to estimate the noise, we need to use MAD. The std is bias with the
    spike rate.
  * the full signal duration is used to estimaded the noise (std/mad), it

[2019-05-22 12:47] colehurwitz31 commented on #124
I agree on these issues. I did not implement the templates or the SNR so I am not sure completely how they work. Alessio would have a better idea of why he implemented them the way he did.

[2019-05-22 12:50] alejoe91 commented on #124
Hi Sam :) @magland implemented it. I agree with those changes.

- We can add an optional filtering step, which can be only HP
- I agree MAD should be used
- we can use 30 second snippet
- Ok for using: abs(min(template))
- Templates can be easily computed with less waveforms by using the arg `max_num_waveforms` (already implemented)
- yeah median should be more robust

Let's implement those change

[2019-05-22 15:24] samuelgarcia commented on #124
I am not sure to have time just now to do it.
I would prefer fisrt finish the actual PR.
Clean launcher and make more easier to use.

And get better benchmark for tdc.... :(

[2019-05-22 15:53] colehurwitz31 commented on #124
@alejoe91 Could you possibly implement these changes?

On a separate note, the GUI is coming along and an alpha version should be available soon for people to try.

[2019-05-23 08:48] alejoe91 commented on #68
https://github.com/SpikeInterface/spiketoolkit/pull/122

[2019-05-23 08:48] #68 closed

[2019-05-23 08:49] alejoe91 opened #125 "add optional filter for HS2"

[2019-05-23 08:55] alejoe91 commented on #79
@colehurwitz31 fixed?

[2019-05-23 09:06] alejoe91 commented on #55
@samuelgarcia
Update:
I made a PR to klustakwik2 and I removed the initial print.
You can install locally from the master branch: https://github.com/kwikteam/klustakwik2

I asked to release a new version on Pypi too :)

[2019-05-23 09:14] alejoe91 commented on #124
@samuelgarcia BTW right now actually the snr was estimated only on 1000 samples!

I will set 10 seconds as default

[2019-05-23 09:50] samuelgarcia commented on #55
Thanks.

[2019-05-23 09:52] samuelgarcia commented on #124
Oups. I di not see it.
Where is it in the code ?

[2019-05-23 12:21] alejoe91 commented on #124
https://github.com/SpikeInterface/spiketoolkit/pull/126

[2019-05-23 12:22] alejoe91 commented on #124
@samuelgarcia https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/validation/qualitymetrics.py#L47
Now it uses 10 seconds by default, but it can be passed as an arg. See PR

[2019-05-24 14:32] jamesjun opened #128 "Sorting comparison: Allow milliseconds time jitter instead of the number of samples (delta_tp)"
Sorting comparison class should allow milliseconds input instead of allowing the number of samples by passing delta_tp. Currently, the sorting comparison doesn't take different sampling rate into account, penalizing higher sampling rate recordings.

[2019-05-24 15:30] alejoe91 commented on #128
@jamesjun that's a good point.
In order to do that we have to add a `self.sampling_frequency()` variable to all extractors. Right noe SortingExtractor don't have sample rate information, but I think it's a great addition.

@colehurwitz @samuelgarcia what do you guys think?

[2019-05-24 17:03] colehurwitz commented on #128
I don't think we should add sampling_frequency to the sorting extractor. We already kinda talked about this and we agreed that it should be a part of the recording extractor only (which it is) since the sorting extractor doesn't necessarily know about the recording.

I would recommend adding a sampling frequency argument to the function instead.

[2019-05-24 17:07] #124 closed

[2019-05-24 17:07] #123 closed

[2019-05-24 17:08] alejoe91 commented on #113
I think fixed with the new refractoring

[2019-05-24 17:08] #113 closed

[2019-05-24 17:12] alejoe91 commented on #128
I think the spike sorter knows the sampling frequency. It's a required parameter to all sorters and if we don't have it in the sorting extractors we will always have to tag along the recording extractor.
I think it doesn't harm to add it as a property

[2019-05-24 17:18] colehurwitz commented on #128
Hmm.. I am not sure the sorting extractor should have it as a property. Right now we only ever deal with unit properties, so there really isn't a concept of global properties.

I think putting sampling frequency as an argument makes more sense because if you are running the sorter (and it returns the sorting extractor) than you definitely have access to the recording extractor already. And for the

[2019-05-24 17:29] alejoe91 commented on #128
I don't agree. I think it's muuuuch easier to have a get sampling frequency internally.

Think you want to load a sorting output later and compute something: you don't want to track back and load the original recording...

[2019-05-24 17:49] colehurwitz commented on #128
If sampling frequncies are not stored in the sorting files then they shouldn’t be stored in the sorting extractors. Do any formats have access to this information?

If no formats have this information, then I am not sure what adding this to the sorting extractor gains you because you need to know the sampling frequency from the recording anyways.

[2019-05-24 17:50] colehurwitz commented on #128
It’s not like we ever save a sorting extractor object so the information about sampling frequency would have to be known by the user each time and added

[2019-05-24 19:28] samuelgarcia commented on #128
@jamesjun  : I agree that this params should be in ms.
Indeed a default params is never changed because we all forgot it so having it in ms is safer.

As neo member, I put lot of important on unit :)

sample are unitsless without the sampling rate!
so yes I think we need the sampling rate somewhere and internally preferentially.

For ISI violation it will be the same we need

@colehurwitz : does i

[2019-05-24 19:51] colehurwitz commented on #128
I think it would be better to have the user manually propagate it. Recording extractors have access to the sampling rate, but I don't think any sorting file format does. So the only way for sorting extractors to get that information is manually (which makes it equivalent to passing it into sorting comparison).

I don't necessarily see the benefit of letting sorting extractors have it... but if tha

[2019-05-24 20:01] alejoe91 commented on #128
I think all sorting extractors would have that info :) at least klusta kilosort phy etc..

[2019-05-24 21:54] colehurwitz commented on #128
Hmm.. Well, maybe we can include it as an optional thing then... what do you think the best way to include it would be?

[2019-05-28 07:28] alejoe91 commented on #101
@colehurwitz @samuelgarcia @mhhennig what is left to do?

Are the HS and TDC releases out?

[2019-05-28 07:38] samuelgarcia commented on #101
No. Sorry.
Let's say I do it today when kids are sleeping.

[2019-05-28 19:36] samuelgarcia commented on #101
tridesclous 1.1.0 is released.
@colehurwitz @mhhennig : do you think you could release soon HS2 ?
So travis would be tested again the github version but the pypi one.

I think that
pip install ml_ms4alg
in travis.yml should also have a fixed version.

[2019-05-28 19:49] samuelgarcia opened #130 "Break the circular dependency."
@alejoe91 @magland @colehurwitz @mhhennig
I think there is a design problem :)

spikeinterface should depend on fixed version of ml_ms4alg and heardingspike.
But ml_ms4alg and heardingspike also depend on fixed version of spikeinterface.

This circular dependency should be broken because we could theorically have a blocade at relase time. Who release first spiekinterface or ml_ms4alg ?

spikeinter

[2019-05-29 08:32] mhhennig commented on #130
HS actually does not have a dependency yet, it does not import spikeextractors/toolkit. But my plan is to integrate both soon. In this case, HS would explicitly depend on the latest (or a previous release), so SI can be developed without breaking HS. The release schedule should thus solve these issues (I hope).

[2019-05-29 08:57] samuelgarcia commented on #130
OK thanks for clarification.
I was thinking wring.
But we need a quite fast release cycle each time there is a change in naming and api.

[2019-05-30 11:19] alejoe91 commented on #55
@samuelgarcia

Just uploaded a new release for klustakwik2 :)
try pip installing it  (0.2.7) and it should not give the log message!

[2019-05-30 11:37] samuelgarcia commented on #55
Yeah.
you are a boss.

[2019-05-30 11:45] #125 closed

[2019-05-30 11:46] #130 closed

[2019-05-30 11:46] alejoe91 commented on #101
Is HS2 released?? @mhhennig @colehurwitz @martinosorb

[2019-05-30 11:49] martinosorb commented on #101
Yes. But I need to run a couple more tests and I'll make a release that's compatible with python 3.5 (currently only 3.6).

[2019-05-30 14:26] martinosorb commented on #101
All good now on my side.

[2019-05-30 14:56] alejoe91 commented on #101
what's the pip install? I'll add it on travis

[2019-05-30 15:08] martinosorb commented on #101
`pip install herdingspikes`

[2019-05-30 16:04] #101 closed

[2019-06-07 12:28] colehurwitz opened #143 "get_result_from_folder fails when given a string for the output_folder (for klusta, but possibly others)"
It appears that when I pass a string into the get_result_from_folder method of a sorter, it throws as error (due to: 'output_folder /  string').

I have to wrap the output_folder path in a Path object to make it work. Is this intended behaviour?

Example:

This fails:
[code]
This works:
[code]

[2019-06-07 13:12] samuelgarcia commented on #143
It is a bug : it should be done inside the get_result_from_folder.
I think the same occur in several place.

[2019-06-07 17:14] colehurwitz opened #144 "Potential bug with MS4 wrapper -- sort by group"
When running the Mountainsort4Sorter sorter with the grouping_property='group', it throws an error about reshaping the array:

[code]

This worked with Klusta, but not Ms4

[2019-06-07 17:29] #144 closed

[2019-06-08 15:38] alejoe91 commented on #143
@samuelgarcia can you fix it?

[2019-06-08 15:51] #106 closed

[2019-06-11 12:22] colehurwitz opened #148 "Fix the seed for the toy dataset in the travis tests"
Right now, the toy dataset doesn't have a fixed seed. This causes issues where a sorter might pass one travis test and fail another with no changes (herdingspikes sometimes fails...)

Should we fix the seed in the test?

[2019-06-11 12:46] alejoe91 commented on #148
I think it's ok to fix the seed in the test :)

[2019-06-12 08:57] #148 closed

[2019-06-20 13:25] samuelgarcia opened #167 "New idea : create a gtstudy submodules"

[2019-06-20 13:32] samuelgarcia commented on #167
I have started a very basic worflow to run many GT files with many sorter and make results more automatic. And avoid writting nobebbok with lot of loops.

All this is in st/comparisons/groundtruthstudy.py

I would like, if you where ok, to make some separated module for this.
The name would "gtstudy" or "groundtruthstudy" or something similar.

  * comparison would more the algo for comparison
  *

[2019-06-20 13:46] colehurwitz commented on #167
Sounds interesting! Let's talk about it for sure at the workshop. I am not sure how much overlap that would have with spikeforest, but something to discuss for sure.

[2019-06-20 14:20] samuelgarcia commented on #167
There is not really an overlap. Sf could even use it.
SF have a machinery with distant computing.
Here the topic is to run locally a full "study" and get result with fancy functions.

[2019-06-21 08:37] samuelgarcia opened #169 "sorters : better errors handling."
* Have a better error handling for sorter.
  * capture output in file for debugging.
  * check results after run.

[2019-06-27 06:58] samuelgarcia commented on #169
Move to spikesorter.
See
https://github.com/SpikeInterface/spikesorters/issues/4

[2019-06-27 06:58] #169 closed

[2019-06-27 07:16] samuelgarcia opened #173 "Change the matching logic when GT."
As discuss with Jeremy in Edimburgh, we should change the matching logic in the context of ground truth.

[2019-06-27 14:42] alejoe91 commented on #63
With the spikesorters package this should be fixed. @samuelgarcia @colehurwitz  do you guys agree?

[2019-06-27 14:43] alejoe91 commented on #78
We should move this to spikesorters

[2019-06-27 14:44] alejoe91 commented on #79
I believe this is fixed. Of not we should move it to spikesorters

[2019-06-27 14:45] alejoe91 commented on #58
Move to spikesorters

[2019-06-27 14:45] alejoe91 commented on #55
Move to spikesorters

[2019-06-27 14:46] alejoe91 commented on #118
I think we should move this to spikeextractors and only deal with 2d geometries for now. @samuelgarcia ?

[2019-06-27 14:47] alejoe91 commented on #128
I'll try to do this today :)

[2019-06-27 14:59] colehurwitz commented on #63
Yes!

[2019-06-27 15:25] #91 closed

[2019-06-27 15:26] #79 closed

[2019-06-27 15:27] #78 closed

[2019-06-27 15:27] #63 closed

[2019-06-27 15:27] #55 closed

[2019-06-27 16:56] colehurwitz opened #175 "Max channel spike feature (along with max channel unit property)"
Currently, the postprocessing tools returns max channels as unit properties (one max channel per unit). However, would it be challenging to allow this function to return 'max_channel' properties for each spike individually as a spike feature as well, @alejoe91 ? I am not so familiar with how the postprocessing_tools work.

[2019-06-27 22:49] colehurwitz opened #176 "Adding mountain tools quality metrics for curation"
For one of the upcoming papers, we need to have the quality metrics from the mountainsort algorithm. I think these metrics could be implemented as two different quality metrics in the validation submodule and then I would be able to use those metrics to create threshold postprocessing extractors in the post-processing module.

So far, quality metrics return a list of scores where each entry is the

[2019-06-28 07:26] alejoe91 commented on #128
https://github.com/SpikeInterface/spiketoolkit/pull/177

[2019-06-28 16:14] #58 closed

[2019-06-28 16:16] alejoe91 commented on #175
I think that for the MdaSortingExtractor writer we could just use the unit max channel for each spike

[2019-06-28 16:17] alejoe91 commented on #175
probably @magland computes them in the same way

[2019-06-28 16:25] colehurwitz commented on #175
Hmm, I guess that is probably alright. The HS2 extractor keeps track of the max channel for each spike separately though so I am not sure how MS4 does it.

[2019-06-28 16:31] alejoe91 opened #178 "Create curation module"
Move the CurationSortingExtractor and the automatic curation tools (max_ISI, min_num_spikes, min_SNR) here.

[2019-06-28 16:36] samuelgarcia commented on #173
Accepted.
@magland : could you show me where is it done in SF ?

[2019-06-28 16:49] colehurwitz commented on #178
I can do this. However, that removes quite a bit from the postprocessing module. Not sure the best use of the postprocessing module then. Maybe we could break you postprocessing tools into multiple files then?

[2019-06-28 16:50] alejoe91 commented on #178
The postprocessing module has the postprocessing tools.
They allow to get waveforms, templates, max_channels, compute_pca, export to phy etc.

I think it's fine :)

[2019-06-28 16:53] colehurwitz commented on #178
Sure, I think that is fine as well. I think it might be nice to break those into separate files now. Otherwise, postprocessing is a folder with only one python file!

[2019-06-28 16:53] colehurwitz commented on #178
I will move things into curation now though

[2019-06-28 17:03] alejoe91 commented on #178
I think it's ok as the users won't know :)

[2019-06-28 17:14] colehurwitz commented on #178
Fair enough. I think devs will care, however.

[2019-06-28 17:15] alejoe91 commented on #178
I think it's actually better to have a single file. Many functions call other functions internally: e.g. get_templates calls get_waveforms, get_max_chan calls get templates, compute pca calls get_waveforms, export to phy calls them all. The imports would become too complicated

[2019-06-28 17:17] colehurwitz commented on #178
Not if they all import from the postprocessinglist ;)

[2019-06-29 15:20] colehurwitz opened #182 "Spikesorters collision when spikeforest installed."
This is a strange one... but when I don't have spikeforest installed, everything works well with the new spikesorters changes. However, when spikeforest is installed, it tries to import spikesorters from spikeforest and everything breaks.

Can anyone else reproduce this bug? I had to uninstall spikeforest to import spiketoolkit with this bug.

[2019-06-30 12:04] alejoe91 commented on #128
@jamesjun merged now. https://github.com/SpikeInterface/spiketoolkit/pull/177

This requires sorting extractors to have a `self._sampling_frequency` field, that is returned with the `get_sampling_frequency()` method

[2019-06-30 12:07] alejoe91 commented on #182
I can't reproduce the issue. Maybe you have to install spikeforest after spiketoolkit. What error do you get @colehurwitz?

[2019-06-30 12:14] alejoe91 commented on #178
@colehurwitz do you think it's worth it having a "Curation module" page in the docs?

[2019-06-30 12:20] alejoe91 commented on #143
https://github.com/SpikeInterface/spikesorters/pull/25

[2019-06-30 12:44] alejoe91 commented on #143
fixed and merged https://github.com/SpikeInterface/spikesorters/pull/25

[2019-06-30 12:44] #143 closed

[2019-06-30 12:47] colehurwitz commented on #182
Basically, if I have both installed (I tried installing spikeforest after spiketoolkit as well) then the spikesorters packages will be the one used by spikeforest, not us. So it shows more spike sorters (like JRclust), but it doesn't have the sorter_dict or sorter_list that we do.

[2019-06-30 12:47] colehurwitz commented on #178
Yeah, I can do this. I just need to port over the curation one I did in the spikeextractors docs

[2019-06-30 12:51] alejoe91 commented on #182
ahh you have to update spikeforest! Now the spike forest sorters are spikeforestsorters (https://github.com/flatironinstitute/spikeforest)

[2019-06-30 12:53] colehurwitz commented on #182
Oooh. I think the pypi package is still behind since I was installing with pip. The updated release should fix all of this then.

[2019-06-30 12:54] alejoe91 commented on #182
Yep, try installing from sources to double check, then we can close the issue

[2019-06-30 12:57] colehurwitz commented on #182
Yep, that fixed it. Might want to leave the issue open and tag @magland since the sooner that is fixed on the pypi version the better. I know there is still work to merge spiketoolkit and spikeforest, however.

[2019-06-30 13:46] #178 closed

[2019-06-30 14:39] colehurwitz opened #185 "Export to phy fails when no units found"
When no units are found (or all the units are curated), export to phy fails when trying to get PCs. What is an elegant way for export to phy to handle this case? We will run into an issue this when trying to create pipelines.

[2019-06-30 14:43] alejoe91 commented on #185
We can just check that len(unit_ids) > 0 and raise an error otherwise. Can you do that?

[2019-06-30 14:54] alejoe91 commented on #175
@colehurwitz If you want to implement this for each spike it's easy: you get waveforms and then take the minimum of each of them. I think it might be slow though and very sensitive to noise

[2019-06-30 14:58] colehurwitz commented on #185
Can we save to phy even with zero units? Like save part of the recording or something? Or should we just throw an error?

[2019-06-30 14:58] colehurwitz commented on #185
I can make the first change if that is what we decide on

[2019-06-30 14:59] colehurwitz commented on #175
It is sensitive to noise, although not super sensitive. I can make a new function potentially for that since it might be useful albeit a bit slow.

[2019-06-30 15:09] alejoe91 commented on #185
you could save the RecordingExtractor related stuff, nothing related to units.

[2019-06-30 15:34] colehurwitz commented on #185
I wonder if that is better than just throwing an error... not sure myself.

[2019-06-30 15:34] alejoe91 commented on #185
mmm I don't see any use of exporting to phy if there are no units

[2019-06-30 17:50] alejoe91 opened #187 "add tests for preprocessing, posprocessing, and validation modules"

[2019-06-30 17:53] alejoe91 commented on #185
https://github.com/SpikeInterface/spiketoolkit/pull/186

[2019-06-30 17:53] #185 closed

[2019-07-01 08:49] samuelgarcia commented on #128
Note not all extractor need the frequency, at least the GT one is necessary.

[2019-07-01 09:49] alejoe91 commented on #128
why not @samuelgarcia ? Since we use delta_time, the sampling frequency information should be 1) present in both sorting extractor, 2) it should be the same in both extractors.

[2019-07-01 09:53] colehurwitz commented on #128
I think the assumption, when you are comparing to ground truth, is that you sorted the same dataset as the ground truth, therefore, the sampling frequency can be assumed to be the same.

[2019-07-01 09:55] alejoe91 commented on #128
I agree, but it's good to check. The user could compare one GT dataset with another sorter result with a different fs without knowing. I see no harm in checking for this

[2019-07-01 09:55] colehurwitz commented on #128
Ok, but it shouldn't fail if the non-ground truth sorting extractor has no fs.

[2019-07-01 10:02] alejoe91 commented on #128
and for the compare_two_sorters?

[2019-07-01 10:27] colehurwitz commented on #128
Not sure exactly... I feel as though it should work about the same as the ground truth case, but maybe @samuelgarcia has a better idea about that.

[2019-07-01 10:32] alejoe91 commented on #128
I think that then we should check both sorting extractors. Even for the GT ones one can easily load the sampling frequency with the set_sampling_frequency function

[2019-07-01 10:34] colehurwitz commented on #128
I don't mind either solution. Both seem fine.

[2019-07-01 17:01] samuelgarcia commented on #128
@alejoe91 : in the context of groundTruthSortingComparison the rule of sampling rate could be "at leat one of the two otherwise explicitly given" and for SortingComparison "the two are the same otherwise explicitly given.

Since some sorter don't have internally the fs but the GT (like mearec) have the fs most of the time, it would be more flexible for the end user.

No ?

[2019-07-01 17:03] alejoe91 opened #188 "make misclassification_errors optional"

[2019-07-01 17:25] colehurwitz opened #189 "Give random seeds to any functions that are random"

[2019-07-01 18:58] alejoe91 commented on #128
Ok that sounds right! I'll make a PR tomorrow :)

[2019-07-01 19:00] samuelgarcia commented on #188
I do it.

[2019-07-02 07:54] #188 closed

[2019-07-02 09:47] mhhennig opened #192 "Sampling frequencies stored differently"
Came across this when attempting to compare KS2, HS2 and SC.

This here:

`SX_ks2.get_sampling_frequency(),SX_hs.get_sampling_frequency(), SX_sc.get_sampling_frequency()`

yields

`(23199.09, 23199.090358491783, 23199.090358491783)`

Slightly pathological, but In Biocam recordings the sampling rate can be like this. The KS2 has rounded it. How to fix this...?

[2019-07-03 21:14] #167 closed

[2019-07-03 21:15] samuelgarcia commented on #173
#194 : now the counting is based on the best match.

[2019-07-03 23:47] colehurwitz commented on #173
Great!

[2019-07-04 06:48] alejoe91 commented on #173
@samuelgarcia I believe that in the spikeforest implementation they used the linear assignment (https://github.com/flatironinstitute/spikeforest/blob/master/spikeforest/spikeforest_analysis/sortingcomparison.py#L230).

With the new implementation they are using the compare_sorter_to_ground_truth, so the changes should be propagated automatically (https://github.com/flatironinstitute/spikeforest/bl

[2019-07-04 11:01] samuelgarcia commented on #173
SF use linear assignment but for counting they use best match.
In short linear assignment is computed for nothing at the end.
But I like the idea of having in the same class the 2 mactch in parralel (best and linear assignement)

[2019-07-06 14:37] colehurwitz opened #198 "Unification of all of SpikeInterface into one repository"
I know we have discussed this before, but after seeing how we could separate the development of spikesorters from spiketoolkit, I have an idea on how to make using this framework simpler for new users. Idea: We can separate our work into two conceptual groups: development packages and usage packages.

**Development packages (what we develop and other developers can utilize):**
_spikeextractors_ -

[2019-07-06 14:55] alejoe91 commented on #198
Hi @colehurwitz, I see your point but I like the way it is and I don't think it's too hard. I like the separation of spikeextractors, toolkit, and widgets which have pretty defined scopes. Maybe instead of what you propose I would favor having extractors, toolkit, widgets, but still I kind of prefer the way it is.

We could have a spikeinterface package which installs the other repos and place the

[2019-07-06 14:58] colehurwitz commented on #198
@alejoe91 Good points! I think the idea stems from when I talked with experimentalists and they looked at the 3-4 packages and were a bit confused on where to start. Also, I think importing separate packages for File IO and analysis is a bit of an artificial separation.

Basically, I think spikeinterface can do for the development repositories what spiketoolkit did for spikesorters where it allows

[2019-07-06 16:58] magland commented on #198
Sounds like you want to make it easier for a certain type of user to get started. I can see the advantage of simplifying it like that, but there are also disadvantages. From a development perspective (and giving us the flexibility to evolve the project over time) it's better to keep things separate when possible. My vote is to keep it as it is for now.

[2019-07-06 23:30] mhhennig commented on #198
I also see the point, but quite like how it is at the moment (I just got used to it). The separation offers flexibility, for example I can use the extractors alone also for data analysis, just to read sorted spike trains. I wold also vote to leave it as it is, and perhaps a new approach to documenting the software could help.
I'm thinking of a website where the landing page gives a choice to go on

[2019-07-06 23:41] colehurwitz commented on #198
Ok, I think you guys are all making more sense than me here. We should keep it as is and maybe just add a unified read the docs or something. Thanks for the discussion!

[2019-07-08 10:52] samuelgarcia commented on #198
Personnally, I like the idea the idea of a meta package spikeinterface.

I my mind the way it is is over modularized from the user point of view. We need to memorize or search for copy/paste for eavry line of code.

From the dev point of view, I am very happy to have this super split we can release each package at different speed without breaking any thing.

So if we would have a metapackage I wou

[2019-07-08 11:03] colehurwitz commented on #198
I am reopening this issue just in case people have a different view of the issue based on Samuel's comments. I think the split could potentially benefit developers and users as well and wouldn't change functionality :)

[2019-07-08 11:32] colehurwitz commented on #198
Round 2 anyone? ;)

[2019-07-09 13:33] colehurwitz opened #201 "Travis Test (os = windows?)"
Just curious if we should also try to test our code on a windows os as well since we might expect windows users. Currently, our travis test is using the linux os only.

[2019-07-09 13:33] alejoe91 commented on #201
I don't even know if you can run Travis on windows

[2019-07-09 13:39] samuelgarcia commented on #201
For window we need to make an appveyor ci.
It is very similar to travis. A bit slower.
it is free for open source.

[2019-07-09 13:40] samuelgarcia commented on #201
https://www.appveyor.com/

[2019-07-09 13:41] samuelgarcia commented on #201
Look at [this example in tdc](https://github.com/tridesclous/tridesclous/blob/master/appveyor.yml)

[2019-07-09 13:50] colehurwitz commented on #201
Thanks! I will check it out.

[2019-07-10 08:33] samuelgarcia opened #203 "Deal with our cyclic dependencies"
ascertainment :  we have, and we will have more cyclic dependencies.

Here some notes as reminder and to open a discussion.

I think we have in mind something like that about our dependency chain:

  * spikeextractor<spikesorters<spiketoolkit<spikewidget<spieksforest

But there are problems that break this chain :

  * spiketoolkit.preprocessing<spikesorter
  * spikewidget<spiketoolkit.comparison

[2019-07-10 08:43] colehurwitz commented on #203
I am actually a big fan of number 2. The more I write about SpikeInterface in the paper, the more I realize that spiketoolkit is conceptually two parts: analysis and comparison. I think it would more intuitive to have these in separate repositories and would obviously help with cyclic dependencies.

Also, we could always combine these four repositories with a metapackage if things get too confusin

[2019-07-10 10:08] alejoe91 commented on #203
It's ok for me to have spike comparison as a separate module. But I would leave the spikesorters wrapper in spiketoolkit. A weak dependency for the preprocessing is ok for me

[2019-07-10 10:13] colehurwitz commented on #203
I think putting sorters and comparison into their repos is a good move. However, if we do that, we would have to have a meta package that combines them together and freezes the versions. Otherwise, it would be too hard to use. I think even with 4 packages, it is already good to have a metapackage.

[2019-07-10 10:21] samuelgarcia commented on #203
@alejoe91 : you have done half the way :) Why do you still want to keep sorter in toolkit ?

[2019-07-10 10:23] alejoe91 commented on #198
I suggest:

[code]
@magland @mhhennig @samuelgarcia are you ok with this?

If so, @samuelgarcia can you make the meta package? :)

[2019-07-10 10:26] colehurwitz commented on #203
Here is what I would suggest:

*Packages*: spikeextractors, spiketoolkit, spikesorters, spikecomparison, spikewidgets, spikeinterface, spikely

*Dev packages*:
spikeextractors: file IO
spiketoolkit: data processing (preprocessing, postprocessing, curation, validation)
spikesorters: wrapped sorters and launcher
spikecomparison: comparison and study
spikewidgets: data visualization and widgets

*Met

[2019-07-10 10:26] samuelgarcia commented on #198
OK for me the only doubt I have is the place of curation even if this is the more intuitive place

[2019-07-10 10:27] samuelgarcia commented on #198
I can do it but we need to finish the discussion in #203. Lets wait Jeremy and Matthias.

[2019-07-10 10:28] samuelgarcia commented on #198
@alejoe91 : are you also OK to have everything flatten also ?
si.*

[2019-07-10 10:31] colehurwitz commented on #203
Would you agree with this @alejoe91 and @magland? I know the meta package is a bit controversial, but I think that with this package structure, we would avoid cyclical dependencies while making the whole framework more accessible to users and developers. I am totally convinced that this is the right path, but I think we should all agree if we were to make a change like this.

[2019-07-10 10:35] colehurwitz commented on #198
I think curation is a form of data processing (low level).

I would strongly suggest this module structure though:

[code]

I think users/developers should expect each module to contain a different conceptual part of the spike sorting pipeline. Having a toolkit module doesn't reflect that.

I don't think having a flattened version would harm anything, so I am ok with it.

[2019-07-10 10:35] alejoe91 commented on #198
Actually I would prefer submodules. I think that otherwise it might become more confusing...

[2019-07-10 10:36] colehurwitz commented on #198
We could have both though @alejoe91 . I wouldn't use the flattened version myself, but some people might like it.

[2019-07-10 10:38] alejoe91 commented on #203
Not sure. Maybe I would keep preprocessing, postprocessing, curation, and validation in the toolkit or tools metapackage

[2019-07-10 10:47] colehurwitz commented on #203
I can see where you are coming from, but I am really not sure what information that would give the user. Why would keeping them together help the user? If I want preprocessing functions or curation functions, I might actually be confused to look in something called a toolkit. I would rather look inside a module that is named after the operation for which I am looking.

[2019-07-10 10:48] samuelgarcia commented on #198
@colehurwitz
I prefer the version of alessio + flatten at the same time
[code]
This avoid magic routing of submodule.

[2019-07-10 10:50] colehurwitz commented on #198
Alright, I think I am in the minority on this one so I will agree to the alessio + flatten at the same time version of spikeinterface. :)

[2019-07-10 11:42] colehurwitz commented on #203
I have been out voted in #198 so I will agree with @alejoe91 on this one :)

[code]

[2019-07-11 06:19] alejoe91 commented on #203
@samuelgarcia can you use spikewidgets for the study plots? I think that when we freeze the packages in spikeinterface it's safer to have dependencies. So spikecomparison could depend on spikewidgets (spikewidgets does not depend on spikecomparison, it only depends on spiketoolkit)

[2019-07-11 07:40] alejoe91 commented on #192
@mhhennig can you move this to spikesorters? I think that the problem is when kilosort parses the fs to the config file.

[2019-07-11 07:40] #173 closed

[2019-07-11 07:41] #128 closed

[2019-07-11 07:42] alejoe91 commented on #52
this is done, right @colehurwitz ?

[2019-07-11 08:40] samuelgarcia commented on #203
@alejoe91 : yes I plan to use spikewidget for study plot. And so yes spiekcomparison would depend on spikewidget.

My proposal was:

  * spikeextractor<spiketoolkit<spikesorters<spikewidget<spikecomparison<spikesforest

**spikewidget<spikecomparison** : resolve on cyclic dep

**spiketoolkit<spikesorters** : could resolve the other one :) but on that difficult point you did not say anything at the

[2019-07-11 08:57] alejoe91 commented on #203
Ehehehe I'm very jealous of the toolkit, but I agree.

In the meta-package we'll have:

si.extractors
si.sorters
si.toolkit
si.widgets
si.comparison

Only the study will depend on the widgets. I suggest making a submodule in spikewidgets (studywidgets) to make the seaborn plots. Do you agree?

I think that porting the packages would be super fast. We just need to make spikecomparison and spikeinte

[2019-07-11 10:17] samuelgarcia commented on #203
Flat is OK for the moment. Lets wat how many plot function will be done and see if a submodule is needed, no ?

I see the point. I am not very expert in installation.
What could do :
  * keep the setup.py
   * force to all with == **when we release** SI
   *  just after put >= so we could have spikeinterface also as "develop" always for all package.

Yes it will be super fast but:
  * lets wait @m

[2019-07-11 10:39] colehurwitz commented on #52
In theory, yes, but still needs unit tests at some point.

[2019-07-16 05:47] #189 closed

[2019-07-18 15:49] samuelgarcia commented on #203
spikecomparison is out.

[2019-07-18 15:49] #203 closed

[2019-07-18 15:50] samuelgarcia commented on #198
I close this issue.
spiekinterface is working.
Let's continue discution there

[2019-07-18 15:50] #198 closed

[2019-07-22 18:59] matthewperkins opened #209 "No sorters attribute?"
`In [2]: st.sorters.available_sorters()
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-df15c12b1d5a> in <module>
----> 1 st.sorters.available_sorters()

AttributeError: module 'spiketoolkit' has no attribute 'sorters'
`

[2019-07-22 19:06] alejoe91 commented on #209
Hi @matthewperkins!

We are refractoring the code. Now we recommend using `spikeinterface` package, which is a metapackage for spikeextractors, spiketoolkit, spikesorters (sorters were moved here), spikecomparison, and spikewidgets. We are updating the docs right now.

Basically all the `st.sorters` calls are now:
`import spikeinterface as si`

`si.sorters.available_sorters()`

Cheers
Alessio

[2019-07-22 19:07] alejoe91 opened #210 "URGENT: fix docs for spikeinterface use"

[2019-07-22 19:08] alejoe91 commented on #50
This should be in the new metrics @colehurwitz

[2019-07-22 19:09] alejoe91 commented on #53
@colehurwitz can we close all metric-related issues?

[2019-07-22 19:21] samuelgarcia commented on #210
very urgent.

[2019-07-22 19:23] alejoe91 commented on #210
@samuelgarcia I can try to have a minimal example tomorrow. We should especially change the readme and point to spikeinterface.

[2019-07-22 19:23] samuelgarcia commented on #210
We should  copy/paste spiketoolkit readme to spikeinterface readme more or less no ?

[2019-07-22 19:24] samuelgarcia commented on #210
And make readme minial at the moment for all subpackage?

[2019-07-22 19:28] alejoe91 commented on #210
Yes :) and also merge the read the docs

[2019-07-22 23:07] colehurwitz commented on #53
Once I merge the pull request, yes. Almost done

[2019-07-28 17:53] nahawtho opened #211 "KeyError: 'unit' with spiketutorial"
spikeextractors==0.5.4
spiketoolkit==0.3.5
spikewidgets==0.2.0

I am trying to do the SpikeInterface_Tutorial. On the line saying:
`sorting_KL_split_curated = st.curation.threshold_min_SNR(recording=recording, sorting=sorting_KL_split, min_SNR_threshold=5)`
I am getting a persistent error Key error: 'unit'. I have tried versions 0.5.3 and 0.5.5 of se and multiple versions of st as well. The traceb

[2019-07-28 17:56] alejoe91 commented on #211
@nahawtho I'll try to port the code to spikeinterface (new meta-package that installs the correct versions) in the following week. Sorry about that..busy summer for all of us :(

How many units does sorting_KL_split have?
Can you paste the entire error?

Alessio

[2019-07-28 18:01] nahawtho commented on #211
`---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-96-c7f15c94d5b8> in <module>
----> 1 sorting_KL_split_curated = st.curation.threshold_min_SNR(recording=recording, sorting=sorting_KL_split, min_SNR_threshold=5)
      2 print('Curated Units', sorting_KL_split_curated.get_unit_ids()

[2019-07-28 18:30] nahawtho commented on #211
There are 37 units

[2019-07-28 21:23] alejoe91 commented on #211
@colehurwitz seems to be from the multisortingextractor. Can you take a look?

[2019-07-28 23:11] colehurwitz commented on #211
Found the issue. The 'set_unit_features'  in the multisortingextractor was using the wrong key (from an older version) to access the underlying sorting extractors. Fixed that and merged to master in spikeextractors. Thanks for letting us know! I should be able to work much more on cleaning up spikeinterface starting next week.

[2019-07-28 23:13] colehurwitz commented on #211
Should be fixed now in the master branch! We will release clean versions of things soon I think.

[2019-07-29 22:08] colehurwitz commented on #211
Should I close?

[2019-07-30 00:10] nahawtho commented on #211
Perhaps not:
`---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-44-c7f15c94d5b8> in <module>
----> 1 sorting_KL_split_curated = st.curation.threshold_min_SNR(recording=recording, sorting=sorting_KL_split, min_SNR_threshold=5)
      2 print('Curated Units', sorting_KL_split_curated.g

[2019-07-30 00:11] nahawtho commented on #211
!pip freeze | grep spikeextractors
!pip freeze | grep spiketoolkit
!pip freeze | grep spikewidgets

spikeextractors==0.5.5
spiketoolkit==0.4.0
spikewidgets==0.2.2

[2019-07-30 07:35] alejoe91 commented on #211
@nahawtho Can you install spikeestractors from sources?

First `pip uninstall spikeestractors`, and then from the cloned repo run: `python setup.py develop`

[2019-08-08 16:48] sin-mike opened #213 "current status and probe abstraction"
Dear Developers,

I've been following SpikeInterface for a while. Thank you for your efforts, your package perfectly fits my intent to generalize spike sorting algos. I have two questions at the moment.

At first, I noticed a burst of activity recently, so I was wondering if you're planning to make a release. The question if pure practical, should I introduce spikeinterface to my lab teammates rig

[2019-08-08 17:38] alejoe91 commented on #213
Hi @sin-mike,

Thank you for the interest! We are currently finishing up for a first release, which will happen around the end of the month in combination with a preprint release. We created a meta-package called spikeinterface, which wraps spikeextractors, spikesorters, spiketoolkit, spikecomparison and spikewidgets.

That should be already quite stable if you want to give it s try, but we'll mak

[2019-08-08 17:43] colehurwitz commented on #213
I actually like the idea of a probe class that can be stored inside each recording extractor. It could be accessed as Mike showed in his example. Would be worth thinking about!

[2019-08-09 10:04] sin-mike commented on #213
Thank you for answers!

@colehurwitz would you need a PR to preview my probe class structure? To my mind, the class could just be a wrap up around pandas dataframe with IO handling and some viz. I guess, what @alejoe91 did with MEAutility could cover my needs, I need to look it more thoroughly.

Widgets are useful, true. In the MVC paradygm, the probe class could just represent 'model', while widg

[2019-08-09 10:27] sin-mike commented on #213
@alejoe91 I wonder, why you didn't include MEAutility to spike interface? Are there problems? It looks complete to me. It could encapsulate well all load/write prb functions.

[2019-08-09 11:06] alejoe91 commented on #213
@sin-mike MEAutility is indeed complete and working :) I use it in the MEArec package, which is a simulator of extracellular activity (https://github.com/alejoe91/MEArec).

At the beginning we decided to keep spikeinterface lightweight and we thought that prb or csv files can be used for probe info. Especially prb files, which more used on the field, could be used as standard for probe info. Moreo

[2019-08-09 11:39] colehurwitz commented on #213
So what I took from Mike's comment and what I think would be a nice addition to the RecordingExtractor is a built-in probe object that can store information from and handle file IO with probe files. I imagine that it could handle groups and locations currently.

This object abstraction inside of the RecordingExtractor could be very useful as when we want to start adding more information about prob

[2019-08-09 12:40] alejoe91 commented on #213
In my opinion having properties is a good implementation. If for example we remove a channel or extract sub recordings, the properties are handled easily. Instead, having a probe object would require to modify the object and keep track of the modification. Another caveat that I see is if the probe file has more ore less channels than the recording. This is the case for example when there are refer

[2019-08-09 12:46] colehurwitz commented on #213
Ok, I can agree with what you are saying @alejoe91 . Maybe @sin-mike could help us with some probe widgets then. :)

[2019-08-09 13:16] sin-mike commented on #213
@alejoe91 @colehurwitz Thank you for a fruitful discussion! Some thoughts about encapsulating a probe.

Probes could have an internal structure developed independently of SpikeInterface packages and used in other packages, e. g. in elephant to calculate CSD (as I do routinely) http://neuralensemble.org/elephant/

Probes in .prb lack 3D support, which is crucial to me, as I'm using simultaneous ECO

[2019-08-13 10:38] mhhennig opened #215 "bandpass_filter memory leak"
It's quite massive: some things remain in memory even when the extractor objects are discarded. Please help :(

[2019-08-13 12:03] alejoe91 commented on #215
Hi @mhhennig, what do you mean by discarding objects? to `del` them? Can you show an example of this? I won't be able to look into it before next week..but maybe we can understand what's going on

[2019-08-13 15:32] mhhennig commented on #215
I think I have tracked it down to the scipy fft function, there seems to be some caching going on that is not garbage collected properly. Still investigating...

[2019-08-13 18:57] mhhennig commented on #215
Ok, it's complicated. This seems to be a problem with the memoryviews cython uses. If I request data from a preprocessing extractor from cython code (via memorview), somewhere a leak opens. Nothing we can do here, so closing.

[2019-08-13 18:57] #215 closed

[2019-08-16 13:00] alejoe91 commented on #213
@sin-mike sorry for the late reply. I just wanted to point out that you can achieve what you suggested using the prb file:

- locations can be in 3d as well. However, for spike sorting, you will need to drop one dimension (e.g. for kilosort).

- any dictionary key is parsed, so you could easily embed `label` and `ADC` in the probe file, or set them using the `set_channel_property`

I like the idea

[2019-08-21 06:48] alejoe91 opened #216 "implement tests for pre- and post-processing"
Missin unit tests for preprocessing and postprocessing modules

[2019-08-21 06:49] alejoe91 opened #217 "implement tests for validation module"
maybe tests should go in spikemetrics, but we need tests for the wrappers too

@jsiegle

[2019-08-22 16:04] #50 closed

[2019-08-22 16:04] #52 closed

[2019-08-22 16:04] #53 closed

[2019-08-22 16:04] #57 closed

[2019-08-22 16:05] colehurwitz commented on #175
How easy is this to do now that we have get_amplitudes implemented?

[2019-08-22 16:06] #182 closed

[2019-08-22 16:06] #211 closed

[2019-08-26 11:52] samuelgarcia commented on #213
Hi all.
welcome here @sin-mike !!

Contrary to what @alejoe91 said I am in favor of having a Probe object in spikeinterface.
To be honest I am not so happy that all geometry problems are solve through properties in recording.

I also thinks that MEAutility:
  * should be renamed (with no capital and no mea) maybe something like "probelayout",
    "probesutils", ...
  * should be integrated in spik

[2019-08-26 12:06] colehurwitz commented on #213
I think I agree with @samuelgarcia and @sin-mike . My only question would be if the channel properties would be a part of the RecordingExtractor still. I can't see a use for them if we have a probe object.

[2019-08-26 12:11] samuelgarcia commented on #213
I think for a first step channel properties for location still would exists (and could be used for plotting) but and second (but long term) step location as property  would not handle anymore the probe geometry. This is a string change because run_sorter would imply to also provide a probe object.

This would occur of course after the v1.0 and the paper preprint.

[2019-08-29 08:54] alejoe91 commented on #216
https://github.com/SpikeInterface/spiketoolkit/pull/221

Only tests for the `normalize_by_quantile` preprocessor (@mhhennig) and `compute_pca_scores` in postprocessing are missing

[2019-08-29 08:54] alejoe91 commented on #209
@matthewperkins does this fix the problem?

[2019-08-29 08:55] alejoe91 commented on #187
duplicate

[2019-08-29 08:55] #187 closed

[2019-08-29 08:55] alejoe91 commented on #49
https://github.com/SpikeInterface/spiketoolkit/issues/176

[2019-08-29 08:55] alejoe91 commented on #49
duplicate

[2019-08-29 08:55] #49 closed

[2019-08-29 14:54] alejoe91 opened #222 "validation module: add save_as_property"
@colehurwitz similar to the [postprocessing](https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/postprocessing/postprocessing_tools.py#L285-L286), can you add a `save_as_property` option when calling the validation functions separately?

[2019-08-29 15:05] colehurwitz commented on #222
Sure, I can do that.

[2019-08-29 15:27] colehurwitz commented on #222
All but SNR actually have that. I can add it for SNR.

[2019-08-29 15:58] #222 closed

[2019-09-02 16:44] McD-NMI commented on #209
I have the same problem. Using the spikeinterface package and the running those lines gives the same error.

[2019-09-02 18:18] samuelgarcia commented on #209
@McD-NMI : could you open this issue here https://github.com/SpikeInterface/spikeinterface/issues
I confirm this bug and this is strange.
I have this in ipython (jupyter) but not in scripts.

[2019-09-03 11:23] alejoe91 opened #230 "complete curation module"
- add curation funcion/class for all metrics
- add a function to combine more metrics at once:

e.g.
[code]

`mode` can be 'and' or 'or'.

[2019-09-03 11:45] colehurwitz commented on #230
Looks cool. Leave it to me.

[2019-09-03 12:36] colehurwitz commented on #230
Should we do this after the paper? Some metrics return multiple things which make them difficult to make curation tools for.

[2019-09-04 09:38] alejoe91 commented on #210
https://spikeinterface.readthedocs.io/en/latest/

[2019-09-04 09:38] #210 closed

[2019-09-04 09:38] #209 closed

[2019-09-14 22:04] moinjui24 commented on #217
Hi

[2019-09-14 23:51] #217 closed

[2019-09-16 15:44] teristam opened #238 "Allow passing of chunk_size to BandpassFilterRecording"
Currently, when using `BandpassFilterRecording`, the underlying `FilterRecording` chunk size is fixed to 30k points. This makes the calculation of spike metrics during curation extremely slow for large dataset, as each read need to filter 30k points. This problem is especially prominent when the dataset is large. Although the filtered data is cached, for large dataset the hit rate is so low that v

[2019-09-16 16:00] colehurwitz commented on #238
Yes, this makes sense. I think we can make this a parameter for each subclass of the `FilterRecording` object, including `BandpassFilterRecording`.

[2019-09-16 18:16] alejoe91 commented on #238
@teristam now it is a param. Another option to speed it up is to filter and save the entire recording as binary and then load it back with the BinDatRecordingExtractor. Otherwise extracting waveforms is very slow I agree..

[2019-09-16 20:52] #238 closed

[2019-09-17 16:56] teristam opened #240 "st.curation.threshold_snr produces error if 'waveform' is already in sortingextractor"
hi, sorry, it's me again...

When the 'waveform' property is already set in the` sortingextractor` by `st.postprocessing.get_unit_waveforms`, calling `st.curation.threshold_snr` results in an error

`ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()`

at

` template = np.median(waveforms, axis=0)` in `postprocessing_tools.py`

Probably cause:
`

[2019-09-17 17:58] alejoe91 commented on #240
Hi @teristam

Can you paste the entire traceback? when you get waveforms, are you using `max_num_waveforms`?

[2019-09-17 18:03] alejoe91 commented on #240
Yes I was able to reproduce it :) Let me quickly fix it! thanks for spotting the bug!

[2019-09-17 19:04] alejoe91 commented on #240
@teristam should be fixed with this PR https://github.com/SpikeInterface/spiketoolkit/pull/241

Can you confirm this?

[2019-09-18 09:34] teristam commented on #240
It's fixed now. Thanks!

[2019-09-18 09:34] #240 closed

[2019-09-18 23:30] colehurwitz opened #242 "More sensible default for waveform extraction (Memory issues)"
Infinite waveforms as default will cause memory issues for any large-scale recordings. I think we should try to find more sensible default values for `max_num_waveforms` and `max_num_pca_waveforms` (this is important for quality metrics which use those defaults).

[2019-09-23 12:50] samuelgarcia opened #247 "MetricCalculator and option to filter the input recording"
Is there an option to force the band pass filter on the input recordings ?
If not, it is dangerous because metris like SNR are suposed to play with flat signal.

Am I wrong ?

[2019-09-23 14:08] colehurwitz commented on #247
I will re-implement this. I think it was removed in translation to the metric calculator. We need to think about which metrics want filtering/non-filtering.

[2019-09-23 16:11] alejoe91 commented on #247
I think all metrics based on waveforms/templates should use filtered data or have a filter option.

[2019-09-23 17:48] colehurwitz commented on #176
Hey @magland , so we are looking into including these metrics into SpikeInterface as both quality metrics and as curation tools in the near future. Do you think you would have time to work on this?

[2019-09-23 18:55] teristam opened #248 "compute_all_metric_data is slow on large dataset"
When calling `compute_all_metric_data`, in `postprocessing_tools._get_quality_metric_data`, `get_unit_amplitudes` will return the amplitude of all spike waveforms, which can be very slow for dataset with many spikes. There should be an option to specify a subset of the waveform to return. Usually it may not necessary to compute the metrics on all spikes.

[2019-09-23 19:01] alejoe91 commented on #248
@teristam good point! We are actually updating the metric calculator on these days to fix these issues (plus others!) Will reference to the PR once it's open. @colehurwitz we should reduce the default number of spikes in all metrics

[2019-09-23 19:08] colehurwitz commented on #248
I think the challenge is that Josh's code expects all input arrays to have the same length as all spikes in the recording. See https://github.com/SpikeInterface/spikemetrics/blob/master/spikemetrics/metrics.py

I am not sure how to overcome this constraint.

[2019-09-23 19:09] colehurwitz commented on #248
We could do the epochs **before** the metrics are calculated rather than during. Josh's code takes in all the data and then does epochs.

[2019-09-23 19:19] colehurwitz commented on #248
Could we parallelize some of the post processing tools to make all of this faster?

[2019-09-23 19:21] samuelgarcia commented on #248
Hi @colehurwitz : I don't get this epoch stuff, sorry I did not have time to read the code.
I think we should hack the original code by adding **selected_spike_index** (or something like that) to reduce the number of spikes everywhere.
Ideally this  **selected_spike_index** would be one randomly once with a seed to ensure reproducibility.

[2019-09-23 19:21] colehurwitz commented on #248
Also, we maybe make a new function for computing all of the quality metric data except for amplitudes. Amplitudes are only used in the cutoff metric.

[2019-09-23 19:29] colehurwitz commented on #248
I think sub-selecting spikes might cause issues, Samuel. It would definitely bias ISI violations and presence ratios right?

[2019-09-23 19:31] teristam opened #249 "Performance of filtering in FIlterRecording is much lower than direct filtering using scipy.signal"
Consider the following test script:
[code]

On my macbook, the output is
[code]
In the case where there are lots of spikes, the filtering overhead of the small chunk size option will definitely overshadow its benefit.

[2019-09-23 19:41] alejoe91 commented on #249
Hi @teristam. What if you increase the chunk size even more? While chunking is bad when filtering the entire signals, for many uses it's very handy (e.g. visualization). If you are doing postprocessing I recommend using the cache option and increasing the chunk size. This will result in no overhead for further processing as the filtered signals are in memory.

For larger datasets, another option i

[2019-09-23 19:41] samuelgarcia commented on #248
Totally, sorry. I had in mind waveform mostly.

[2019-09-23 19:44] alejoe91 commented on #248
I think that for isi and presence using all spikes it's no problem as only spiketrains are used. The problem is when metrics that require wf and templates are used. In that case it's safe to use a subsample of the spikes as we compute the templates as the median

[2019-09-23 19:48] samuelgarcia commented on #249
@alejoe91 : how can we explain the overhead when no chunk. The second time here ?

[2019-09-23 19:49] samuelgarcia commented on #249
Note that filter in chunk here is quite bad because of boundaries effect because we don't have overlap system.

[2019-09-23 19:50] alejoe91 commented on #249
@samuelgarcia you are right there would still be a bit of overhead in retrieving the chunks...should we add a no-chunk option that filters the whole thing? @teristam what do you recommend?

[2019-09-23 19:51] alejoe91 commented on #249
Yes we do! @magland implemented it!

[2019-09-23 19:52] alejoe91 commented on #249
It's been with overlap since the beginning :)

[2019-09-23 19:54] teristam commented on #249
@alejoe91  Many operations also rely on the underlying filter function, e.g. getting the waveform of a spike. When there are many spikes to extract, if the chunk size is small, it speeds up the filtering of individual spike, but the overhead of doing many filtering will kill performance. If the chunk size is large, then filtering each chunk will be expensive, it will also kill performance...probab

[2019-09-23 20:04] teristam commented on #249
Here is the line_profiler results of some of the more computational intensive operation, may be useful:

[code]

[code]

[2019-09-23 20:06] samuelgarcia commented on #249
@alejoe91 : where is the overlap in the code.
In BandpassFilterRecording thet inherits FilterRecording.
And there get_traces just compute chunk one after the other without overlapping nor windowing.

[2019-09-23 20:08] samuelgarcia commented on #249
@alejoe91 :
why are we doing ```b, a = butter(self._order, band, btype='bandpass')``` in each loop ?

[2019-09-23 20:11] alejoe91 commented on #249
@samuelgarcia that can clearly be moved out of the loop. I'll check on the overlap tomorrow. Jeremy told me that he implemented it, but I'll double check. @teristam thanks for the performance. It will be very useful.

[2019-09-23 20:11] colehurwitz commented on #248
I think it is a bit challenging to change josh’s code for this.. maybe we can get Josh to work on that.

[2019-09-23 20:23] colehurwitz commented on #248
Do you think postprocessing tools is parallelizable as well @alijoe91?

[2019-09-23 20:26] alejoe91 commented on #248
Who is @alijoe91?!? Eheheh
Yes we can parallelize a few stuff. Several for loops that can be run in parallel

[2019-09-23 20:37] colehurwitz commented on #248
Whoops, phone typo 😅

So a couple of things we brain stormed here to improve performance:

1. Parallelize aspects of postprocessing.
2. Separate amplitudes from compute all metric data (only one metric uses it).
3. Sub sample spikes for feature metrics.

[2019-09-23 20:46] alejoe91 commented on #248
Option 2 and 3 should be prioritized imo as they are quick changes

[2019-09-24 08:37] colehurwitz commented on #248
Could you explain the part about the templates? I don't understand what you mean.

[2019-09-24 08:46] alejoe91 commented on #248
The slow part is computing waveforms and wf-related info, like templates and pca. For the metrics that use these info (all isolation metrics and snr) we should use the a limited number of waveforms to speed things up.
For ISI-violations and presence ratio, which don't use waveform info, we have to use all spikes and this won't affect performance as they are super fast to compute

[2019-09-24 08:50] colehurwitz commented on #248
So all we have to do is set the default values for max_num_waveforms and max_num_pca_waveforms to be smaller in this case? Am I understanding correctly>

[2019-09-24 08:51] colehurwitz commented on #248
So what exactly is @samuelgarcia referring to? Does he also want to reduce waveforms?

[2019-09-24 08:55] alejoe91 commented on #248
Yes I believe so :)

[2019-09-24 08:55] alejoe91 commented on #248
I would just expose the `max_num_waveforms` and `max_num_pca_waveforms` and reduce the default values

[2019-09-24 08:57] colehurwitz commented on #248
I think they are exposed. I will reduce the default though. :)

[2019-09-24 11:22] colehurwitz commented on #248
So adjusting the waveforms will help with PCA, but won't have any affect on amplitudes.

Here is the slow part I think:

[code]

[2019-09-24 11:24] colehurwitz commented on #248
Maybe we could make an option for amplitudes to be for the templates rather than each individual spike?

[code]

[2019-09-24 11:28] colehurwitz commented on #248
`max_num_amplitudes` is set to infinite by default.

[2019-09-24 11:57] colehurwitz commented on #248
I think the problem with this logic is that it looks at all snippets which is very costly. Not sure the best way around this.

[2019-09-24 14:56] alejoe91 commented on #249
https://github.com/SpikeInterface/spiketoolkit/pull/251

@samuelgarcia the padding is performed here: https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/preprocessing/bandpass_filter.py#L43-L49

[2019-09-24 20:18] teristam opened #252 "Functional interface of curation should expose all parameters of underlying Curator object"
Now some parameters are not exposed in the functional interface of the curators, e.g. in

`threshold_snr.threshold_snr()` , `recompute_waveform_info` and `save_features_props` from the `ThresholdSNR` are not exposed. Sometimes the users may want to have a more-grained control of the curation process, maybe we should just expose all parameters but with sensible defaults?

[2019-09-29 17:34] jaib1 opened #255 "Add code (to `postprocessing.py` ?) for calculating features from spike waveforms"
It would be nice if within one module there were different functions to calculate different features from spike waveforms (e.g. width, peak-trough amplitude, PC variations, wavelet variations, etc...)
Had mentioned this to @alejoe91 in an email thread.

[2019-10-01 10:40] samuelgarcia commented on #247
Hi is the filtering implemented in compute_snrs ?

[2019-10-01 12:58] colehurwitz commented on #247
Not yet! I can add that back today

[2019-10-01 13:00] colehurwitz commented on #247
Should all metrics use the filtered data if possible?

[2019-10-01 14:18] colehurwitz commented on #247
Any advice on this @alejoe91 @samuelgarcia . I want to implement this, but in the best way possible. I was thinking that when a recording is added, we give the option to filter it there so that everything is using the correct filtered recording. Thoughts?

[2019-10-01 14:50] colehurwitz commented on #247
I have an idea on how to implement this.

[2019-10-16 14:33] teristam opened #263 "Meaning of threshold in curation is not so clear"
In `threshold_snr`, for the argument `threshold_sign`, the documentation says:

By "threshold", here does it means it will remove cluster according to the threshold sign, or keep the clusters? I think the wordings can be improved to avoid confusion.

Thanks!

[2019-10-16 22:40] colehurwitz commented on #263
Good point! I will update.

[2019-10-16 23:13] colehurwitz commented on #263
Should be fixed

[2019-10-16 23:13] #263 closed

[2019-10-17 15:59] teristam opened #264 "Include an option to do in-memory filtering of input signal"
Currently there is an option to save the filtered output as temporary binary file. However, for most users with typical recording, actually saving the filtered data in memory is fine and can offer the greatest speed. It may be beneficial to just offer an simple in-memory filtering option using the scipy.signal, without worrying about all those caching mechanisms.

[2019-10-17 18:34] colehurwitz commented on #264
We could theoretically have an in_place option which filters the recording and builds a numpy_recording_extractor for it. That should be the fastest way to filter a recording (also, quite memory hungry). Maybe, all preprocessing modules could have this

[2019-10-18 11:16] maartensc opened #265 "Common_reference doesn't work for single channels that are not in a list [fixed]"
When running the preprocessing function common_reference, with referencing to a single channel, I got the error:

spikeextractors/spikeextractors/extractors/bindatrecordingextractor/bindatrecordingextractor.py, line 64, in get_traces,
channel_ids = [self._channels.index(ch) for ch in channel_ids]
TypeError: 'numpy.int64' object is not iterable

This is easily fixed by changing line 37 to `self._re

[2019-10-20 18:03] alejoe91 commented on #265
@maartensc thanks for spotting this. Indeed it should work with an int as well. I'll fix that!

[2019-10-20 19:43] colehurwitz commented on #264
What do you think of this idea, @samuelgarcia ?

[2019-10-21 13:03] alejoe91 commented on #264
@teristam you can do that by setting `chunk_size=None`. In this case the signals are filtered on the fly when you get traces, without RAM caching or saving the binary file. Is that what you suggest?
Otherwise, the caching system actually saves the filtered data in memory, but it does it in chunks.

Also note that you can set the `type='butter'` to use the scipy filter instead of the fft kernel.

[2019-10-21 13:36] teristam commented on #264
@alejoe91  I don't think filtering is on the fly is a very good option if I am accessing a lot of spikes, and it seems that when setting `cache=True`, now it cache data in a binary file rather than just memory?

I think the in-place filtering should be very straight forward? Just do filtering on the `_timeseries` of the extractor, without changing anything else?

[2019-10-21 14:13] alejoe91 commented on #264
Yes, and then they are memmapped so it should be pretty fast. Have you tried that out?

I see what you mean. We can implement a similar mechanism for caching in memory instead than on file. This will be very memory hungry though.

[2019-10-24 10:46] samuelgarcia commented on #264
Hi all.
For in memory there is already ```cache_chunks=False/True``` option wich is an in-memory but by chunk cache and as Alessio said. The combinaison of ```cache_chunks=True + chunk_size=None``` is already a in-memory cache.

Globally, I don't like so much the inplace stuff... :)

[2019-11-06 10:59] #265 closed

[2019-11-12 09:52] colehurwitz opened #270 "Memory map postprocess - export to phy performance"
As discussed in a **spikeinterface** issue, `export_to_phy` tries to extract all the spikes from the recording so you can do manual curation later. This will unfortunately not scale to large datasets.

To overcome this, I think we could extract an appropriate amount of spikes for computing the PCA components (not all the spikes) then waveforms could be loaded, transformed, and saved out in chunks.

[2019-11-13 18:17] colehurwitz commented on #230
@rogerhurwitz

[2019-11-21 08:47] #118 closed

[2019-11-21 08:48] #216 closed

[2019-11-21 08:48] alejoe91 commented on #247
@colehurwitz any updte on this?

[2019-11-21 08:49] alejoe91 commented on #249
This should be fixed with the latest implementation

[2019-11-21 08:49] #249 closed

[2019-11-21 21:52] mafrasiabi opened #274 "problem on exporting to Phy"
I am trying to export the sort results to Phy for curation but no matter what sorter I'm using it'll give _index_ error at pca.fit step , any idea what's the problem?

[2019-11-22 08:01] alejoe91 commented on #274
Hi @mafrasiabi

What is the entire error traceback? Can you try to install the latest version of spiketoolkit from git?

Also, do you get the same error if you run this?

`st.postprocessing.export_to_phy(recording, sorting, max_spikes_for_pca=100000)`

[2019-11-22 13:42] alejoe91 commented on #255
Hi @jaib1

I'm starting to implement a `FeatureCalculator` class in the postprocessing.py. At first I will include:

- width (p2p)
- fwhm (full width half max)
- neg (negative_peak)
- pos (positive peak)
- amp (p2p amp)

that could be applied either to the template or to single waveforms, and computed either for the channel with largest amplitude, or for all channels (which could be relevant to fi

[2019-11-27 11:41] McD-NMI opened #275 "Filtering when channel ids are non-sequential"
When running the following:
`st.preprocessing.bandpass_filter(recording, freq_min=25, freq_max=6000, cache_to_file=True)`

I get the error:

I made some recordings using MCS system, but only recorded from a subset of 61 of the 252 electrodes on my MEA. I then convert it to .H5 file and use the MCSH5 extractor to import my data. I believe my problem is a conflict with how MCS is deciding to store t

[2019-11-27 11:57] samuelgarcia commented on #275
Hi.
I think this is a bug internal where we mix up channel_index and channel_id somewhere.
Normally this is totally valid to have dicutinuous channe_ids. It is even possible to have then in a reverse order.
Lets investigate.
@alejoe91  ? @colehurwitz ?

[2019-11-27 11:58] alejoe91 commented on #275
Hi @McD-NMI

This issue is not related to spiketoolkit, but rather to spikeextractors. See this related (closed) issue:
https://github.com/SpikeInterface/spikeextractors/pull/187

Basically, the h5 file can only be sliced with ordered channels. In MEArec, I fixed it in this way:
https://github.com/SpikeInterface/spikeextractors/blob/master/spikeextractors/extractors/mearecextractors/mearecextracto

[2019-11-27 12:04] alejoe91 commented on #275
@McD-NMI can you also paste the entire error?

[2019-11-27 12:05] samuelgarcia commented on #275
@alejoe91 : could it be possible that some extractor have a internal between channel_index and channel_ids ?

[2019-11-27 12:08] alejoe91 commented on #275
I don't think this is the case

[2019-11-27 12:27] McD-NMI commented on #275
Sure, I am running it in jupyter notebooks and this is what I get. Still want me to move the issue to spike extractors?

[2019-11-27 13:13] McD-NMI commented on #275
Ok, I agree now it is an extractor problem, in the MCSH5 extractor get_traces function. IN lines 85-89:

[code]

MCS H5 stores the 'ChannelData' with just the data, unrelated to the ChannelID. The mapping to ChannelID is mapped in Info array. So I think when `return data_v[channel_idxs, start_frame:end_frame]` is called, channel_idxs have been set to channel_ids, and this is throwing the error.

[2019-11-27 13:17] alejoe91 commented on #275
is the stream a h5 handle? I'll make a PR to spikeextractors in 5 min that you can test :)

[2019-11-27 13:24] alejoe91 commented on #275
@McD-NMI can you check if [this](https://github.com/SpikeInterface/spikeextractors/pull/306) solves the issue?

[2019-11-27 13:43] McD-NMI commented on #275
I tried some other things and noticed that when I call the` recording.get_traces()` function that it also fails. But if I specify the channel_ids it works:  `recording.get_traces(channel_ids=[242])` for example works. So I think the

`channel_idxs = np.where(self._channel_ids == channel_ids)[0][0]`

is working properly for this. The problem is when setting `channel_idxs = self._channel_ids` I will

[2019-11-27 14:24] samuelgarcia opened #276 "Probable problem between channel_id and channel_index in compute snr"
Traceback (most recent call last):
  File "run_sorters_SF.py", line 471, in <module>
    collect_results()
  File "run_sorters_SF.py", line 219, in collect_results
    snr = study.get_units_snr()
  File "/home/samuel/Documents/Spikeinterface/spikecomparison/spikecomparison/groundtruthstudy.py", line 198, in get_units_snr
    snr = self._compute_snr(rec_name)
  File "/home/samuel/Documents/Spikeint

[2019-11-27 14:26] samuelgarcia commented on #276
get_unit_max_channels woaks with indexes
but
epoch_recording.get_channel_ids().index(max_channels[i])
play with ids

No ?

[2019-11-27 14:28] samuelgarcia commented on #276
Note that this errors only occurs when a dataset have non continuous channel_ids like in the retina dataset from Pierre.

Could we make our test more robust against this ?
For instanace toy_dataset could have internal ids discontinuous.
With this I guess we should discover somes bugs here and here....
@alejoe91 @colehurwitz  : what do you think ?

[2019-11-27 14:49] samuelgarcia commented on #276
My bad. get_unit_max_channels woaks with **ids** the bug is somewhere else.

[2019-11-27 14:58] samuelgarcia opened #277 "from hdmf.data_utils import DataChunkIterator"
from hdmf.data_utils import DataChunkIterator have been added in NWB.

I think this imports "hdmf" should be optional and not imposed.

[2019-11-27 15:01] samuelgarcia commented on #277
OUps wrong place.

[2019-11-27 15:01] #277 closed

[2019-11-27 15:21] McD-NMI commented on #275
Seems to be fixed with your newest commit, thank! @alejoe91

[2019-11-27 15:21] #275 closed

[2019-11-27 17:11] jaib1 commented on #255
Great! Will watch this space

[2019-12-01 00:10] subhacom opened #281 "bug in `export_to_phy`"
In spiketoolkit v0.5.0 there is a bug in export_to_phy:
[code]
`max_spikes_for_pca=1e5` being a float, results in an exception when you have over 100,000 spikes (such a large number is probably impractical, but can create confusion and waste time of users):
[code]

At some other places the default is set to `np.inf` which gets checked downstream and replaced with the total number of waveforms. Gue

[2019-12-01 18:03] alejoe91 commented on #281
Hi @subhacom

This is fixed in 0.5.1 (https://github.com/SpikeInterface/spiketoolkit/blob/0.5.1/spiketoolkit/postprocessing/postprocessing_tools.py#L613) by forcing the `max_spikes_for_pca` to be `int`.
Can you double check that upgrading spiketoolkit fixes the issue?

Thanks!
Alessio

[2019-12-01 18:39] subhacom commented on #281
I see, I am using it via spikeinterface, whose current version is incompatible with spiketools 0.5.1. I still think the right place to correct the problem would have been to set the default to np.inf in `export_to_phy()`, which still has 1e5 in the code you linked.

[2019-12-01 18:43] alejoe91 commented on #281
If you upgrade all packages they should be compatible. We'll make a new release of spikeinterface soon.

[2019-12-03 12:12] alejoe91 commented on #281
@subhacom does upgrading fix it for you? I agree that 1e5 should be 10000 (and it's not too unreasonable to get that many spikes for new hd probes)

[2019-12-03 12:16] alejoe91 commented on #274
https://github.com/SpikeInterface/spiketoolkit/issues/281 duplicate

[2019-12-03 12:16] #274 closed

[2019-12-03 13:42] subhacom commented on #281
The upgrade indeed fixed the problem.

On Tue, 3 Dec 2019 at 07:13, Alessio Buccino <notifications@github.com>
wrote:

[2019-12-04 18:06] jvoigts opened #283 "Heuristics for clustered units"
I'd like to check what you all are thinking about adding a mechanism for, or repository of, heuristics to decide if a cluster returned by a spike sorter is of neural origin. This could be a set of measures and associated thresholds that are applied in postprocessing.

It seems that quite a few users of automated sorters use ad-hoc scripts, often in addition to manual curation, in order to mark and

[2019-12-04 22:11] mhhennig commented on #283
This is a very good question, and yes, we're looking a this issue.

As you say, looking at spike train features can be a little dangerous as one cannot be sure what to expect from neurons (except perhaps ISI violations). A possible starting point are the quality metrics. We have not done this systematically, but a ground truth data analysis could perhaps reveal how to use these.

If you are intere

[2019-12-05 12:27] alejoe91 commented on #283
Hi @jvoigts!

I believe @jsiegle is working on something like this. It could be unsupervised based on quality metrics (see validation and curation modules), or even supevised at one point.

Following this https://github.com/SpikeInterface/spiketoolkit/issues/255 I wanted to add a `FeatureCallculator` in the postprocessing module. The postprocessing module could also be used for RS-FS separation ba

[2019-12-09 09:18] samuelgarcia commented on #283
+1

[2019-12-09 20:12] jsiegle commented on #283
I agree this is super important. You can't objectively compare sorter performance without first filtering out artifactual units...but of course the characteristics of these units will vary from sorter to sorter, so there will not be a one-size-fits-all approach to identifying them.

We have developed a [Python module](https://github.com/AllenInstitute/ecephys_spike_sorting/tree/master/ecephys_spik

[2019-12-09 20:29] alejoe91 commented on #283
@jsiegle very cool! I guess we can start integrating those if that's allright for you :)

@jvoigts I haven't had time to make the PR. I'll try over this week to get us started.

[2019-12-09 20:45] samuelgarcia commented on #283
@jsiegle : I think we can indeed compare sorters performence **wihout** cleaning. The result give you an important idea of how much we need to clean or not the result of a sorter.

If SI provide some good tools for cleaning and level weakness of sorters then it is a good thing.

But comparing the raw output of sorters is still an important results for the community.

[2019-12-09 20:56] jsiegle commented on #283
@alejoe91, sure, go ahead! But both modules assume high-density, equally spaced recording sites, so they will have to be substantially revised to work with more types of electrodes.

@samuelgarcia I agree there is value to comparing the raw outputs of each sorter, but you still need some way to classify noise vs. neural units in order to judge how much post-hoc cleaning is required.

[2019-12-09 20:58] colehurwitz commented on #283
@samuelgarcia i agree with both you and Josh. The best way to do this analysis is before and after cleaning. Let’s try to do this for the paper if feasible.

[2019-12-11 14:53] #281 closed

[2020-01-06 14:51] benefron opened #288 "Groups and referance"
Hello,
I uploaded a probe file but I want to change the groups and reference the groups.
I do it but then it is empty.
What is the syntex for grouping and reference grouping
Thank you
Ben

[2020-01-06 14:53] alejoe91 commented on #288
Hi Ben,

Can you paste the code you are using? What is empty? Also how do you want to change reference? Using other channels or using a common reference?

[2020-01-06 15:05] benefron commented on #288
g = g = [1,2,1,1,1,1,2,2,1,1,1,1,1,1,2,1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3]

recording_prb.set_channel_groups(channel_ids,g)

recording_f = st.preprocessing.bandpass_filter(recording_prb, freq_min=300, freq_max=6000)
recording_rm_noise = st.preprocessing.remove_bad_channels(recording_f, bad_channel_ids=[])
recording_cmr = st.preprocessing.common_reference(recording_rm_noise,reference='single',groups

[2020-01-06 15:06] benefron commented on #288
also when I try to  plot
sw.plot_timeseries(recording_cmr, channel_ids=[0,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22,23,24,25,27,28,29,30,31])
the plot is empty

[2020-01-07 08:55] alejoe91 commented on #288
Hi @benefron

You can skip the `st.preprocessing.remove_bad_channels` as you are not removing any channels (that's optional).

The way `groups` work in `st.preprocessing.common_reference``is that you have to pass a list of lists with the channel ids of each group manually. I think though that what you are suggesting is a good way to do it in case one wants to use the channel groups as reference gr

[2020-01-07 09:26] benefron commented on #288
I tried it the way you suggested and again when I try to create snippets or plot the common reference trace I get:

  "File "C:\ProgramData\Anaconda3\lib\site-packages\spiketoolkit\preprocessing\filterrecording.py", line 42, in get_traces
    filtered_chunk = np.zeros((len(channel_ids), (end_frame-start_frame)), dtype=dt)
TypeError: object of type 'int' has no len()"

I try to run this two codes o

[2020-01-07 09:58] alejoe91 commented on #288
@benefron that was indeed a bug! Thanks for spotting it. I fixed it here: https://github.com/SpikeInterface/spiketoolkit/pull/289
I'll merge it soon.

Do you know how to install spiketoolkit from github? That will fix your issue

[2020-01-07 10:02] benefron commented on #288
git clone https://github.com/SpikeInterface/spiketoolkit.git
cd spiketoolkit
python setup.py install
I ran this and now it works

[2020-01-07 10:05] alejoe91 commented on #288
Great! Also notice that in your code the ref_channels are reversed! It should be `ref_channels=[13,6,27]` instead of `ref_channels=[13,27,6]`.

I'll close this issue

[2020-01-07 10:08] benefron commented on #288
Sorry i ran it with median instead of single
with single it still doesn't work

[2020-01-07 10:12] benefron commented on #288
Hi I couldn't answer in the issue.
i made a mistake and ran the code with median and not single.
I still get the same problem as before.

On Tue, Jan 7, 2020 at 12:05 PM Alessio Buccino <notifications@github.com>
wrote:

[2020-01-07 10:36] alejoe91 commented on #288
Hi, can you try to `git pull` and reinstall?
I merged to master now so it should work! Let me know

[2020-01-07 10:37] benefron commented on #288
Sorry for the question
how do I ran git pull?

[2020-01-07 10:43] alejoe91 commented on #288
You go from a terminal in the spiketoolkit folder, then you run:
git pull
python setup.py install

[2020-01-07 11:07] benefron commented on #288
Updated and restarted spyder and still the same error

TypeError: object of type 'int' has no len()

[2020-01-07 11:11] alejoe91 commented on #288
Can you try to run pip uninstall spiketoolkit before python setup.py install?

It works on my side with the latest commit

[2020-01-07 11:17] benefron commented on #288
It works now but when I run:
sw.plot_timeseries(recording_cmr, channel_ids= [16])
I get the following:

  File "C:\ProgramData\Anaconda3\lib\site-packages\spikewidgets\widgets\timeserieswidget\timeserieswidget.py", line 136, in _initialize_stats
    self._channel_stats[self._visible_channels[ii]] = _compute_channel_stats_from_data(chunk0[ii, :])

IndexError: list index out of range

[2020-01-08 13:36] benefron commented on #288
It is working now perfectly,
Thank you
Ben
I am closing the issue

[2020-01-08 13:36] #288 closed

[2020-01-15 17:05] MarineChap opened #290 "send the sorting step in a separate servor"
Dear,
Except, I am wrong, I did not see any possibility during the spike interface workflow and furthermore to run the spike sorting part in a separate cluster. To run multiple sorter, you need to run it with separate GPU right? How do you manage to do it?

Do you think it could be an interesting feature to be able to send slurm job in a specific cluster when we arrive at this step ? And then, dow

[2020-01-15 17:06] colehurwitz commented on #290
Whoops, I meant to transfer it to spikesorters..

[2020-01-27 15:04] alejoe91 commented on #242
this should be fixed now @colehurwitz

[2020-01-27 15:04] #242 closed

[2020-02-10 14:02] alejoe91 opened #293 "When retrieving CMR traces all channels should be loaded to apply re-referencing"
When CMR is applied and only one or a few channels are retrieved, the CMR should make use of all the channels in the group before returning a subset of channels

[2020-02-16 15:37] benefron opened #295 "Common referencing turns data into 'float64'"
After applying common reference to my data the data is turned from 'int16' to 'float64'.
 Is it necessary?
If not is there a way to change it because it creates a much larger file which takes much longer to run the postprocessing toolkit on especially the export to phy.
Thanks,
Ben

[2020-02-17 08:04] samuelgarcia commented on #295
Hi.
We must change this. It is a non wanted behavior.
Thanks for discovering it.
Sam

[2020-02-17 08:07] benefron commented on #295
no problem.
I did a ad-hock solution for me now and added dtype='int16' for the np.mean but it is a solution just for my data set.
to change the np.median function was too complicated for me. so I am just running everything with average referencing.
Thank you

[2020-02-17 08:22] alejoe91 commented on #295
Hi @benefron
I agree this is unintended if you use 'median', but the mean of int16 can very well be float. Maybe we can Add a dtype to force the output dtype?

[2020-02-17 08:31] benefron commented on #295
That is right.
Maybe add an option also when exporting to phy to choose dtype

[2020-02-17 08:41] samuelgarcia commented on #295
with dtype=None by default that would keep the input dtype.

[2020-02-17 08:57] benefron commented on #295
is there a reason to export to phy in float32 if mt data originally is in int16?
What is the syntex for dtype in export_to_phy if I want to change it?

[2020-02-17 09:06] alejoe91 commented on #295
Export to Phy should not change the dtype. You probably observe this because of the common reference problem. Can you try to export without applying common reference? Then the data should be int16

[2020-02-17 09:08] benefron commented on #295
Yeah I so the code for it.
I will try it with my patch solution,
Thanks

[2020-02-17 12:32] alejoe91 commented on #293
https://github.com/SpikeInterface/spiketoolkit/pull/296

[2020-02-17 12:32] alejoe91 commented on #295
https://github.com/SpikeInterface/spiketoolkit/pull/296

[2020-02-17 12:33] #293 closed

[2020-02-17 12:33] #295 closed

[2020-02-17 12:34] alejoe91 commented on #276
@samuelgarcia can I close this?

[2020-02-17 12:35] alejoe91 commented on #264
I thinkwe should leave it the way it is. The `cache` option gives both behaviors

[2020-02-17 12:35] #264 closed

[2020-02-17 12:37] alejoe91 commented on #247
I believe this is done :) https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/validation/metric_calculator.py#L27

[2020-02-17 12:37] #247 closed

[2020-02-17 12:39] alejoe91 commented on #230
Is this completed? @colehurwitz

[2020-02-17 12:39] #252 closed

[2020-02-17 12:44] colehurwitz commented on #230
In the refactorization PR it is completed.

[2020-02-17 14:43] samuelgarcia commented on #276
I guess yes.

[2020-02-17 15:10] #276 closed

[2020-02-20 09:42] DanBenHa opened #299 "MetricCalculator.compute_pca_scores default variable max_spikes_for_pca should be int"
Hi,

when I do `compute_metrics()` on a MetricCalculator without prior computation of PCA scores, I get a TypeError for slicing because the default value for `max_spikes_for_pca` is a float:
https://github.com/SpikeInterface/spiketoolkit/blob/38f7118c66f3c6bebc16b3464e01648d62e2b54b/spiketoolkit/validation/metric_calculator.py#L243
See #281

I'm not going to make a PR for this, since it can be eas

[2020-02-20 11:31] alejoe91 commented on #299
Hi! This is fixed if you install from master. We will make a new package release very soon :)

[2020-02-20 11:32] alejoe91 commented on #299
Sorry I didn't see it referred to the open PR. Thanks for the suggestion! We'll change that @colehurwitz

[2020-02-20 12:30] DanBenHa opened #300 "AssertionError in compute_unit_pca_scores if max_spikes_per_unit set and save_as_features True"
If I do `MetricCalculator`'s `compute_pca_scores()` with `max_spikes_per_unit=300` and `save_as_features=True` I get an AssertionError in
https://github.com/SpikeInterface/spiketoolkit/blob/38f7118c66f3c6bebc16b3464e01648d62e2b54b/spiketoolkit/postprocessing/postprocessing_tools.py#L632
because of
https://github.com/SpikeInterface/spiketoolkit/blob/38f7118c66f3c6bebc16b3464e01648d62e2b54b/spiketoo

[2020-02-20 15:49] alejoe91 commented on #300
Hi @DanBenHa
Are you using the latest master? I'll look into that. Can you paste some minimal code to reproduce the error? Thanks!

[2020-02-20 16:27] colehurwitz commented on #299
I will change this. Thanks!

[2020-02-20 16:30] colehurwitz commented on #299
In postprocessing, max spikes for PCA is 10000 while for metrics, it is 100,000. Which should be the default. @alejoe91 , maybe we can also give some thought about how parameter dictionaries could be used for postprocessing in a future PR.

[2020-02-21 09:52] alejoe91 commented on #300
@DanBenHa this should fix it https://github.com/SpikeInterface/spiketoolkit/pull/301
Thanks for spotting it! The variable name was changed but not in that loop.

Can you test if it works on your side?

[2020-02-21 12:21] DanBenHa commented on #300
Yes, using f14655b39e580b6baf58008aaa1ca0c6c3b40006 fixes this issue.
Thanks.

[2020-02-21 12:21] #300 closed

[2020-02-21 12:29] DanBenHa opened #302 "MetricCalculator: include PC features if present in SortingExtractor"
Hi,

wouldn't it be nice to use the PC features from a `SortingExtractor` in the `MetricCalculator`?

I have data sorted with Kilosort/Phy and the `SortingExtractor` also reads the PC features. The `MetricCalculator`, however, initialises `self._pc_features` with `None`.

This would also apply to the new `QualityMetric` class in #294

[2020-02-21 12:44] alejoe91 commented on #299
I like that in postprocessing all args are exposed as they are lower level functions. It's easier to document them in the docstring as well :)

[2020-02-21 12:47] colehurwitz commented on #299
Ok, I guess the only problem is that we have to be careful in changing parameter values in two places as they can get out of sync.

[2020-02-21 12:54] colehurwitz commented on #299
Btw, you can get the same effect by doing:

`max_spikes_for_pca=parameter_dict['max_spikes_for_pca']`
vs.
`max_spikes_for_pca=100000`

The parameter will be exposed to the user as 100000 when they read the details of the function. Also, between 10000 vs 100000, which should we do?

[2020-02-21 13:03] alejoe91 commented on #299
Maybe 100000 by default. It doesn't make that much of a time difference for fitting the pca

[2020-02-24 12:12] colehurwitz commented on #302
I see. Yes, this would be nice. I will look into this.

[2020-03-04 09:03] alejoe91 commented on #270
I think that the best option would be to create memmap objects for waveforms and pca scores. This would allow to reduce dramatically RAM usage and export in chunks as well.

@colehurwitz what do you think? It's a big refractoring but I think it'll make things easier in the future.

In the `BaseSorter` extractor we could have a `self._tmp_folder` in which we can dump all temporary files. At deletio

[2020-03-04 11:18] colehurwitz commented on #270
Why do they need to be objects? Could they be memmaped numpy arrays or something?

[2020-03-04 11:39] alejoe91 commented on #270
Yes that's what I meant (memmap array are actually objects!) No need to make new classes

[2020-03-25 11:12] llobetv opened #306 "default max_spikes_per_unit is inf"
Hi guys,

I try convert MS4 data to phy with your interface but I encounter a big issue, each time my memory was overload...
I check export_to_phy function and it appear that default value for max_spikes_per_unit is set to infinite and their is no way to change it...
Maybe you could add this variable in export_to_phy function?

Best regards,
Victor

[2020-03-25 11:17] alejoe91 commented on #306
HI Victor,

For exporting to phy, you need to compute pca_scores for all waveforms, so that parameter cannot be changed.
Are you using the master branch? I recently added an option (true by default) that creates memmap objects for all waveforms, so they don't get loaded to memory.

How long are your recordings and how many channels?

Cheers
Alessio

[2020-03-25 13:36] mhhennig commented on #306
Also, could you show the code you use for this? I suspect the memmapping may not yet work in all cases...

[2020-03-26 10:40] llobetv commented on #306
Hi,

I used dev branch of spikeInterface so it should be on date
I record 30mn with 64 channels (and some unit with 200000 events)

Here my code:

#####################################################################
from spikeinterface import extractors as se
from spikeinterface import toolkit as st

import numpy as np
import os

import pdb

verbose=True
#change tempdir of mountainSort
os.environ

[2020-03-26 10:58] alejoe91 commented on #306
Hi @llobetv

The dev branch is not up-to-date. We should just remove it as it makes things confusing. In order to get the latest updates, you should install all packages from sources.

I think that Phy needs pca values, but I can double check! The ms_before and after are used for waveforms, and the waveforms are then used for pca. Try the master branches of spiketoolkit. It should fix the memory p

[2020-03-26 11:48] llobetv commented on #306
I misspoked, I install my version from source and I have still memory issue (90 Gb for waveform extraction).
For waveforms you're right, but then it would be nice to be able to plot longer waveform on phy that the one use for pca?

[2020-03-26 11:57] alejoe91 commented on #306
Do you first compute waveforms and then export to phy?
In that case you have to set the `memmap` argument of the `get_unit_waveforms` to True.
Memmap is set to True by default in the `export_to_phy` (see [here](https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/postprocessing/postprocessing_tools.py#L847))

I think that this is not a common use case. Usually you would want to

[2020-03-26 12:47] llobetv commented on #306
OK I just found the issue, if I install spiketoolkit with spikeinterface it install the version without memmap, I have to install it directly from spiketoolkit source.
I'll test and let you know.

For waveforms, It could be usefull to see full shape of spike for particular usage, even if pca are done in shorter waveform. I got spike with 10ms duration (complex spike of Purkinje cell) and it's simp

[2020-03-26 13:23] alejoe91 commented on #306
Glad to hear you found the issue! I changed the README of the `spikeinterface` package to make it clearer.

I see your point here. On the other hand if you have complex spike features over long spike durations, I think there is no harm in computing pca scores useing the entire waveform. This might also help find slight differences in the feature view as well. So I would recommend setting longer `m

[2020-03-26 14:49] llobetv commented on #306
Well it took 100 Gb to extract all wavefom for 2.5ms so would be 400 Gb if I ask for 10ms, which is quite big when template need only sub part of unit.

Otherwise everything work pretty well !
I remove pc feature to check and phy is opening, just without pc view. I still think it's an usefull option, for fast manual curring (only merge and check quality unit their is no need of pca).

The last thi

[2020-03-28 14:18] llobetv commented on #306
Just one thing, I needed to ad this line to make it work (my tmp directory is too small): sorting_MS4.set_tmp_folder(tmp + "/tmp")

[2020-03-28 14:43] llobetv commented on #306
One last thing,
I'm not sure but it appear that all channels are extract for pca calculation? (maybe i'm wrong).
Considering the amount of data produce for 64 ch it would definitly be an issue for larger dataset, and also increase the duration of calculation when you can only extract a subpart of the channels (max_channels_per_template).

One more times, thanks for your help,
Best,
Victor

[2020-03-30 10:05] llobetv opened #310 "Similarity score for distant unit"
Hi guys,

I've got an issue with similarity score, it gives really big value between units that are far away.

Maybe their is a way to set similarity score to 0 for far away unit or scale similarity score based on amplitude difference on best channels?

Best,
Victor

[2020-03-30 10:11] alejoe91 commented on #310
Hi @llobetv

This is definitely a bug! I think that is because similarity is computed ignoring the different locations of the templates. I'll fix that immediately! Thanks for spotting it. :)

Alessio

[2020-03-30 10:16] alejoe91 commented on #306
Hi @llobetv

RAM or disk usage?

I can implement that, but it's a bit convoluted, so I might need a couple of days :)

That should not be the case. You can see [here](https://github.com/SpikeInterface/spiketoolkit/blob/master/spiketoolkit/postprocessing/postprocessing_tools.py#L1109-L1133) that waveforms are computed on the `max_channels` and passed along to the `compute_unit_pca_scores` (as `_wav

[2020-03-30 12:29] llobetv commented on #310
Thanks :)

[2020-03-30 13:40] llobetv commented on #306
Disk usage, but i don't know why I update it a third time and now size is ok, so their is no pb anymore...

It would be perfect, there is no need to rush everything work well without it.

You are right I was looking the old script one more time... (i  exctracted it from compress file to check it and I forget to do it again when I upgrade spiketoolkit...),

So maybe this is why similarity is big fo

[2020-03-30 13:46] alejoe91 commented on #306
I'll make a PR on similarity in 2 minutes

[2020-03-30 13:53] alejoe91 commented on #310
@llobetv you can test this [PR](https://github.com/SpikeInterface/spiketoolkit/pull/312)

Basically I use only shared channels of the templates and I weighted the similarity score by the proportion of shared channels over the total template_ind.

Let me know if it gives reasonable results on your side

[2020-03-30 13:54] alejoe91 commented on #306
https://github.com/SpikeInterface/spiketoolkit/pull/312

[2020-03-30 15:16] alejoe91 commented on #310
is it working on your side? I implemented to optional PCA export as well. Waiting for that PR to be merged before creating a new one

[2020-03-30 19:22] llobetv commented on #310
I try but a new error  happened link to spikeexctractor, i hadn't time to go deeper in that today... , I'll check tomorrow morning and I will keep you informed

[2020-03-30 19:23] alejoe91 commented on #310
you should pull the latest master form spikeextractors too. I'll make a new release of all packages tomorrow

[2020-03-30 19:23] alejoe91 commented on #310
I'll merge this as it works on my side :)

[2020-03-31 12:14] llobetv opened #314 "Waveform extraction - Bus error"
There is a bug in export_to_phy function:

(spikeinterface) llobet@nspc28:/mnt/ssd/spikeinterface_test$ python launch_spikeinterface.py
Waveform 1/227
Waveform 2/227
Waveform 3/227
Waveform 4/227
Waveform 5/227
Waveform 6/227
Bus error

And when I check tmp file .raw file are not create anymore...

Here my  code:

class spikeInterfaceClass():
    """
    check https://spikeinterface.readthedocs.io

[2020-03-31 12:22] alejoe91 commented on #314
Hi @llobetv

I think the proble could be that the tmp folder is full given all crashes. Can you try deleting all the folders starting with tmp?

[2020-03-31 12:31] alejoe91 commented on #314
did you check the `/mnt/hdd/mountainlab/mountainlab/` folder and saw no .raw files there?

[2020-03-31 12:34] llobetv commented on #314
yes I check and their was nothing

[2020-03-31 12:36] alejoe91 commented on #314
ok. Can you add this line before you call the `export_to_phy`:

`print(sorting_MS4.get_tmp_folder()`

Just to make sure it is correct.

[2020-03-31 13:25] llobetv commented on #314
It's correct

[2020-03-31 13:38] llobetv commented on #314
I'll check manually with pdb where file are saved

[2020-03-31 13:47] llobetv commented on #314
It appear that manual tmp directory is remove in _extract_waveforms_one_unit:
sorting object is set to dict l.106 and then back to sorting object l.1367 .
At this point sorting.get_tmp_folder() return default value '/tmp/tmpkf9ancyo'

[2020-03-31 13:51] llobetv commented on #314
and finally waveform are saved int /tmp directory which is too small in my cases

[2020-03-31 13:53] alejoe91 commented on #314
great catch!!! will fix that. I can pre-allocate memmapped arrays like it's done when n_jobs>1 :)
Thanks for looking into this. I'll make a PR by the end of the day

[2020-03-31 16:04] alejoe91 commented on #306
implemented

[2020-03-31 16:04] #306 closed

[2020-03-31 16:04] alejoe91 commented on #310
fixed

[2020-03-31 16:04] #310 closed

[2020-03-31 16:04] alejoe91 commented on #270
implemented

[2020-03-31 16:04] #270 closed

[2020-03-31 16:05] #230 closed

[2020-03-31 16:05] alejoe91 commented on #248
Added joblib processing and memmap backend. should speed up computations. Closing for now

[2020-03-31 16:05] #248 closed

[2020-03-31 16:06] alejoe91 commented on #107
done for waveforms (which is the heavy part)

[2020-03-31 16:06] #107 closed

[2020-03-31 16:06] alejoe91 commented on #299
fixed

[2020-03-31 16:06] #299 closed

[2020-04-01 09:39] llobetv commented on #314
The issue is solved with new PR

[2020-04-01 09:44] llobetv opened #317 "export_to_phy ValueError: feature values should have the same length as the spike train"
Hi :)
There a new bug appear in pr #315 . It seems that only a subpart of waform is exctract even if pca feature is True

Traceback (most recent call last):
  File "spikeinterface_class.py", line 220, in <module>
    if not os.path.isdir(tmp + "/tmp"):
  File "spikeinterface_class.py", line 97, in run_ms
    st.postprocessing.export_to_phy(recording_prb, sorting_MS4,
  File "/users/nsr/llobet/mini

[2020-04-01 09:46] alejoe91 commented on #317
Hi! do you mean that all waveforms files are the same? waveforms_0.raw, waveforms_1.raw ...etc?

[2020-04-01 09:47] alejoe91 commented on #317
It seems that the error os raised by amplitudes, not waveforms. I'll have a look

[2020-04-01 09:51] llobetv commented on #317
I make an error, I edit my comment. I have the fealing that even with extract_pc_features True there is only subpart of waveform exctracted

[2020-04-01 09:53] llobetv commented on #317
Plus if pc are not exctracted this line doesn't work:
save_property_or_features=save_property_or_features, peak=amp_peak,
max_spikes_per_unit=max_spikes_for_amplitudes,
frames_before=amp_frames_before, frames_after=amp_frames_after,
seed=seed, memmap=memmap, return_idxs=True)

and also give the same error as before

[2020-04-01 09:53] alejoe91 commented on #317
I see what the problem is. amplitudes should always be extracted for all spikes

[2020-04-01 09:59] alejoe91 commented on #317
Fixing it in the current PR

[2020-04-01 10:38] alejoe91 commented on #317
@llobetv it should all be fixed in https://github.com/SpikeInterface/spiketoolkit/pull/315

Note that you have to pull the latest master branch in spikeextraxtors in order for it to work. Let me know if that fixes the issue/s

[2020-04-01 11:38] llobetv opened #318 "export_to_phy - TypeError: set_unit_spike_features() got an unexpected keyword argument 'indexes'"
I got this error if I set compute_pc_features as false:
Traceback (most recent call last):
  File "spikeinterface_class.py", line 291, in <module>
    si.run_ms(file_path, prb_file, ms4_params, numchan, sampling_frequency,
  File "spikeinterface_class.py", line 97, in run_ms
    st.postprocessing.export_to_phy(recording_prb, sorting_MS4,
  File "/users/nsr/llobet/miniconda2/envs/spikeinterface/lib

[2020-04-01 11:47] alejoe91 commented on #318
You should pull spikeextractors

[2020-04-01 11:47] alejoe91 commented on #318
https://github.com/SpikeInterface/spiketoolkit/issues/317#issuecomment-607172809

[2020-04-01 11:48] llobetv commented on #317
Now I got this:

Traceback (most recent call last):
  File "spikeinterface_class.py", line 291, in <module>
    si.run_ms(file_path, prb_file, ms4_params, numchan, sampling_frequency,
  File "spikeinterface_class.py", line 97, in run_ms
    st.postprocessing.export_to_phy(recording_prb, sorting_MS4,
  File "/users/nsr/llobet/miniconda2/envs/spikeinterface/lib/python3.8/site-packages/spiketoolkit-0

[2020-04-01 12:04] #318 closed

[2020-04-01 12:04] alejoe91 commented on #317
Found the bug :) I had to swap axes! Check it now! And thanks again for the testing

[2020-04-01 12:16] #314 closed

[2020-04-01 12:21] llobetv commented on #317
It works perfectly now :)

[2020-04-01 12:40] #317 closed

[2020-04-01 12:40] alejoe91 commented on #318
Then I'll make some final fixes and merge. Thanks again for helping for the tests :)

[2020-04-02 08:35] llobetv opened #319 "export_to_phy, params.py dat_path"
Hi :)
Just a small comment,
by default dat_path in params.py take absolute (/mnt/ssd/spikeinterface_test/data/2020_01_01_test_US_4_64_30kHz/analysis/phy/recording.dat in my case) path in export_to_phy function. So when you move your phy directory it doesn't find it anymore and you have to change it manually.

One thing that could be done easely is to set relative path for dat_path, and just set it

[2020-04-02 08:37] alejoe91 commented on #319
Hi Victor! Can you test if it works when you launch Phy from another directory? In that case I agree it's a good idea :)

[2020-04-02 08:48] llobetv commented on #319
Yep it works

[2020-04-02 08:49] alejoe91 commented on #319
Sweet! Do you want to make a PR?

[2020-04-02 09:08] llobetv commented on #319
Yep I can, I never did that but it would be nice to learn

[2020-04-02 09:09] alejoe91 commented on #319
Then give it a try :) it's easy: fork, make changes, push, open a PR

[2020-04-02 09:25] llobetv commented on #319
Ok I'll try this!

[2020-04-03 09:36] llobetv commented on #319
#320

[2020-04-03 09:36] #319 closed

[2020-04-05 09:00] banchan86 opened #321 "Recursive loading in export to phy, st.get_unit_waveforms, sw.plot_unit_waveforms, others maybe"
Hi all

Upon running this command

[code]

it gets stuck in a loop till it fails with a memory error:
[code]
This didn't happen before with an old version of the st toolkit=0.5.2.

recording_cmr is a OpenEphys recording that has been median filtered with st.preprocessing.common_reference and sorting_KL_all is a se.SpykingCircusSortingExtractor

[2020-04-05 09:49] alejoe91 commented on #321
Hi @banchan86
Thanks for the issue. Can you try to figure out where it hangs? I don't recall any while loop in the code.. if you ctrl+c, where does it stop?

[2020-04-05 17:36] banchan86 commented on #321
I have reduced the code to 4 lines skipping the preprocessing steps and it still loops. Could this be a problem with the OpenEphysRecordingExtractor? although other steps seem to work fine, the loop only comes in export to phy

[code]
If i ctrl+c i think it just stops during loading, theres no indication it ever goes beyond that but heres the traceback

--------------------------------------------

[2020-04-05 18:01] banchan86 commented on #321
ok hang on running it from a python script clears it so it must be something with Jupyter notebook caching the output from a previous run and the offending line is somewhere else

[2020-04-05 20:50] banchan86 commented on #321
ok seems like the issue isn't with the export to phy its with the sorting extractor as trying to plot the unit waveforms itself triggers this file loading recursivity (that seems to stop after 4-5 loops so not exactly a while loop). ill investigate further before making an issue in that repository

[2020-04-06 07:11] banchan86 commented on #321
ok i think i figured out what the problem is

at least for st.get_unit_waveforms and sw.plot_unit_waveforms, the recursive loading occurs for every unit_id that is retrieved. is that intended behaviour?

for instance running st.postprocessing.get_unit_waveforms(recording_cmr, sorting_KL_all, unit_ids  = range(3) will load the recording 3 times (i know this because theres a statement for "Automatic

[2020-04-06 07:47] alejoe91 commented on #321
Hi @banchan86

Here is what's happening. In order to allow for parallel processing, the recording is serialized and passed to the function that extract waveforms. Inside the function, the recording is re-instantiated and this is very time comsuming fotr the OpenEphys extractor (using the open ephys format -- I highly recommend switching to the binary format which is much more efficient).

So this

[2020-04-06 08:18] banchan86 commented on #321
Ok thanks alessio I will try it out!
So just have one question do i need to convert the OpenEphys recording extractor object to binary first before using CacheRecording Extractor?

[2020-04-06 09:07] alejoe91 commented on #321
Nope! It takes any recording extractor. It just dumps the traces, whatever they are :)

[2020-04-07 05:19] banchan86 commented on #321
thanks works beautifully :)

[2020-04-07 05:19] #321 closed

[2020-04-07 18:18] TRuikes opened #323 "validation.compute_metrics fails when specifying unit_ids"
When giving a list of unit ID's to 'compute_metrics' , the function can break:

[code]

Due to `metrics.calculate_firing_rate_and_spikes` not taking 'unit_ids' as input, and assuming it should loop over all unique values in the proved `spike_clusters`.

[code]

[2020-04-07 18:24] alejoe91 commented on #323
Hi @TRuikes
Thanks for reporting this.

@colehurwitz can you take care of this?

[2020-04-07 18:24] colehurwitz commented on #323
Yeah, I was looking into reproducing this just now.

[2020-04-07 18:58] TRuikes commented on #323
thanks

[2020-04-07 19:51] colehurwitz commented on #323
I think this new PR should fix the bug. The metrics have to run over all the units and then pick out the units that were specified by the user. We were setting the total units to be the wrong value though which was causing an issue in the metric loops.

[2020-04-07 19:53] colehurwitz commented on #323
Note for @alejoe91 , it would be nice if we could only compute the metrics on the specified units, but that will only work for some metrics (silhouette score needs to compute pairs for example). Firing rate is one where we could do it on the given units... but we need to think about if we only want to implement it for some metrics.

[2020-04-07 19:59] colehurwitz commented on #323
@TRuikes if you want to give the PR a try, I think it should fix the problem.

[2020-04-07 21:27] TRuikes commented on #323
works! I don't know how heavy the computations for all metrics are, but we've used Isolation Distance mostly, and that one can take up some load. Further we are using low threshold for detection, meaning we have multiple noise clusters (say 20) vs true clusters (~5), so in our current pipeline we save quite a lot of time by not computing Iso dist for all clusters. This is why I think only computin

[2020-04-07 21:29] alejoe91 commented on #323
I agree that it should be possible to pass a subset of units. Note that for now you could also build a SubSortingExtractor and filter out the good units only!

[2020-04-07 21:39] colehurwitz commented on #323
I think those are some good suggestions. I can look into:

1. Computing metrics on a subset... I have an idea for that.
2. Printing valid names is good idea.
3. I will figure out that bug about not passing in the recording. Seems like it should be a quick fix.

[2020-04-07 21:56] colehurwitz commented on #323
I will make new issues for these and close this one.

[2020-04-07 21:56] #323 closed

[2020-04-07 21:57] colehurwitz opened #325 "Allow for computing metrics on a subset of units"
Currently, the metrics are computed on all the units and then we take a subset of units. It would be nice if we could only compute the metrics on the specified subset of units.

[2020-04-07 21:58] colehurwitz opened #326 "Print valid names of metrics when incorrect name given."
Suggested by @TRuikes

[2020-04-07 21:59] colehurwitz opened #327 "Fix bug when no recording passed to compute metrics."

[2020-04-07 22:28] #326 closed

[2020-04-07 22:29] colehurwitz commented on #327
Fixed in PR

[2020-04-07 22:29] #327 closed

[2020-04-09 10:19] alejoe91 opened #331 "Return dictionary as default for `compute_metrics`"
Now the compute metrics returns a list of lists and it's impossible toknow the order of the metrics.

We should return a dictionary by default (and we could have a `as_dataframe` arg to return a pandas object)

[2020-04-14 19:13] alejoe91 commented on #255
https://github.com/SpikeInterface/spiketoolkit/pull/334

[2020-04-15 14:28] llobetv opened #336 "compute isi violation"
Hi,
I encounter issues using  compute_isi_violations function. I found some abherant values...

If I set min_isi to 0.0005 (which is min of isi value take into account?) and isi_threshold to 0.001 (which is max of isi value take into account?, the doc is not absolutly clear about that but this is the more logical) I got 0.7 for this unit:
![image](https://user-images.githubusercontent.com/22896067

[2020-04-15 14:32] alejoe91 commented on #336
Hi Victor,

@colehurwitz should be able to answer that! We are in the process of updating the docs about that, so sorry about the confusion!

Cheers,
Alessio

[2020-04-15 16:13] colehurwitz commented on #336
I will look into this

[2020-04-15 16:53] colehurwitz commented on #336
So I figured out the issue:

`min_isi` sets a threshold for the duplicate spikes (any refractory period violation smaller than this is not taken into account for the isi score).

`isi_threshold`  is the actual isi violation threshold that contributes to the isi violation output.

So min_isi can't be smaller than isi_threshold or strange behaviour will happen. We can enforce this in the function I

[2020-04-15 17:10] colehurwitz commented on #336
It looks like there is a recently introduced bug in isi_violations:

[code]

As can be seen, the isis are calculated before duplicate spikes (determined by min_isi) are removed. So it looks like min_isi is being ignored in the calculation. I can make a PR for this.

[2020-04-15 19:33] alejoe91 commented on #336
Also maybe @jsiegle can provide some input!

[2020-04-15 19:42] jsiegle commented on #336
Cole's fix is correct—the ISIs need to be re-computed after deleting duplicate spikes.

[2020-04-15 20:00] alejoe91 commented on #336
Thanks @jsiegle

Another thing: why is the default [min_isi=0.000166](https://github.com/AllenInstitute/ecephys_spike_sorting/blob/a073e3b6bae18286c4afedd084100ba1ae59cb9a/ecephys_spike_sorting/scripts/create_input_json.py#L171)? Shouldn't it be half of the sampling frequency?
In that case it's missing a 0 (it should be 16.6 us ~ 1 / 30kHz *0.5 = 0.0000166)

[2020-04-16 22:26] colehurwitz commented on #336
Hey @llobetv , would you mind posting your isi violation function so we can compare?

[2020-04-16 22:43] jsiegle commented on #336
Hi @alejoe91, in the `ecephys_spike_sorting` repo, the 0.000166 min ISI value reflects the fact that there's a step prior to computing the metrics that removes putative double-counted spikes within that window. In the case of `spikemetrics`, there should indeed be another zero added.

[2020-04-17 08:21] alejoe91 commented on #336
Thanks @jsiegle

Than I'll change it to `1 / fs * 0.5`!

[2020-04-17 10:29] llobetv commented on #336
Here my code:
[code]

[2020-04-17 10:46] alejoe91 commented on #336
Ok, I see there are 2 discrepancies in the code.

1. In [our implementation ](https://github.com/SpikeInterface/spikemetrics/blob/f47bef947a7ef254278c14b7093d82429f9a7eb9/spikemetrics/metrics.py#L494)the `violation_time` is multiplied by 2. @jsiegle can you clarify why is it so?

2. We use min_time and max_time to compute [total firing rate](https://github.com/SpikeInterface/spikemetrics/blob/f47b

[2020-04-17 12:15] llobetv opened #337 "get_unit_waveforms memory consuption depend of n_jobs"
Hi,

I don't understand exactly why but if I call get_unit_waveforms from postprocessing with n_jobs > 1 I get an increased of the memory consumption proportional to n_jobs. Even if I ask to exctract a really small number of waveform.
With n_jobs=6, number of waveform=100 and 64 channels it takes more than 16 Gb of RAM

If n_jobs=1 their is no increased of memory consumption.

Cheer,
Victor

[2020-04-17 12:34] alejoe91 commented on #337
HI Victor,

Can you make sure you have the latest master for both spikeextraxtors and spiketoolkit?
The `memmap` option should be enabled by default.

What is your extractor type? This might affect the performance as well.

Cheers,
Alessio

[2020-04-17 12:56] llobetv commented on #337
memap is True and I try after uptate and it is still the same.
I used phy exctractor.

[2020-04-17 13:01] llobetv commented on #337
And  files created in tmp are 800 ko so I don't see how it could consume so much memory

[2020-04-17 13:16] alejoe91 commented on #337
The recording extractor is PhyRecordingExtractor or the sorting one?

[2020-04-17 14:01] llobetv commented on #337
my bad, it's the sorting one, the recording one is BinDatRecordingExtractor

[2020-04-17 14:38] alejoe91 commented on #337
Then it's really strange, unless the spike trains are very populated. Let me try to explain better: to get waveforms, first we have to load the waveforms in memory and dump them to the memmap file. Now, if you have several jobs, this is done in parallel for each job..it's still very strange that you get such a high RAM usage. I would expect a RAM usage of around: 6 * 100 * 64 * 150 (samples) * 4 (

[2020-04-17 17:43] jsiegle commented on #336
The 2x multiplier accounts for the fact that the potential window for ISI violations extends both before and after each spike.

[2020-04-17 18:53] colehurwitz commented on #336
The x2 makes sense as @jsiegle mentioned and it shows up in the original papers/implementations.

I can pass in recording duration as a param,  but we don’t need a recording to compute isi_violations so I think that should be optional.

[2020-04-18 12:54] llobetv commented on #336
The 2x multiplier would be only if you count both widows before and after each spikes but here you use np.diff() so you take only window after each spike, not the one before.
So you have to remove it.

I try your function and mine on real datas and for the next unit your algo found 0.56 and mine 1.11:
![image](https://user-images.githubusercontent.com/22896067/79638126-3a2e4b00-8184-11ea-897b-47e9

[2020-04-18 13:17] llobetv commented on #337
I install it from master.
I  agree with you but here each core add around 1.6Go, and if I increased max_spikes_per_unit to 1000 it doesn't change so much thing.

[2020-04-18 13:20] alejoe91 commented on #337
Can you paste here a short script that reproduces it? I'll look into it and try to replicate it

[2020-04-18 13:43] llobetv commented on #337
The issue is link to the size of the .dat file, 7.2Go give me really big increase per n_job (1.6Go) and 580 Mo give me small increase (0.24Go)

[code]

[2020-04-18 13:50] llobetv commented on #337
which is exactly what you expected as memory consumption

[2020-04-18 13:58] alejoe91 commented on #337
How many cpus do you have? Is n_jobs < n_cpus? do you get 3.2 if you use n_jobs=2?

[2020-04-18 14:18] alejoe91 commented on #337
@llobetv I think the problem comes from the joblib backend.

The default is `loky`, but somehow it fails at closing the jobs and it causes an increase in memory consumption

![image](https://user-images.githubusercontent.com/17097257/79640048-b67a5b80-818f-11ea-9a92-93558a861c75.png)

When I use `threading`  as backend, the memory consumption is nearly 0 and jobs are properly handled. Can you try

[2020-04-18 16:11] llobetv commented on #337
I have 8 logic cores, on Ubuntu 18.04.

When i change n_jobs from 1 to 2 and 2 to 3 , memory consumption increase each time of 1.6go

I change thease lines but it didn't solve the issue.

[2020-04-20 06:41] samuelgarcia commented on #337
Hi all.
I read this very fastky but if you have 10 worker in 10 processes then then file will be open 10 times and the OS will create 10 cache (because memmap) for this file. As the job is very veryr io cosumming (random acces to get small snippet) then cache can be important.

Using the threading, as do @alejoe91 do open 1 file and so one cache but it will not speedup the global process.

Note th

[2020-04-20 12:15] Dradeliomecus opened #339 "postprocessing.export_to_phy uses an absurd amount of memory"
Hi,

I have a phy folder containing about 7GB a data (30 min, 64 channels, 30 kHz).

I am trying to write a code to remove duplicated spikes, here is the following code:

[code]

When I run this code, when reaching `export_to_phy`, bit runs for about a minute without using a lot of memory (it seems to be copying the data file during this time). Then suddendly, the RAM usage increases over time, an

[2020-04-20 12:23] alejoe91 commented on #339
Hi @Dradeliomecus

Can you make sure you are using the master version? we are currently making a lot of updates (same for spikeextractors), but we should be almost done.

What OS are you using? Whats is the terminal output using verbose=True?

[2020-04-20 12:34] Dradeliomecus commented on #339
I am using the master branch version, updated this morning.
I am using Ubuntu 18.04.4 LTS.

The output when `verbose = True` is :
[code]

[2020-04-20 12:37] alejoe91 commented on #339
Ok let me try to replicate this. It might be due to the `PhySortingExtractor`. In the meanwhile can you try to see if this PR https://github.com/SpikeInterface/spiketoolkit/pull/340 solves the memory issue (using the same args).

[2020-04-20 12:47] Dradeliomecus commented on #339
I did:
[code]

I hope this is what you meant.
It didn't solve the issue.

[2020-04-20 14:41] llobetv commented on #339
Hi :) ,
I'm working with Dradeliomecus.
I have the same issue, which disapear when n_jobs>1.
I try your update but it didn't solve memory consumption, but it solve an other issue that I encounter when we try to remove duplicate spikes and then export to phy (and that also wasn't present with n_jobs>1)

[2020-04-20 14:52] alejoe91 commented on #339
Hi @llobetv

How do you guys remove duplicate spikes? Maybe that actually can contribute to the issue in the way the recording and sorting are 'passed' to the extract wavefirn function

[2020-04-20 14:58] Dradeliomecus commented on #339
Here is the complete code:

[code]

[2020-04-20 15:00] alejoe91 commented on #339
Do you get the same bug if you don't run the remove duplicate code?

[2020-04-20 15:05] Dradeliomecus commented on #339
Removing the for loop still yields to the same problem.

[2020-04-20 15:29] alejoe91 commented on #339
Ok I'll look into it!

BTW, you should not set spiketrains like this: `sorting._spiketrains`.
The changes otherwise will note be considered if you use get_waveforms. THis is because with joblib the recording and sorting objects are *dumped* to a dictionare and they are re-initialized inside each job. So if you make in-memory changes they won't be considered. A workaround would be to save the sorti

[2020-04-20 15:43] alejoe91 commented on #339
Mmm I can't reproduce the error using the same extractors.. maybe you guys could share a zip file with your data by email?

[2020-04-20 15:45] Dradeliomecus commented on #339
Alright thanks !

Yes I know I shouldn't change a variable that start with an underscore, but I didn't find any method so remove spikes by their index.

I tried to save the sorting using PhySortingExtractor.write_sorting, but as you told me it shouldn't be used.
I'm gonna look at the NpzSortingExtractor, thank you for the tip!

[2020-04-20 15:46] alejoe91 commented on #339
I guess the issue is that the changes where not propagated. That happens because of what I described above!

[2020-04-20 15:51] alejoe91 commented on #339
BTW, do you get the same bug if you set `memmap` to `False`? Just trying to figure out why this happens. The implementation looks should be the exact same regardless of n_jobs

[2020-04-20 15:57] alejoe91 commented on #337
@llobetv can you try to avoid passing the `PhySortingExtractor`?

You can dump it to npz and pass the npz instead:
[code]

I think that the problem could that the `PhySortingExtractor` loads several things (like amplitudes, pc_features...). The joblib mechanism re-loads the extractors in each jobs, and that could explaint at least in part the memory issue

[2020-04-20 15:59] Dradeliomecus commented on #339
Yes, the same bug happens if I set `memmap` to `False`.

I am sending you the data folder to your gmail account (the one listed in your profile).

[2020-04-20 16:15] alejoe91 commented on #336
@jsiegle I think that @llobetv makes a good point here. What do you think?

[2020-04-21 08:41] llobetv commented on #337
Hi @alejoe91,

It solve the issue.

You're last pull request that remove dump when n_jobs=1 also increase a lot the speed with phy sorting and n_jobs=1. (As you say .dump() generate probably load for each waveform exctraction)

[2020-04-21 08:59] alejoe91 commented on #339
I found the problem. You have a very populated spiketrain 0 (283303 spikes). The length of each snippet (waveform) is 180 and you have 64 channels. There was a problem in `spikeextractors.get_snippet()`. Basically a large array is initialized and then populated with snippets, but we did not initialize the `dtype`. So it was effectively creating a `float64` array, whit size:

283303 * 180 * 64 * 8

[2020-04-21 09:39] Dradeliomecus commented on #339
It's running and working!
Since I have a lot of spikes it seems to take a while (about an hour or two) but now I don't have the memory error!

I might change some parameters to make the process faster (like length of waveform, n_jobs ...).

Thank you very much!

[2020-04-21 09:39] #339 closed

[2020-04-21 10:57] alejoe91 commented on #339
Thank you for spotting this! Not an easy one to find ;)

[2020-04-21 12:56] Dradeliomecus commented on #339
So I changed the last line of my code to:
`st.postprocessing.export_to_phy(recording, sorting, output_folder=save_folder, verbose=True, n_jobs=2, ms_before=3, ms_after=4, compute_pc_features=False, max_spikes_per_unit=2000, recompute_info=False, memmap=True)`
(with `n_jobs` to 1 or to 2)

Now it runs pretty quickly (5-10 min) and it correctly works exports all the data with the removed duplicates.

[2020-04-21 13:11] alejoe91 commented on #339
So if you change the _spiketrains without dumping the extractor, the changes are not bound to a file. Therefore, if n_jobs>1, the changes to the spiketrains are not kept, as the extractor is reloaded from the file in each subprocess (so the duplicates are not removed).

[2020-04-21 13:21] Dradeliomecus commented on #339
Well I ran my code with `n_jobs=2` and the duplicates were actually removed.

Maybe it's not supposed to do that, but it does ^^

[2020-04-21 13:36] alejoe91 commented on #339
Without saving to `NpzSortingExtractor`? I find it very strange, because in the subprocess the sorting is reloaded and it loses any info about the underlying _spiketrains

[2020-04-21 14:24] Dradeliomecus commented on #339
Yers without `NpzSortingExtractor` begin run. Here is the entire code:

[code]

It removes very few spikes, but only the ones very close to each other (checked with the cross-correlogram).

I did it with the very same dataset I sent you yesterday, you can check it yourself if you want (unit 151 has 234,166 spikes before running the function, and after it becomes unit 115 with 234,092 spikes).

[2020-04-21 14:32] alejoe91 commented on #339
I'll try!

Just to be sure, these numbers:

 are from the phy GUI?

Of course if you are in the same sessions the changes will hold (because you still have the `sorting` object). What I'm saying, is that the waveforms are extracted by subsampling all waveforms (not excluding the duplicates). If you do not set `max_spikes_per_unit`, this might lead to an error as there will be a mismatch between th

[2020-04-21 14:51] Dradeliomecus commented on #339
Ah yes, they come from the phy GUI.
And yes, not setting `max_spikes_per_unit` returns an error because 2 arrays are of different sizes.

I'm trying to understand how `CacheSortingExtractor` and `CurationSortingExtractor` work.
Do I need to export `sort_cache` or `sorting` with `export_to_phy()`?

[2020-04-21 14:54] alejoe91 commented on #339
You need to use `sort_cache`, which is a new `SortingExtractor`.

Caching basically just makes a copy of the current object and saves it to npz. It's what I suggested before, but a bit nicer :)

The CurationSortingExtractor is a bit more complicated and not documented. We could add a remove duplicates in the `curation` module that does that automatically. Maybe @colehurwitz can do it?

[2020-04-21 14:56] Dradeliomecus commented on #339
Ok I get it.

Thank you very much for all the help!

[2020-04-21 15:08] alejoe91 commented on #337
@llobetv note that now you can also use `sorting_cache = se.CacheSortingExtractor(sorting)` (which automatically saves the sorting to npz).

I'll close this then!

[2020-04-21 15:08] #337 closed

[2020-04-21 23:33] yarikoptic opened #342 "IndexError: index 12 is out of bounds for axis 0 with size 12"
Look how far I got myself into ;-)

anyways, trying to export my precious clustering results into `phy` format:
[code]
This is a bleeding edge spiketoolkit (0.6.1-41-gffb4c2e, I believe with released 0.6.1 I had somewhat different exception).

Full ipython notebook: https://github.com/vandermeerlab/data-formats/blob/893dcb7641a4980527bac54e3e7af6dd49c5ce28/yoh_try_spikeinterfaces.ipynb

Full data

[2020-04-22 07:11] alejoe91 commented on #342
Nice job! I'll look into it :) thanks for sharing the data and the code, makes my life easier eheheh

[2020-04-22 14:30] alejoe91 commented on #342
HI @yarikoptic

Your notebook should run now after:
- https://github.com/SpikeInterface/spiketoolkit/pull/343

And for neo extractors and locations:
- https://github.com/SpikeInterface/spikeextractors/pull/377
- https://github.com/SpikeInterface/spikeextractors/pull/376
- https://github.com/SpikeInterface/spikeextractors/pull/375

Now you're ready to spike sort the hell out of it! :)

PS. what kin

[2020-04-22 16:11] colehurwitz commented on #336
@alejoe91 and I discussed the window in isi_violations and we still think that the x2 multiplier is necessary for the computation when using `np.diff`:

For an example with arbitrary units:

[code]
So using `np.diff` will actually take into account the window before and after the spikes by default.

[2020-04-22 16:28] yarikoptic commented on #342
woohoo! Thank you @alejoe91 -- I will check it out later.

I believe it was some small test recording, also as you saw I had done no parameters selection or preprocessing, so bad results might be not surprising.  I will leave to @mvdm , who collected and generously shared the data, to comment more on the nature of data ;)  I guess things should improve when we get to real recordings of interest.

[2020-04-22 16:29] yarikoptic commented on #342
I would love to see release(s) with those fixes, but let me first test drive things more -- I bet my trouble-magnet will attract more issues ;)

[2020-04-22 16:32] alejoe91 commented on #342
The sampling rate is 2 kHz! We are also looking into concensus based vs manual curation for the spikeinterface paper. Will let you know our preliminary results, but it looks promising! :)

I'll release new versions of the single packages tomorrow. We have made plenty of updates and bug fixes over the last couple of weeks.

[2020-04-22 16:38] jsiegle commented on #336
Was just about to respond to this. To add some context: the original definition of this metric comes from [Hill, Mehta, and Kleinfeld (2011)](https://www.jneurosci.org/content/31/24/8699). The idea behind it is that, out of _N_ spikes in a cluster, some fraction _f<sup>p</sup>_ are from contaminating units. The remainder, _N_(1-_f<sup>p</sup>_), are true spikes. For every true spike, there are two

[2020-04-23 11:29] llobetv commented on #336
You are right, my bad...
So Isi violation for full noised cluster is expected to be close to 0.5?

Isn't their a way to correct the value to get True noise contamination ratio? I make few test and error in calculation seems stable.
Here isi_violation calc for several units with *2. y axis is real contamination and x axis is isi_violation

![image](https://user-images.githubusercontent.com/22896067

[2020-04-23 13:04] llobetv commented on #336
I try to find what sould be calculated isi_violation based on true contamination ratio and I found:
isi_violation = contamination - 0.5*contamination**2

So I solve it and found:
contamination = 1 - (1 - 2*isi_violation)**0.5

It give me this curve which is still not perfect (I don't know what is lacking...) but much better:
![image](https://user-images.githubusercontent.com/22896067/80102765-8954

[2020-04-23 14:43] llobetv commented on #336
I found one issue, I overestimate window duration of 1 sample, but now contamination ration is overestimated of 7%.
![image](https://user-images.githubusercontent.com/22896067/80112620-98db3680-8581-11ea-9849-cb57bbc2f710.png)

For the method I take real unit with isi_violation = 0 and I add random spike, so I know real contamination ratio.
I also calculate  isi on 10th closest spike instead of 1.

[2020-04-23 15:50] alejoe91 commented on #342
Closing this for the moment @yarikoptic

[2020-04-23 15:50] #342 closed

[2020-04-23 16:31] llobetv commented on #336
OK i finally found the origin of overestimation, my std was too high and cannot be inferior to 0.

Here the final curve with 6 units (longer recording so less variability):

![image](https://user-images.githubusercontent.com/22896067/80124494-a21fcf80-8590-11ea-969c-bb33a49abdeb.png)

[2020-04-24 12:26] llobetv opened #349 "CurationSortingExtractor.merge_unit() len(sort_indices) != np.concatenate(shared_features[i]).size"
Hi,

Their is an issue with the line 157, when it try to set feature for the new cluster.
If feature hasn't the same size as spike train, for exemple because you exctract only subpart of waveform in my case,  np.concatenate(shared_features[i])[sort_indices] make it crash as len(sort_indices) <  np.concatenate(shared_features[i]).size.
So their is probably a need for an "if len(sort_indices) == np.

[2020-04-24 12:33] llobetv commented on #349
Their is no link with the previous comment,   but l.159 their is a
raise ValueError(str(unit_ids) + " has one or more invalid unit ids")
That just make the merge function crash, the line should proably place at the beginning of the function with an if?

If you can I can make the PR with the 2 corrections (but only with the case where feature with invalid size are ignore)